<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="max-age=300"/>
    <meta name='keywords' content='$!{date.seo.get(0).seo_keywords}'/>
    <meta name='description' content='$!{date.seo.get(0).seo_description}'/>
    <meta name="applicable-device" content="pc">
     #parse('style.vm')
    <title>$!{data.seo.get(0).seo_title}</title>
</head>
<body>
<div class="head_wrapper">
    #parse("header_pc_cn.vm")

    <div class="pub_search">
        <div class="pub_searchpanel">
            <div class="pub_searchbar">
                <input type="text" placeholder="请输入关键字或产品代码" />
                <div class="pub_searchicon"></div>
            </div>
            <div class="pub_searchhistory">
                <ul>
                    <li>艾贝</li>
                    <li>艾葆绰</li>
                    <li>艾黛儿</li>
                    <li>艾斯格尔独立套间</li>
                </ul>
                <div class="pub_searchall">查看所有搜索结果</div>
            </div>
        </div>
    </div>
    
</div>

<div class="content_wrapper">
	$!{data.static_content}
	#parse("footer_pc_cn.vm")
</div>
</body>
</html>