<footer>
        <div class="footer_menu">
            <ul class="menu_one">
                <li class="item">
                    <h2>关于科勒 </h2>
                    <ul class="menu_two">
                        <li class="first"><a href="#">关于我们</a></li>
                        <li><a href="#">联系我们</a></li>
                        <li><a href="#">新闻中心</a></li>
                        <li><a href="#">售后支持</a></li>
                        <li><a href="#">招贤纳士</a></li>
                        <li><a href="#">网站地图</a></li>
                        <li><a href="#">科勒全球</a></li>
                        <li><a href="#">法律申明</a></li>
                        <li><a href="#">隐私条款</a></li>
                        <li class="last"><a href="#">APP下载</a></li>
                    </ul>
                </li>
                <li class="item">
                    <h2>旗下品牌 </h2>
                    <ul class="menu_two">
                        <li class="first"><a href="#">关于我们</a></li>
                        <li class="last"><a href="#">旗下品牌</a></li>
                    </ul>
                </li>
                <li class="item">
                    <h2>社交媒体 </h2>
                    <ul class="menu_two">
                        <li class="first"><span class="img"><img src="images/share_weibo.gif" align="absmiddle" /></span><a href="#">新浪微博</a></li>
                        <li><span class="img"><img src="images/share_tencent.gif" align="absmiddle" /></span><a href="#">腾讯微博</a></li>
                        <li><span class="img"><img src="images/share_douban.gif" align="absmiddle" /></span><a href="#">豆瓣网</a></li>
                        <li><span class="img"><img src="images/share_renren.gif" align="absmiddle" /></span><a href="#">人人网</a></li>
                        <li><span class="img"><img src="images/share_qzone.gif" align="absmiddle" /></span><a href="#">QQ空间</a></li>
                        <li class="last"><span class="img"><img src="images/share_weixin.gif" align="absmiddle" /></span><a href="#">微信</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="footer_logo"></div>
    </footer>