<div class="pub_footer">
    <div class="subnav">
        <div class="layout about">
            <h4>About Kohler</h4>
            <ul>
                <li><a href="$!{data.base_url}en/about-us/" rel="nofollow">About Us</a></li>
                <li><a href="$!{data.base_url}en/contact/contact-us/" rel="nofollow">Contact Us</a></li>
                <li><a href="$!{data.base_url}en/other/news-center/" rel="nofollow">Press Room</a></li>
                <li><a href="$!{data.base_url}en/support/customer-support/" rel="nofollow">Customer Support</a></li>
                <li><a href="$!{data.base_url}en/about-us/employment/" rel="nofollow">Career</a></li>
            </ul>
        </div>
        <div class="layout">
            <h4><br/></h4>
            <ul>
                <li><a href="" rel="nofollow">Sitemap</a></li>
                <li><a href="http://www.us.kohler.com/us/Kohler-Co-Kitchen-Bath-Sites-Worldwide/content/CNT3700003.htm" rel="nofollow">Kohler Worldwide</a></li>
                <li><a href="$!{data.base_url}en/other/legal/" rel="nofollow">Legal Statement</a></li>
                <li><a href="$!{data.base_url}en/other/privacy/" rel="nofollow">Privacy</a></li>
                <li><a href="$!{data.base_url}en/designer-club/11/" rel="nofollow">App Download</a></li>
            </ul>
        </div>
        <div class="layout brand">
            <h4>KOHLER Co.</h4>
            <ul>
                <li><a href="" rel="nofollow">Sterling</a></li>
                <li><a href="" rel="nofollow">Kallista</a></li>
                <li><a href="" rel="nofollow">Ann Sacks</a></li>
                <li><a href="" rel="nofollow">Robern</a></li>
            </ul>
        </div>
        <div class="layout media">
            <h4>Social Media</h4>
            <ul>
                <li class="blog"><a href="" rel="nofollow"><i></i><span>Sina Weibo</span></a></li>
                <li class="qqblog"><a href="" rel="nofollow"><i></i><span>Tencent Weibo</span></a></li>
                <li class="douban"><a href="" rel="nofollow"><i></i><span>Douban</span></a></li>
                <li class="renren"><a href="" rel="nofollow"><i></i><span>Renren</span></a></li>
                <li class="qzone"><a href="" rel="nofollow"><i></i><span>QQ zone</span></a></li>
                <li class="wechat"><a href="" rel="nofollow"><i></i><span>WeChat</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="pub_copyright">
    <div class="copyright"><p>© Kohler Co. All Rights Reserved</p></div>
</div>
<!-- pub_footer end -->
<div class="product_popup footer_pop">
    <div class="popup_register_panel find_password step_1">
        <div class="pop_close"><img src="$!{data.base_url}/images/icon_close.png" alt=""></div>
        <div class="register_login_panel">
            <div class="register_title forget_title">
                <p class="title">USER VERIFICATION</p>
            </div>
        </div>
        <div class="regline500"></div>
        <div class="forget_panel_bk"></div>
        <form id="findpasswordidentify">
        <div class="register_content clearfix">
            <div class="register_label">
                <label class="label_txt user_veri">PHONE<br />NUMBER</label>
                <span class="control-group" id="mobile_input">
                <input type="text" class="label_input_bar user_label" placeholder="Please enter a valid mobile phone number" name="accountName"/>
                </span>
                <div class="btn_code user_btn send_identify_code">Send verification code</div>
            </div>
        </div>
        <div class="register_content clearfix">
            <div class="register_label">
                <label class="label_txt user_veri">VALIDATE<br />CODE</label>
                <span class="control-group" id="code_input">
                <input type="text" class="label_input_bar user_label" placeholder="Please enter validation code you received" name="identifyCode" />
                </span>
            </div>
        </div>
        </form>
        <div class="register_btn_panel">
            <div class="register_btn forget_btn btn_step1">NEXT</div>    
        </div>
    </div>
    <div class="popup_register_panel find_password step_2">
        <div class="pop_close"><img src="${data.base_url}/images/icon_close.png" alt=""></div>
        <div class="register_login_panel">
            <div class="register_title forget_title">
                <p class="title">RESET PASSWORD</p>
            </div>
        </div>
        <div class="regline500"></div>
        <div class="forget_panel_bk"></div>
        <form id="findandcofirmpassword">
        <input type="hidden" name="accountName">
        <input type="hidden" name="identifyCode">
        <div class="register_content clearfix">
            <div class="register_label">
                <label class="label_txt user_veri w85">NEW<br />PASSWORD</label>
                <span class="control-group" id="first_password_input">
                <input type="password" class="label_input_bar user_label" placeholder="" name="password" id="firstpassowrd_input"/>
                </span>
            </div>
        </div>
        <div class="register_content clearfix">
            <div class="register_label">
                <label class="label_txt user_veri w85">CONFIRM<br />PASSWORD</label>
                <span class="control-group" id="confirm_password_input">
                <input type="password" class="label_input_bar user_label" placeholder="" id="confirmpassowrd_input" />
                </span>
            </div>
        </div>
        </form>
        <div class="register_btn_panel">
            <div class="register_btn forget_btn btn_step2 ml85">NEXT</div>   
            <span class="operation-error" id="operation_error">VERIFICATION IS NOT RIGHT</span>  
        </div>        
    </div>
    <div class="popup_register_panel find_password step_3">
        <div class="pop_close"><img src="${data.base_url}/images/icon_close.png" alt=""></div>
        <div class="register_login_panel">
            <div class="register_title forget_title">
                <p class="title">PASSWORD IS RESET</p>
            </div>
        </div>
        <div class="regline500"></div>
        <div class="forget_panel_bk"></div>
        <div class="success_content">
            <p class="info">Congratulations! Your new password has been saved. <br />You may contact us at the toll-free number below with any other inquiries<br /><span class="tel_info">800-820-2628</span><br />We will be happy to answer any questions you may have.</p>
        </div>     
    </div>
    <div class="popup_register_panel success consumer_success">
        <div class="pop_close" style=""><img src="$!{data.base_url}/images/icon_close.png" alt=""></div>
        <div class="register_login_panel">
            <div class="register_title success_title">
                <p class="title login_logo3">Register</p>
            </div>
        </div>
        <div class="success700"></div>
        <div class="success_content">
            <p class="title"><b>Successful registration</b></p>
            <p class="thanks"><b>Thank you for registering</b></p>
            <p class="info">You've successfully registered.  Thank you for your interest in Kohler.  <br />We've registered you for offline lucky draw and our associate will contact you should you win the prize!</p>
            <img src="$!{data.base_url}/images/ticket.jpg" alt="" class="img_ticket">
            <a href="javascript:;" class="link_tmall">Visit Kohler Tmall Flagship Store</a>
        </div>
        <div class="success700 mb42"></div>
        <div class="register_btn_panel mb40">
            <div class="register_btn confirm_btn">Confirm</div>    
        </div>
    </div>
    <div class="popup_register_panel success member_success">
        <div class="pop_close"><img src="$!{data.base_url}/images/icon_close.png" alt=""></div>
        <div class="register_login_panel">
            <div class="register_title success_title">
                <p class="title login_logo3">Register</p>
            </div>
        </div>
        <div class="success700"></div>
        <div class="success_content">
            <p class="title"><b>Successful registration</b></p>
            <p class="thanks"><b>Thank you for registering</b></p>
            <p class="info">You've successfully registered.  Thank you for your interest in Kohler.  <br />We've registered you for offline lucky draw and our associate will contact you should you win the prize!</p>
        </div>
        <div class="success700 mb42"></div>
        <div class="register_btn_panel mb40">
            <div class="register_btn confirm_btn">Confirm</div>    
        </div>
    </div>
    <div class="popup_register_panel login">
    <form id="login-form" isLogout="login/logout.action" isFreeze="login/islogin.action" action="login/dologin.action">
        <div class="pop_close"><img src="$!{data.base_url}images/icon_close.png" alt=""></div>
        <div class="register_login_panel">
            <div class="register_title login_title">
                <p class="title login_logo3">Sign In</p>
                <p class="info info_color1">Thank you for your continued support.  Your feedback will help<br />us to provide you the with the best experience.</p>
            </div>
        </div>
        <div class="regline500"></div>
        <div class="register_panel w435 clearfix">
            <div class="register_content w435 clearfix">
                <div class="register_label">
                    <label class="label_txt login_txt">User name</label>
                    <input type="text" class="label_input_bar username"  name="userName" data-validate="{required:true}" placeholder="Phone or Email You Used to Register" />
                </div>
            </div>
            <div class="register_content w435 clearfix">
                <div class="register_label">
                    <label class="label_txt login_txt">&nbsp;Password</label>
                    <input type="password" class="label_input_bar password"  name="password" data-validate="{required:true}"  placeholder="●●●●●●●●●●" />
                </div>
            </div>
            <div class="title forget">Forgot Your Password? </div>
        </div>
        <div class="regline500"></div>
        <div class="register_btn_panel mb0">
            <div class="login_btn" id="login_btn_form">Login</div>    
        </div>
	</form>
    </div>

<!--zhuce-->
	<div class="popup_register_panel reg_consumer">
        <div class="pop_close"><img src="$!{data.base_url}/images/icon_close.png" alt=""></div>
        <div class="register_title">
            <p class="title login_logo3">Register</p>
            <p class="info">Welcome to the official website of registered Kohler, browse pictures collection, <br />discover new trends, get product information you need</p>
        </div>
        <div class="popup_reg_content">
            <div class="register_panel clearfix">
                <div class="register_left">
                    <p class="title type_title"><b>ACCOUNT TYPE</b></p>
                    <p class="title2">Describe Yourself</p>
                    <a href="javascript:;" data-type="reg_consumer" class="account_type middle1 choose">Consumer<div class="register_arrow"></div></a>
                    <a href="javascript:;" data-type="reg_home" class="account_type middle2">Architect / Designer<br />for Home</a>
                    <a href="javascript:;" data-type="reg_business" class="account_type middle2">Architect / Designer<br /> for Business</a>
                    <a href="javascript:;" data-type="reg_developer" class="account_type middle1">Developer</a>
                    <a href="javascript:;" data-type="member" class="account_type middle2 member">"Gracious Living"<br /> Club Member</a>
                </div>
                <div class="register_ver_line l364"></div>
                <form id="xfRegisterForm"><!--消费者-->
                   <div class="register_right">
                    <p class="title mb18"><b>Please fill the below informaiton. "<span class="mark"> * </span>" Required field</b></p>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Phone Number<span class="mark"> * </span></label>
                            <span class="control-group" id="check_xf_accountName">
                            <input type="text" name="accountName" id="accountName_xf" class="label_input_bar" placeholder="Please provide correct mobile phone number
" />
							</span>
                            <div class="btn_code xfbtn">Send verification code</div>
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Verification code<span class="mark"> * </span></label>
                            <span class="control-group" id="check_xf_identifyCode">
                            <input type="text" name="identifyCode" id="identifyCode_xf" class="label_input_bar" placeholder="Please enter the verification code you received " />
                            </span>
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Password<span class="mark"> * </span></label>
                            <span class="control-group" id="check_xf_password">
                            <input type="password" name="password" id="password_xf" class="label_input_bar" placeholder="Please enter your password" />
                            </span>
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Email<span class="mark"> * </span></label>
                            <input type="password" name="email" id="email_xf" class="label_input_bar" placeholder="Please enter a valid email address" />
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Home Address</label>
                            <input type="password" name="companyTelephone" id="companyTelephone_xf" class="label_input_bar" placeholder="Please enter a valid phone number" />
                        </div>
                    </div>
                    <div class="register_content clearfix z1">
                        <div class="register_label z2">
                            <label class="label_txt">&nbsp;</label>
                            <div class="search province">
                                <p>Province</p>
                                <ul class="select-panel clearfix">
                                    <li class="option" value=""><a href="javascript:;">Province1</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province2</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province3</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province4</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province5</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province6</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province7</a></li>
                                </ul>
                            </div>
                            <div class="search city">
                                <p>City</p>
                                <ul class="select-panel clearfix">
                                    <li class="option" value=""><a href="javascript:;">City1</a></li>
                                    <li class="option" value=""><a href="javascript:;">City2</a></li>
                                    <li class="option" value=""><a href="javascript:;">City3</a></li>
                                    <li class="option" value=""><a href="javascript:;">City4</a></li>
                                    <li class="option" value=""><a href="javascript:;">City5</a></li>
                                    <li class="option" value=""><a href="javascript:;">City6</a></li>
                                    <li class="option" value=""><a href="javascript:;">City7</a></li>
                                </ul>
                            </div>
                            <div class="search area">
                                <p>District</p>
                                <ul class="select-panel clearfix">
                                    <li class="option" value=""><a href="javascript:;">District1</a></li>
                                    <li class="option" value=""><a href="javascript:;">District2</a></li>
                                    <li class="option" value=""><a href="javascript:;">District3</a></li>
                                    <li class="option" value=""><a href="javascript:;">District4</a></li>
                                    <li class="option" value=""><a href="javascript:;">District5</a></li>
                                    <li class="option" value=""><a href="javascript:;">District6</a></li>
                                    <li class="option" value=""><a href="javascript:;">District7</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">&nbsp;</label>
                            <input type="text" name="address" id="address_xf" class="label_input_bar" placeholder="Address" />
                        </div>
                    </div>
                    <div class="register_content mb0 clearfix mb0">
                        <div class="register_label">
                            <label class="label_txt">&nbsp;</label>
                            <div class="icon_select"></div>
                            <label class="select_txt">Privacy Policy （I agree to the service agreement of Kohler China）</a></label>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="regline700 mt30"></div>
            <div class="register_btn_panel">
                <div class="register_btn consumer_login_btn register_btn_xf">Register</div>    
            </div>
        </div>
    </div>
    <div class="popup_register_panel reg_home">
        <div class="pop_close"><img src="$!{data.base_url}/images/icon_close.png" alt=""></div>
        <div class="register_title">
            <p class="title login_logo3">Register</p>
            <p class="info">Welcome to the official website of registered Kohler, browse pictures collection, <br />discover new trends, get product information you need</p>
        </div>
        <div class="popup_reg_content">
            <div class="register_panel clearfix">
                <div class="register_left">
                    <p class="title type_title"><b>ACCOUNT TYPE</b></p>
                    <p class="title2">Describe Yourself</p>
                    <a href="javascript:;" data-type="reg_consumer" class="account_type middle1">Consumer</a>
                    <a href="javascript:;" data-type="reg_home" class="account_type middle2 choose">Architect / Designer<br />for Home<div class="register_arrow"></div></a>
                    <a href="javascript:;" data-type="reg_business" class="account_type middle2">Architect / Designer<br />for Business</a>
                    <a href="javascript:;" data-type="reg_developer" class="account_type middle1">Developer</a>
                    <a href="javascript:;" data-type="member" class="account_type member middle2">"Gracious Living"<br />Club Member</a>
                </div>
                <div class="register_ver_line l408"></div>
                <form id="jzRegisterForm">
                <div class="register_right">
                    <p class="title mb18"><b>Please fill the below informaiton.  "  <span class="mark"> * </span>" Required field</b></p>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Phone Number<span class="mark"> * </span></label>
                            <span class="control-group" id="check_jz_accountName">
                            <input type="text" name="accountName" id="accountName_jz" class="label_input_bar" placeholder="Please provide correct mobile phone number" />
                            </span>
                            <div class="btn_code jzbtn">Send verification code</div>
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Verification code<span class="mark"> * </span></label>
                            <span class="control-group" id="check_jz_identifyCode">
                            <input type="text" name="identifyCode" id="identifyCode_jz" class="label_input_bar" placeholder="Please enter the verification code you received" />
                            </span>
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Password<span class="mark"> * </span></label>
                            <span class="control-group" id="check_jz_password">
                            <input type="password" name="password" id="password_jz" class="label_input_bar" placeholder="Please enter your password" />
                            </span>
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Email<span class="mark"> * </span></label>
                            <span class="control-group" id="check_jz_email">
                            <input type="text"  name="email" id="email_jz" class="label_input_bar" placeholder="Please enter a valid email address" />
                            </span>
                        </div>
                    </div>
                    <div class="register_content pt3 clearfix">
                        <div class="register_label">
                            <label class="label_txt">&nbsp;</label>
                            <div class="icon_select"></div>
                            <label class="select_txt">New Products</label>
                            <div class="icon_select"></div>
                            <label class="select_txt">Promotion</label>
                            <div class="icon_select"></div>
                            <label class="select_txt">Event Information</label>
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Company Name</label>
                            <input type="text" name="companyName" id="companyName_jz" class="label_input_bar" placeholder="Please enter a valid phone number" />
                        </div>
                    </div>
                    <div class="register_content clearfix z1">
                        <div class="register_label z2">
                            <label class="label_txt">Company Address</label>
                            <div class="search province">
                                <p>Province</p>
                                <ul class="select-panel clearfix">
                                    <li class="option" value=""><a href="javascript:;">Province1</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province2</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province3</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province4</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province5</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province6</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province7</a></li>
                                </ul>
                            </div>
                            <div class="search city">
                                <p>City</p>
                                <ul class="select-panel clearfix">
                                    <li class="option" value=""><a href="javascript:;">City1</a></li>
                                    <li class="option" value=""><a href="javascript:;">City2</a></li>
                                    <li class="option" value=""><a href="javascript:;">City3</a></li>
                                    <li class="option" value=""><a href="javascript:;">City4</a></li>
                                    <li class="option" value=""><a href="javascript:;">City5</a></li>
                                    <li class="option" value=""><a href="javascript:;">City6</a></li>
                                    <li class="option" value=""><a href="javascript:;">City7</a></li>
                                </ul>
                            </div>
                            <div class="search area">
                                <p>District</p>
                                <ul class="select-panel clearfix">
                                    <li class="option" value=""><a href="javascript:;">District1</a></li>
                                    <li class="option" value=""><a href="javascript:;">District2</a></li>
                                    <li class="option" value=""><a href="javascript:;">District3</a></li>
                                    <li class="option" value=""><a href="javascript:;">District4</a></li>
                                    <li class="option" value=""><a href="javascript:;">District5</a></li>
                                    <li class="option" value=""><a href="javascript:;">District6</a></li>
                                    <li class="option" value=""><a href="javascript:;">District7</a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">&nbsp;</label>
                            <input type="text" name="address" id="address_jz" class="label_input_bar" placeholder="Address" />
                        </div>
                    </div>
                    <div class="register_content mb0 clearfix mb0">
                        <div class="register_label">
                            <label class="label_txt">&nbsp;</label>
                            <div class="icon_select"></div>
                            <label class="select_txt">Privacy Policy （I agree to the service agreement of Kohler China）</a></label>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="regline700 mt30"></div>
            <div class="register_btn_panel">
                <div class="register_btn register_btn_jz">Register</div>    
            </div>
        </div>
    </div>
    <div class="popup_register_panel reg_business">
        <div class="pop_close"><img src="$!{data.base_url}/images/icon_close.png" alt=""></div>
        <div class="register_title">
            <p class="title login_logo3">Register</p>
            <p class="info">Welcome to the official website of registered Kohler, browse pictures collection, <br />discover new trends, get product information you need</p>
        </div>
        <div class="popup_reg_content">
            <div class="register_panel clearfix">
                <div class="register_left">
                    <p class="title type_title"><b>ACCOUNT TYPE</b></p>
                    <p class="title2">Describe Yourself</p>
                    <a href="javascript:;" data-type="reg_consumer" class="account_type middle1">Consumer</a>
                    <a href="javascript:;" data-type="reg_home" class="account_type middle2">Architect / Designer<br />for Home</a>
                    <a href="javascript:;" data-type="reg_business" class="account_type choose middle2">Architect / Designer<br />for Business<div class="register_arrow"></div></a>
                    <a href="javascript:;" data-type="reg_developer" class="account_type middle1">Developer</a>
                    <a href="javascript:;" data-type="member" class="account_type member middle2">"Gracious Living"<br />Club Member</a>                    
                </div>
                <div class="register_ver_line l408"></div>
                <form id="gzRegisterForm">
                <div class="register_right">
                    <p class="title mb18"><b>Please fill the below informaiton.  "  <span class="mark"> * </span>" Required field</b></p>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Phone Number<span class="mark"> * </span></label>
                            <span class="control-group" id="check_gz_accountName">
                            <input type="text" name="accountName" id="accountName_gz" class="label_input_bar" placeholder="Please provide correct mobile phone number" />
                            </span>
                            <div class="btn_code gzbtn">Send verification code</div>
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Verification code<span class="mark"> * </span></label>
                            <span class="control-group" id="check_gz_identifyCode">
                            <input type="text" name="identifyCode" id="identifyCode_gz" class="label_input_bar" placeholder="Please enter the verification code you received" />
                            </span>
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Password<span class="mark"> * </span></label>
                            <span class="control-group" id="check_gz_password">
                            <input type="password" name="password" id="password_gz" class="label_input_bar" placeholder="Please enter your password" />
                            </span>
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Email<span class="mark"> * </span></label>
                            <span class="control-group" id="check_gz_email">
                            <input type="text" name="email" id="email_gz" class="label_input_bar" placeholder="Please enter a valid email address" />
                            </span>
                        </div>
                    </div>
                    <div class="register_content pt3 clearfix">
                        <div class="register_label">
                            <label class="label_txt">&nbsp;</label>
                            <div class="icon_select"></div>
                            <label class="select_txt">New Products</label>
                            <div class="icon_select"></div>
                            <label class="select_txt">Promotion</label>
                            <div class="icon_select"></div>
                            <label class="select_txt">Event Information</label>
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Company Phone</label>
                            <input type="text" name="companyTelephone" id="companyTelephone_gz" class="label_input_bar" placeholder="Please enter a valid phone number" />
                        </div>
                    </div>
                    <div class="register_content clearfix z1">
                        <div class="register_label z2">
                            <label class="label_txt">Company Address</label>
                            <div class="search province">
                                <p>Province</p>
                                <ul class="select-panel clearfix">
                                    <li class="option" value=""><a href="javascript:;">Province1</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province2</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province3</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province4</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province5</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province6</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province7</a></li>
                                </ul>
                            </div>
                            <div class="search city">
                                <p>City</p>
                                <ul class="select-panel clearfix">
                                    <li class="option" value=""><a href="javascript:;">City1</a></li>
                                    <li class="option" value=""><a href="javascript:;">City2</a></li>
                                    <li class="option" value=""><a href="javascript:;">City3</a></li>
                                    <li class="option" value=""><a href="javascript:;">City4</a></li>
                                    <li class="option" value=""><a href="javascript:;">City5</a></li>
                                    <li class="option" value=""><a href="javascript:;">City6</a></li>
                                    <li class="option" value=""><a href="javascript:;">City7</a></li>
                                </ul>
                            </div>
                            <div class="search area">
                                <p>District</p>
                                <ul class="select-panel clearfix">
                                    <li class="option" value=""><a href="javascript:;">District1</a></li>
                                    <li class="option" value=""><a href="javascript:;">District2</a></li>
                                    <li class="option" value=""><a href="javascript:;">District3</a></li>
                                    <li class="option" value=""><a href="javascript:;">District4</a></li>
                                    <li class="option" value=""><a href="javascript:;">District5</a></li>
                                    <li class="option" value=""><a href="javascript:;">District6</a></li>
                                    <li class="option" value=""><a href="javascript:;">District7</a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">&nbsp;</label>
                            <input type="text" name="address" id="address_gz" class="label_input_bar" placeholder="Address" />
                        </div>
                    </div>
                    <div class="register_content mb0 clearfix mb0">
                        <div class="register_label">
                            <label class="label_txt">&nbsp;</label>
                            <div class="icon_select"></div>
                            <label class="select_txt">Privacy Policy （I agree to the service agreement of Kohler China）</a></label>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="regline700 mt30"></div>
            <div class="register_btn_panel">
                <div class="register_btn register_btn_gz">Register</div>    
            </div>
        </div>
    </div>
    <div class="popup_register_panel reg_developer">
        <div class="pop_close"><img src="$!{data.base_url}/images/icon_close.png" alt=""></div>
        <div class="register_title">
            <p class="title login_logo3">Register</p>
            <p class="info">Welcome to the official website of registered Kohler, browse pictures collection, <br />discover new trends, get product information you need</p>
        </div>
        <div class="popup_reg_content">
        
        <form id="kfRegisterForm">
            <div class="register_panel clearfix">
                <div class="register_left">
                    <p class="title type_title"><b>ACCOUNT TYPE</b></p>
                    <p class="title2">Describe Yourself</p>
                    <a href="javascript:;" data-type="reg_consumer" class="account_type middle1">Consumer</a>
                    <a href="javascript:;" data-type="reg_home" class="account_type middle2">Architect / Designer<br />for Home</a>
                    <a href="javascript:;" data-type="reg_business" class="account_type middle2">Architect / Designer<br />for Business</a>
                    <a href="javascript:;" data-type="reg_developer" class="account_type choose middle1">Developer<div class="register_arrow"></div></a>
                    <a href="javascript:;" data-type="member" class="account_type member middle2">"Gracious Living"<br />Club Member</a> 
                </div>
                <div class="register_ver_line l595"></div>
                <div class="register_right">
                    <p class="title mb18"><b>Please fill the below informaiton.  "  <span class="mark"> * </span>" Required field</b></p>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Phone Number<span class="mark"> * </span></label>
                            <span class="control-group" id="check_kf_accountName">
                            <input type="text" name="accountName" id="accountName_kf" class="label_input_bar" placeholder="Please provide correct mobile phone number" />
                            </span>
                            <div class="btn_code kfbtn">Send verification code</div>
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Verification code<span class="mark"> * </span></label>
                            <span class="control-group" id="check_kf_identifyCode">
                            <input type="text" name="identifyCode" id="identifyCode_kf" class="label_input_bar" placeholder="Please enter the verification code you received" />
                            </span>
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Password<span class="mark"> * </span></label>
                            <span class="control-group" id="check_kf_password">
                            <input type="password" name="password" id="password_kf" class="label_input_bar" placeholder="Please enter your password" />
                            </span>
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Email<span class="mark"> * </span></label>
                            <span class="control-group" id="check_kf_email">
                            <input type="text"  name="email" id="email_kf" class="label_input_bar" placeholder="Please enter a valid email address" />
                            </span>
                        </div>
                    </div>
                    <div class="register_content pt3 clearfix">
                        <div class="register_label">
                            <label class="label_txt">&nbsp;</label>
                            <div class="icon_select"></div>
                            <label class="select_txt">New Products</label>
                            <div class="icon_select"></div>
                            <label class="select_txt">Promotion</label>
                            <div class="icon_select"></div>
                            <label class="select_txt">Event Information</label>
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Company Name<span class="mark"> * </span></label>
                            <input type="text" name="companyName" id="companyName_kf" class="label_input_bar" placeholder="Please enter a valid phone number" />
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Corporations sector</label>
                            <input type="text" name="companyPosition" id="companyPosition_kf" class="label_input_bar" placeholder="" />
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">Corporations Phone</label>
                            <input type="text" name="companyTelephone" id="companyTelephone_kf" class="label_input_bar" placeholder="" />
                        </div>
                    </div>
                    <div class="register_content clearfix z1">
                        <div class="register_label z2">
                            <label class="label_txt">Company Address</label>
                            <div class="search province">
                                <p>Province</p>
                                <ul class="select-panel clearfix">
                                    <li class="option" value=""><a href="javascript:;">Province1</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province2</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province3</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province4</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province5</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province6</a></li>
                                    <li class="option" value=""><a href="javascript:;">Province7</a></li>
                                </ul>
                            </div>
                            <div class="search city">
                                <p>City</p>
                                <ul class="select-panel clearfix">
                                    <li class="option" value=""><a href="javascript:;">City1</a></li>
                                    <li class="option" value=""><a href="javascript:;">City2</a></li>
                                    <li class="option" value=""><a href="javascript:;">City3</a></li>
                                    <li class="option" value=""><a href="javascript:;">City4</a></li>
                                    <li class="option" value=""><a href="javascript:;">City5</a></li>
                                    <li class="option" value=""><a href="javascript:;">City6</a></li>
                                    <li class="option" value=""><a href="javascript:;">City7</a></li>
                                </ul>
                            </div>
                            <div class="search area">
                                <p>District</p>
                                <ul class="select-panel clearfix">
                                    <li class="option" value=""><a href="javascript:;">District1</a></li>
                                    <li class="option" value=""><a href="javascript:;">District2</a></li>
                                    <li class="option" value=""><a href="javascript:;">District3</a></li>
                                    <li class="option" value=""><a href="javascript:;">District4</a></li>
                                    <li class="option" value=""><a href="javascript:;">District5</a></li>
                                    <li class="option" value=""><a href="javascript:;">District6</a></li>
                                    <li class="option" value=""><a href="javascript:;">District7</a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <div class="register_content clearfix">
                        <div class="register_label">
                            <label class="label_txt">&nbsp;</label>
                            <input type="text" name="address" id="address_kf" class="label_input_bar" placeholder="Address" />
                        </div>
                    </div>
                    <div class="register_content pt3 clearfix">
                        <div class="register_label">
                            <label class="label_txt">Favorite Sport</label>
                            <div class="register_select_bar clearfix">
                                <div class="icon_select"></div>
                                <label class="select_txt">Golf</label>
                                <div class="icon_select"></div>
                                <label class="select_txt">Running</label>
                                <div class="icon_select"></div>
                                <label class="select_txt mr0">Tennis</label>
                            </div>
                            <div class="register_select_bar clearfix">
                                <div class="icon_select"></div>
                                <label class="select_txt">Soccer</label>
                                <div class="icon_select"></div>
                                <label class="select_txt">Basketball</label>
                                <div class="icon_select"></div>
                                <label class="select_txt mr0">Badminton</label>
                            </div>
                            <div class="register_select_bar ml122 clearfix">
                                <div class="icon_select"></div>
                                <label class="select_txt mr0">Others</label>
                            </div>
                        </div>
                    </div>
                    <div class="register_content mb0 clearfix mb0">
                        <div class="register_label">
                            <label class="label_txt">&nbsp;</label>
                            <div class="icon_select"></div>
                            <label class="select_txt">Privacy Policy （I agree to the service agreement of Kohler China）</a></label>
                        </div>
                    </div>
                </div>
            </div>
            </form>
            <div class="regline700 mt30"></div>
            <div class="register_btn_panel">
                <div class="register_btn register_btn_kf">Register</div>    
            </div>
        </div>
    </div>
    <div class="popup_register_panel member">
        <div class="pop_close"><img src="$!{data.base_url}/images/icon_close.png" alt=""></div>
        <div class="register_title">
            <p class="title login_logo3">Register</p>
            <p class="info">Welcome to the official website of registered Kohler, browse pictures collection, <br />discover new trends, get product information you need</p>
        </div>
        <div class="popup_reg_content">
            <div class="register_panel clearfix">
                <div class="register_left">
                    <p class="title type_title"><b>ACCOUNT TYPE</b></p>
                    <p class="title2">Describe Yourself</p>
                    <a href="javascript:;" data-type="reg_consumer" class="account_type middle1">Consumer</a>
                    <a href="javascript:;" data-type="reg_home" class="account_type middle2">Architect / Designer<br />for Home</a>
                    <a href="javascript:;" data-type="reg_business" class="account_type middle2">Architect / Designer<br />for Business</a>
                    <a href="javascript:;" data-type="reg_developer" class="account_type middle1">Developer</a>
                    <a href="javascript:;" data-type="member" class="account_type member middle2">"Gracious Living"<br />Club Member<div class="register_arrow"></div></a> 
                </div>
                <div class="register_ver_line l364"></div>
                <div class="register_right">
                    <div class="member_bar">
                        <img src="$!{data.base_url}/images/member1.jpg" alt="">
                        <p class="info">Dear Gracious Living Club Member, <br />thank you for your continuous support to Kohler.  We have invited you to register <br />on our official web site, please check your email, confirm your registration and <br />start enjoy your gracious journey with Kohler China.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup_compare_panel">
        <div class="popup_compare_details_panel">
            <div class="compare_title">Compare Products</div>
            <div class="icon_close2"></div>
            <div class="compare_content_bar">
                <div class="compare_details_list clearfix"></div>
                <div class="clearfix"></div>
                <div class="compare_details_info clearfix">
                    <div class="compare_info_list first_list">
                        <div class="compare_grid first_grid"><p><b>One-piece/Two-piece</b></p></div>
                        <div class="compare_grid bkwhite"><p><b>Rough-In</b></p></div>
                        <div class="compare_grid"><p><b>Flushing Type</b></p></div>
                        <div class="compare_grid bkwhite"><p><b>Toilet Seat Style</b></p></div>
                        <div class="compare_grid"><p><b>Size</b></p></div>
                        <div class="compare_grid bkwhite"><p><b>Bowl Height</b></p></div>
                        <div class="compare_grid"><p><b>Bowl Shape</b></p></div>
                        <div class="compare_grid last_grid bkwhite"><p><b>Note</b></p></div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>