<header>
        <div class="head_w">
            <div class="head">
                <div class="home homebg">
                    <div class="home_wrap"><img src="images/header_home.png"></div>
                </div>
                <div class="logo_b"><img src="images/logo_b.png"></div>
                <div class="search"><img src="images/header_search.png"></div>
            </div>
            <div class="hid">
                <div class="menu">
                    <ul class="one_menu">
                        <li><div class="one"><span class="words">卫浴产品</span><span class="img"></span></div>
                            <ul class="sub_menu">
                                <li><div class="sub"><span class="words">一体 · 超感座便器</span><span class="img"></span></div>
                                    <ul class="three_menu">
                                        <li><div><span class="words">全部分类</span></div></li>
                                        <li><div><span class="words">全部</span></div></li>
                                        <li><div><span class="words">全部</span></div></li>
                                    </ul>
                                </li>
                                <li><div class="sub"><span class="words">座便器</span><span class="img"></span></div>
                                    <ul class="three_menu">
                                        <li><div><span class="words">全部分类</span></div></li>
                                        <li><div><span class="words">全部</span></div></li>
                                        <li><div><span class="words">全部</span></div></li>
                                    </ul>
                                </li>
                                <li><div class="sub"><span class="words">座便器盖板</span><span class="img"></span></div>
                                    <ul class="three_menu">
                                        <li><div><span class="words">全部分类</span></div></li>
                                        <li><div><span class="words">全部</span></div></li>
                                        <li><div><span class="words">全部</span></div></li>
                                    </ul>
                                </li>
                                <li><div class="sub"><span class="words">浴室龙头</span><span class="img"></span></div>
                                    <ul class="three_menu">
                                        <li><div><span class="words">全部分类</span></div></li>
                                        <li><div><span class="words">台盆龙头</span></div></li>
                                        <li><div><span class="words">龙头配件</span></div></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><div class="one"><span class="words">厨房产品</span><span class="img"></span></div>
                            <ul class="sub_menu">
                                <li><div class="sub"><span class="words">梳妆</span><span class="img"></span></div>
                                    <ul class="three_menu">
                                        <li><div><span class="words">全部</span></div></li>
                                        <li><div><span class="words">全部</span></div></li>
                                        <li><div><span class="words">全部</span></div></li>
                                    </ul>
                                </li>
                                <li><div><span class="words">梳妆</span><span class="img"></span></div></li>
                                <li><div><span class="words">梳妆</span><span class="img"></span></div></li>
                                <li><div><span class="words">梳妆</span><span class="img"></span></div></li>
                            </ul>
                        </li>
                        <li><div class="one"><span class="words">家具畅想</span><span class="img"></span></div>
                            <ul class="sub_menu">
                                <li><div class="sub"><span class="words">梳妆</span><span class="img"></span></div>
                                    <ul class="three_menu">
                                        <li><div><span class="words">全部</span></div></li>
                                        <li><div><span class="words">全部</span></div></li>
                                        <li><div><span class="words">全部</span></div></li>
                                    </ul>
                                </li>
                                <li><div><span class="words">梳妆</span><span class="img"></span></div></li>
                                <li><div><span class="words">梳妆</span><span class="img"></span></div></li>
                                <li><div><span class="words">梳妆</span><span class="img"></span></div></li>
                            </ul>
                        </li>
                        <li><div class="one"><span class="words">设计师之家</span><span class="img"></span></div></li>
                        <li><div class="one"><span class="words">最新资讯</span><span class="img"></span></div></li>
                    </ul>
                </div>
                <div class="nav">
                    <ul>
                        <li class="find"><span class="img"><img src="images/find_b.png"></span><span class="words">查找店铺</span></li>
                        <li class="collection"><span class="img"><img src="images/collection_b.png"></span><span class="words">我的收藏</span></li>
                        <li class="login"><span class="img"><img src="images/login_b.png"></span><span class="words">登陆 / 注册</span></li>
                        <li class="english"><span class="img"><img src="images/english_b.png"></span><span class="words">English</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="head_b">
            <div class="head">
                <div class="home"><img src="images/head_close.png"></div>
                <div class="logo_b"><img src="images/logo_w.png"></div>
                <div class="search"><img src="images/headw_search.png"></div>
            </div>
            <div class="hid">
                <div class="nav">
                    <ul>
                        <li class="login line"><span class="img"><img src="images/login_w.png"></span><span class="words">卫浴产品</span></li>
                        <li class="collection"><span class="img"><img src="images/collection_w.png"></span><span class="words">卫浴产品</span></li>
                        <li class="find line"><span class="img"><img src="images/find_w.png"></span><span class="words">查找店铺</span></li>
                        <li class="english"><span class="img"><img src="images/english_w.png"></span><span class="words">卫浴产品</span></li>
                    </ul>
                </div>
                <div class="menu">
                    <ul class="one_menu">
                        <li><div class="one"><span class="words">卫浴产品</span><span class="img"></span></div>
                            <ul class="sub_menu">
                                <li>
                                    <ul class="three_menu">
                                        <li><div><span class="words">梳妆</span><span class="img"></span></div>
                                            <ul class="four_menu">
                                                <li><div><span class="words">台盆浴室</span></div></li>
                                                <li><div><span class="words">家具</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                            </ul>
                                        </li>
                                        <li><div><span class="words">浴室配件</span><span class="img"></span></div>
                                            <ul class="four_menu">
                                                <li><div><span class="words">台盆浴室</span></div></li>
                                                <li><div><span class="words">家具</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                            </ul>   
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="three_menu">
                                        <li><div><span class="words">梳妆</span><span class="img"></span></div>
                                            <ul class="four_menu">
                                                <li><div><span class="words">台盆浴室</span></div></li>
                                                <li><div><span class="words">家具</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                            </ul>
                                        </li>
                                        <li><div><span class="words">浴室配件</span><span class="img"></span></div>
                                            <ul class="four_menu">
                                                <li><div><span class="words">台盆浴室</span></div></li>
                                                <li><div><span class="words">家具</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                            </ul>   
                                        </li>
                                    </ul>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </li>
                        <li><div class="one"><span class="words">厨房产品</span><span class="img"></span></div>
                            <ul class="sub_menu">
                                <li>
                                    <ul class="three_menu">
                                        <li><div><span class="words">梳妆</span><span class="img"></span></div>
                                            <ul class="four_menu">
                                                <li><div><span class="words">台盆浴室</span></div></li>
                                                <li><div><span class="words">家具</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                            </ul>
                                        </li>
                                        <li><div><span class="words">浴室配件</span><span class="img"></span></div>
                                            <ul class="four_menu">
                                                <li><div><span class="words">台盆浴室</span></div></li>
                                                <li><div><span class="words">家具</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                            </ul>   
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="three_menu">
                                        <li><div><span class="words">梳妆</span><span class="img"></span></div>
                                            <ul class="four_menu">
                                                <li><div><span class="words">台盆浴室</span></div></li>
                                                <li><div><span class="words">家具</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                            </ul>
                                        </li>
                                        <li><div><span class="words">浴室配件</span><span class="img"></span></div>
                                            <ul class="four_menu">
                                                <li><div><span class="words">台盆浴室</span></div></li>
                                                <li><div><span class="words">家具</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                            </ul>   
                                        </li>
                                    </ul>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </li>
                        <li><div class="one"><span class="words">家具畅想</span><span class="img"></span></div>
                            <ul class="sub_menu">
                                <li>
                                    <ul class="three_menu">
                                        <li><div><span class="words">梳妆</span><span class="img"></span></div>
                                            <ul class="four_menu">
                                                <li><div><span class="words">台盆浴室</span></div></li>
                                                <li><div><span class="words">家具</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                            </ul>
                                        </li>
                                        <li><div><span class="words">浴室配件</span><span class="img"></span></div>
                                            <ul class="four_menu">
                                                <li><div><span class="words">台盆浴室</span></div></li>
                                                <li><div><span class="words">家具</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                            </ul>   
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="three_menu">
                                        <li><div><span class="words">梳妆</span><span class="img"></span></div>
                                            <ul class="four_menu">
                                                <li><div><span class="words">台盆浴室</span></div></li>
                                                <li><div><span class="words">家具</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                            </ul>
                                        </li>
                                        <li><div><span class="words">浴室配件</span><span class="img"></span></div>
                                            <ul class="four_menu">
                                                <li><div><span class="words">台盆浴室</span></div></li>
                                                <li><div><span class="words">家具</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                                <li><div><span class="words">镜柜／镜子系列</span></div></li>
                                            </ul>   
                                        </li>
                                    </ul>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </li>
                        <li><div class="one"><span class="words">设计师之家</span><span class="img"></span></div></li>
                        <li><div class="one"><span class="words">最新资讯</span><span class="img"></span></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>