<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="max-age=300"/>
    <meta name='keywords' content='$!{data.seo.get(0).seo_keywords}'/>
    <meta name='description' content='$!{data.seo.get(0).seo_description}'/>
    <meta name="applicable-device" content="pc">
    #parse("style.vm")
    #parse("sec_style.vm")
	<script>
		var navshow=true;
	</script>
    <title>$!{data.seo.get(0).seo_title}</title>
</head>
<body>
<!-- pub_header start -->
#parse("header_pc_cn.vm")
<!-- pub_header end -->
<!-- pub_banner start -->
<div class="pub_banner index">
    <div class="subwrapper index">
	
		#if(${data.hero_areas})
		#foreach($hero_areas in ${data.hero_areas})
			#if($velocityCount==1)
			#if(${hero_areas.type}==10080001)<!--type为10080001 的是图片-->
		    <a href="${hero_areas.target_url}" target="$!{hero_areas.operation}"   class="bgimg actived"><img src="${hero_areas.image_url}" alt="$!{hero_areas.image_alt}"	style="width:1280px;height:650px;"></a>
			#end
			#if(${hero_areas.type}==10080002)<!--type为10080002 的是视频-->
		    <div class="bgimg actived"><div id="d$velocityCount" class="d0"></div>
			 <script type='text/javascript'>
			$(function(){
				/**
				 * 使用说明
				 * 首先载入上方的 CSS文件以及JS文件
				 * 本播放器强制了FLASH格式，也就是说只支持FLV视频格式，如果要兼容其他视频格式，需要调整JS代码
				 * SWF为FLASH播放器的路径地址
				 * 参数说明
				 * arguments[0]:需要载入播放器的容器ID
				 * width : 播放器宽度
				 * height : 播放器的高度
				 * autoplay : 是否自动播放
				 * loop : 是否循环播放
				 * poster ： 播放器播放之前展示的图片
				 * flv : Flash 视频的地址
				 */
				// 视频播放器代码
				var myVideo = new MYPUMA.PumaVideo('$!{data.base_url}js/video-js.swf');
				myVideo.create('d$velocityCount',{'width':1280,'height':650,'autoplay':false,'loop':false,'poster':'$!{hero_areas.image_url}','flv':'$!{hero_areas.video_url}'});
				var videoobj = _V_($('#d$velocityCount').attr('videoid'));
				videoobj.addEvent('pause',function(){
					console.log(this.el);
					$(this.el).find('img.vjs-poster').css('display','block');

				});
			});
        
    </script>
			</div>
			
			#end
			#end
			
			#if($velocityCount!=1)
			#if(${hero_areas.type}==10080001)<!--type为10080001 的是图片-->
		    <a href="${hero_areas.target_url}" target="$!{hero_areas.operation}"   class="bgimg"><img src="${hero_areas.image_url}" alt="$!{hero_areas.image_alt}" style="width:1280px;height:650px;"></a>
			#end
			#if(${hero_areas.type}==10080002)<!--type为10080002 的是视频-->
		    <div class="bgimg"><div id="d$velocityCount" class="d0"></div>
			 <script type='text/javascript'>
			$(function(){
				/**
				 * 使用说明
				 * 首先载入上方的 CSS文件以及JS文件
				 * 本播放器强制了FLASH格式，也就是说只支持FLV视频格式，如果要兼容其他视频格式，需要调整JS代码
				 * SWF为FLASH播放器的路径地址
				 * 参数说明
				 * arguments[0]:需要载入播放器的容器ID
				 * width : 播放器宽度
				 * height : 播放器的高度
				 * autoplay : 是否自动播放
				 * loop : 是否循环播放
				 * poster ： 播放器播放之前展示的图片
				 * flv : Flash 视频的地址
				 */
				// 视频播放器代码
				var myVideo = new MYPUMA.PumaVideo('$!{data.base_url}js/video-js.swf');
				myVideo.create('d$velocityCount',{'width':1280,'height':650,'autoplay':false,'loop':false,'poster':'${hero_areas.image_url}','flv':'${hero_areas.video_url}'});
				var videoobj = _V_($('#d$velocityCount').attr('videoid'));
				videoobj.addEvent('pause',function(){
					console.log(this.el);
					$(this.el).find('img.vjs-poster').css('display','block');

				});
			});
        
    </script>
			</div>
			
			#end
			#end
        #end   
        #end   
		#if(${data.hero_areas})
		 <div class="logo_bar">
			
			#foreach($hero_areas in ${data.hero_areas})
			#if(${hero_areas.type}==10080001)<!--type为10080001 的是图片-->
				$!{hero_areas.image_overlay_text}
			#end
		 
			#if(${hero_areas.type}==10080002)<!--type为10080002 的是视频-->
				<a href="" class="logo">
                <h2><i class="mainlogo"></i></h2>
    
                <p></p>
				</a>
			#end
			
			#end
			
		 
		 </div>
		 #end
		
		
		 
        <div class="banner_page clearfix">
           
		#if(${data.hero_areas})
		#foreach($tempindex in [1..${data.hero_areas.size()}])
			#if($tempindex == 1)
			
			<span index="$tempindex" class="selected"></span>
			#else	  
			<span index="$tempindex"></span>
		#end
		#end
		#end
        </div>
    </div>
</div>
<!-- pub_banner end -->
<!-- index_content start -->
<div class="index_content">

  	#if(${data.banner_units})
    <div class="column">
		
		#foreach($banner_units in ${data.banner_units})
		#if($velocityCount>=1 && $velocityCount<=3)
		
		#if(${banner_units.type}==10080001)<!--type为1 的是图片-->
        <a href="$!{banner_units.target_url}" class="item" target="$!{banner_units.operation}&nbsp;">
            <div class="item_img"><img src="${banner_units.file_id}" alt="$!{banner_units.image_alt}"	style="width:300px;height:230px;"/></div>
			$!{banner_units.image_overlay_text}	
		</a>
		#end
		
		#if(${banner_units.type}==10080002)<!--type为10080002 的是图片-->
       <a class="item">
				<div class="item_img"><!-- <img src="images/bathroom_item1.jpg" alt=""/> --><div id='banner$velocityCount'></div></div>
				$!{banner_units.image_overlay_text}			
		</a>
			<script type='text/javascript'>
			$(function(){
				/**
				 * 使用说明
				 * 首先载入上方的 CSS文件以及JS文件
				 * 本播放器强制了FLASH格式，也就是说只支持FLV视频格式，如果要兼容其他视频格式，需要调整JS代码
				 * SWF为FLASH播放器的路径地址
				 * 参数说明
				 * arguments[0]:需要载入播放器的容器ID
				 * width : 播放器宽度
				 * height : 播放器的高度
				 * autoplay : 是否自动播放
				 * loop : 是否循环播放
				 * poster ： 播放器播放之前展示的图片
				 * flv : Flash 视频的地址
				 */
				// 视频播放器代码

						var myVideo = new MYPUMA.PumaVideo('$!{data.base_url}js/video-js.swf');
						myVideo.create('banner$velocityCount',{'width':300,'height':230,'autoplay':false,'loop':false,'poster':'${banner_units.file_id}','flv':'${banner_units.video_url}'});
			});
        
			</script>
			#end
				
					
				
		
		
      #end 
      #end 
	</div>
	 #end 
	 
	 #if(${data.banner_units})
    <div class="column">
		
		#foreach($banner_units in ${data.banner_units})
		#if($velocityCount>=4 && $velocityCount<=6)
	
        #if(${banner_units.type}==10080001)<!--type为1 的是图片-->
         <a href="$!{banner_units.target_url}" class="item" target="$!{banner_units.operation}&nbsp;">
            <div class="item_img"><img src="${banner_units.file_id}" alt="$!{banner_units.image_alt}" style="width:300px;height:230px;"/></div>
			$!{banner_units.image_overlay_text}	
		</a>
		#end
		#if(${banner_units.type}==10080002)<!--type为10080002 的是图片-->
       <a class="item">
				<div class="item_img"><!-- <img src="images/bathroom_item1.jpg" alt=""/> --><div id='banner$velocityCount'></div></div>
				$!{banner_units.image_overlay_text}			
		</a>
			<script type='text/javascript'>
			$(function(){
				/**
				 * 使用说明
				 * 首先载入上方的 CSS文件以及JS文件
				 * 本播放器强制了FLASH格式，也就是说只支持FLV视频格式，如果要兼容其他视频格式，需要调整JS代码
				 * SWF为FLASH播放器的路径地址
				 * 参数说明
				 * arguments[0]:需要载入播放器的容器ID
				 * width : 播放器宽度
				 * height : 播放器的高度
				 * autoplay : 是否自动播放
				 * loop : 是否循环播放
				 * poster ： 播放器播放之前展示的图片
				 * flv : Flash 视频的地址
				 */
				// 视频播放器代码

						var myVideo = new MYPUMA.PumaVideo('$!{data.base_url}js/video-js.swf');
						myVideo.create('banner$velocityCount',{'width':300,'height':230,'autoplay':false,'loop':false,'poster':'${banner_units.file_id}','flv':'${banner_units.video_url}'});
			});
        
			</script>
			#end
      #end 
      #end 
	</div>
	 #end 


	 
	
</div>
	<div class="index_series">
    <h2>探索科勒无限可能</h2>

    <div class="series_panel">
		#if(${data.hot_spots})
		#foreach($hot_spots in ${data.hot_spots})
			
		$!{hot_spots.content}
			
		#end
		#end

     

      
		
		 
    </div>
    <div id="series_scroll" class="series_scroll">
        <ul id="scroll_panel" class="scroll_panel clearfix">
			#if(${data.hot_spots})
			#foreach($hot_spots in ${data.hot_spots})
				#if($velocityCount==1)
				 <li icon-nums="3" data-top="70,350,275" data-left="850,440,80"><span 
					class="selected"></span><img src="${hot_spots.image_id}" alt=""/></li>
				#end
				
				#if($velocityCount==2  && $velocityCount!=${data.hot_spots.size()})
				  <li icon-nums="2" data-top="100,200" data-left="200,500"><span></span><img src="${hot_spots.image_id}" alt=""/></li>
				#end
				
				#if($velocityCount==2  && $velocityCount==${data.hot_spots.size()})
				 <li class="last"><span></span><img src="${hot_spots.image_id}"  alt=""></li>
				#end
				
				#if($velocityCount==3  && $velocityCount!=${data.hot_spots.size()})
				  <li icon-nums="4" data-top="150,250,350,400" data-left="250,350,450,550"><span></span><img src="${hot_spots.image_id}" alt=""/></li>
				#end
				
				#if($velocityCount==3  && $velocityCount==${data.hot_spots.size()})
				 <li class="last"><span></span><img src="${hot_spots.image_id}"  alt=""></li>
				#end
				
				#if($velocityCount>3     && $velocityCount!=${data.hot_spots.size()})
					 <li icon-nums="0"><span></span><img 

						src="${hot_spots.image_id}" alt=""/></li>
				#end
				#if($velocityCount>3    && $velocityCount==${data.hot_spots.size()})
					 <li class="last"><span></span><img 

						src="${hot_spots.image_id}" alt=""/></li>
				#end
			#end
			#end
        </ul>
    </div>
    <div class="scroll">
        <div id="scrollbar" class="scrollbar">
            <div class="handle"></div>
        </div>
    </div>
</div>
<!-- index_content end -->

<!-- BEGIN Comm100 Live Chat Button Code -->
	<a href="#" target="_blank" onclick="comm100_10004437.openChatWindow(event,2213,-1);return false;">
		<img style="border:0px" id="comm100_ButtonImage" src="https://solution.comm100.cn/livechatserver/BBS.aspx?siteId=10004437&amp;planId=2213&amp;partnerId=-1"></img>
	</a>
	<script src="https://solution.comm100.cn/livechatserver/js/LiveChat.js?siteId=10004437&amp;planId=2213&amp;partnerId=-1" type="text/javascript"></script>
<!-- End Comm100 Live Chat Button Code -->

<!-- pub_totop start -->
<div class="pub_totop">
    <div class="totop_btn"><img src="$!{data.base_url}images/totop.png" alt=""></div>
    <span>返回顶部</span>
</div>
<!-- pub_totop end -->
<!-- pub_footer start -->
#parse("footer_pc_cn.vm")
</div>
</body>
</html>