<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="max-age=300"/>
    <meta name='keywords' content='$!{data.seo.get(0).seo_keywords}'/>
    <meta name='description' content='$!{data.seo.get(0).seo_description}'/>
    <meta name="applicable-device" content="pc">
    #parse("style_en.vm")
    <title>$!{data.seo.get(0).seo_title}</title>
</head>
<body>
<div class="head_wrapper">
#parse("header_pc_en.vm")
   #if(${data.breadcrumb_name})
   <div class="pub_submenu page_menu clearfix">
        <div class="submenu_panel bread actived">
            <div class="bread_panel clearfix">
              
				 #foreach($breadcrumb_name in ${data.breadcrumb_name})
				 <a class="bread_link" href="${breadcrumb_name.url}">$!{breadcrumb_name.name}</a>
				  <div class="bread_link" ><img src="${data.base_url}images/arrow2.png" alt=""></div>
                
				#end
            </div>
        </div>
    </div>
	#end
   
</div>
<div class="content_wrapper">
<div class="pub_banner product">
    <div class="subwrapper kitchen">
     	#if(${data.hero_areas})
	 #foreach($hero_areas in ${data.hero_areas})
	 
	 
	 #if($velocityCount==1)
	 #if(${hero_areas.type}==10080001)
	 <div class="bgimg actived"><a href="${hero_areas.target_url}" target="${hero_areas.operation}"><img src="${hero_areas.image_url}" alt="${hero_areas.image_alt}" 	style="width:1280px;height:500px;"></a></div>
	 #end
	 
	  #if(${hero_areas.type}==10080002)<!--type为10080002 的是视频-->
		    <div class="bgimg actived"><div id="dd$velocityCount" class="d0"></div>
			 <script type='text/javascript'>
			$(function(){
				/**
				 * 使用说明
				 * 首先载入上方的 CSS文件以及JS文件
				 * 本播放器强制了FLASH格式，也就是说只支持FLV视频格式，如果要兼容其他视频格式，需要调整JS代码
				 * SWF为FLASH播放器的路径地址
				 * 参数说明
				 * arguments[0]:需要载入播放器的容器ID
				 * width : 播放器宽度
				 * height : 播放器的高度
				 * autoplay : 是否自动播放
				 * loop : 是否循环播放
				 * poster ： 播放器播放之前展示的图片
				 * flv : Flash 视频的地址
				 */
				// 视频播放器代码
				var myVideo = new MYPUMA.PumaVideo('$!{data.base_url}js/video-js.swf');
				myVideo.create('dd$velocityCount',{'width':1280,'height':500,'autoplay':false,'loop':false,'poster':'${hero_areas.image_url}','flv':'${hero_areas.video_url}'});
				var videoobj = _V_($('#dd$velocityCount').attr('videoid'));
				videoobj.addEvent('pause',function(){
					console.log(this.el);
					$(this.el).find('img.vjs-poster').css('display','block');

				});
			});
        
			</script>
			</div>
			
		#end
		#end
		
		
		 #if($velocityCount!=1)
	 #if(${hero_areas.type}==10080001)
	 <div class="bgimg"><a href="${hero_areas.target_url}" target="${hero_areas.operation}"><img src="${hero_areas.image_url}" alt="${hero_areas.image_alt}"	style="width:1280px;height:500px;"></a></div>
	 #end
	 
	  #if(${hero_areas.type}==10080002)<!--type为10080002 的是视频-->
		    <div class="bgimg"><div id="dd$velocityCount" class="d0"></div>
			 <script type='text/javascript'>
			$(function(){
				/**
				 * 使用说明
				 * 首先载入上方的 CSS文件以及JS文件
				 * 本播放器强制了FLASH格式，也就是说只支持FLV视频格式，如果要兼容其他视频格式，需要调整JS代码
				 * SWF为FLASH播放器的路径地址
				 * 参数说明
				 * arguments[0]:需要载入播放器的容器ID
				 * width : 播放器宽度
				 * height : 播放器的高度
				 * autoplay : 是否自动播放
				 * loop : 是否循环播放
				 * poster ： 播放器播放之前展示的图片
				 * flv : Flash 视频的地址
				 */
				// 视频播放器代码
				var myVideo = new MYPUMA.PumaVideo('$!{data.base_url}js/video-js.swf');
				myVideo.create('dd$velocityCount',{'width':1280,'height':500,'autoplay':false,'loop':false,'poster':'${hero_areas.image_url}','flv':'${hero_areas.video_url}'});
				var videoobj = _V_($('#dd$velocityCount').attr('videoid'));
				videoobj.addEvent('pause',function(){
					console.log(this.el);
					$(this.el).find('img.vjs-poster').css('display','block');

				});
			});
        
			</script>
			</div>
			
		#end
		#end
		#end
		
		#if(${data.hero_areas})
		 <div class="logo_bar">
			
			#foreach($hero_areas in ${data.hero_areas})
			#if(${hero_areas.type}==10080001)<!--type为10080001 的是图片-->
				$!{hero_areas.image_overlay_text}
			#end
		 
			#if(${hero_areas.type}==10080002)<!--type为10080002 的是视频-->
				<a href="" class="logo">
                <h2><i class="mainlogo"></i></h2>
    
                <p></p>
				</a>
			#end
			
			#end
			
		 
		 </div>
		 #end
		
        <div class="banner_page product_icon clearfix">
		 #foreach($hero_areas in ${data.hero_areas})
		 #if(${velocityCount}==1)
			 <span index="${velocityCount}" class="selected"></span>
			#else
			 <span index="${velocityCount}"></span>
			#end
		#end
		#end
        </div>
    </div>
</div>
<div class="product_content newbaths">
    <div class="list">
        <div class="column clearfix">
            <div class="title clearfix">
                <h2 class="left">$!{data.new_product.get(0).name}</h2>
            </div>
            
         	#if(${data.banner_units})
		 #foreach($banner_units in ${data.banner_units})
			 #if(${banner_units.type}==10080001)<!--type为10080001的是图片-->
            <div class="item">
				<a href="$!{banner_units.target_url}"  > 
                <div class="item_img">
                   <img src="$!{banner_units.file_id}" alt="$!{banner_units.image_alt}" 	style="width:312px;height:220px;"/>
                </div>
					$!{banner_units.image_overlay_text}		 
				</a>
            </div>
			#end
			#if(${banner_units.type}==10080002)<!--type为10080002的是视频-->
			<div class="item">
				<div class="item_img"><!-- <img src="images/bathroom_item1.jpg" alt=""/> --><div id='dNew$velocityCount'></div></div>
			<a href="$!{banner_units.target_url}"  > 
							$!{banner_units.image_overlay_text}
			</a>
			</div>
			<script type='text/javascript'>
				$(function(){
					/**
					 * 使用说明
					 * 首先载入上方的 CSS文件以及JS文件
					 * 本播放器强制了FLASH格式，也就是说只支持FLV视频格式，如果要兼容其他视频格式，需要调整JS代码
					 * SWF为FLASH播放器的路径地址
					 * 参数说明
					 * arguments[0]:需要载入播放器的容器ID
					 * width : 播放器宽度
					 * height : 播放器的高度
					 * autoplay : 是否自动播放
					 * loop : 是否循环播放
					 * poster ： 播放器播放之前展示的图片
					 * flv : Flash 视频的地址
					 */
					// 视频播放器代码

							var myVideo = new MYPUMA.PumaVideo('$!{data.base_url}js/video-js.swf');
							myVideo.create('dNew$velocityCount',{'width':312,'height':220,'autoplay':false,'loop':false,'poster':'$!{banner_units.file_id}','flv':'$!{banner_units.video_url}'});
				});
        
			</script>
			#end
			
			#end
			#end
        </div>
    </div> 
</div>
<div class="pub_totop">
    <div class="totop_btn"><img src="${data.base_url}images/totop.png" alt=""></div>
    <span>Back to top</span>
</div>
#parse("footer_pc_en.vm")
</body>
</html>