<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="max-age=300"/>
    <meta name='keywords' content='$!{date.seo.get(0).seo_keywords}'/>
    <meta name='description' content='$!{date.seo.get(0).seo_description}'/>
    <meta name="applicable-device" content="pc">
     #parse('style.vm')
     <script type="text/javascript" src="${data.base_url}js/zoom.js"></script>
     <script type="text/javascript" src="http://s7d4.scene7.com/s7viewers/html5/js/FlyoutViewer.js"></script>
	 <script type="text/javascript" src="${data.base_url}js/scene72.js"></script>
    <script type="text/javascript" src="${data.base_url}js/product.js"></script>
    <script type="text/javascript" src="${data.base_url}js/favorite.js"></script>
	   #if($data.product.size() >= 1)
    	<script type="text/javascript" src="${data.base_url}js/data${data.product.get(0).product_code}.js"></script>
    #end 
    <title>$!{data.seo.get(0).seo_title}</title>

</head>
<body>
<div class="head_wrapper">
       <!--pub_header start-->
	   	#parse('header_pc_cn.vm')
	   <!--pub_header end-->
    <div class="pub_submenu pdp_menu clearfix">
        <div class="submenu_panel bread">
            <div class="bread_panel clearfix">
            #if(${data.breadcrumb_name})
					#set($Index=1)  
			    #foreach($param in ${data.breadcrumb_name})
						#if($Index > 1)
						  <div class="bread_link" ><img src="${data.base_url}images/arrow2.png" alt=""></div>
						#end	
						<a class="bread_link" href="${param.url}">
						$!{param.name}</a>
						#set($Index=$Index+1)  
			    #end
			#end  
            </div>
        </div>
    </div>
    <div class="pub_search">
        <div class="pub_searchpanel">
            <div class="pub_searchbar">
                <input type="text" placeholder="请输入关键字或产品代码" />
                <div class="pub_searchicon"></div>
            </div>
            <div class="pub_searchhistory">
                <ul>
                    <li>艾贝</li>
                    <li>艾葆绰</li>
                    <li>艾黛儿</li>
                    <li>艾斯格尔独立套间</li>
                </ul>
                <div class="pub_searchall">查看所有搜索结果</div>
            </div>
        </div>
    </div>
</div>
<div class="content_wrapper pdp">
<div class="product_warp clearfix">
    <div class="product_pic">
                <div class="product_main_pic">
            <div class="imgbox">
  				<div class="probox"><img src="${data.base_url}images/arts_06.jpg"><div class="hoverbox"></div></div>
  				<div class="showbox"><img src="${data.base_url}images/arts_06.jpg"></div>
			</div>
            <div class="img-thumbnail-list clearfix">
                <div class="slides-bar" id="slides" style="display:none">
                <div href="#" class="previous"></div>
                <div id="pdplist">
                    <ul class="clearfix">
                    </ul>
                </div>    
                    <div href="#" class="next"></div>
                </div>
            </div>
        </div>
        <div class="product_title"><h2>$!{data.product.get(0).product_name}</h2></div>
        <div class="line560"></div>
        <ul class="product_intro">
        #if(${data.product.feature})
            ${data.product.feature.get(0)}
        #end
        </ul>
        <h3>产品属性</h3>

        <div class="line560"></div>
        <ul class="product_property">
        #if(${data.common_attr})
            #foreach($param in ${data.common_attr})
	   		<li><b>$!{param.category_com_attr_name}: </b>$!{param.value}</li>
	    	#end
	    #end
        </ul>
        <h3>获奖情况</h3>

        <div class="line560"></div>
        <ul class="product_brand_logo clearfix">
            <li><img src="$!{data.base_url}images/brand_logo1.jpg"/></li>
            <li><img src="$!{data.base_url}images/brand_logo2.jpg"/></li>
            <li><img src="$!{data.base_url}images/brand_logo3.jpg"/></li>
        </ul>
    </div>
    <div class="product_rightcontent">
        <div class="product_feature">
            <h1>${data.product.get(0).product_name}<br /><span></span></h1>
						<!--显示产品属性区域-->
            <div class="proattr"></div>
            <ul class="product_car_btn clearfix" id="product_car_btn">
                <li class="product_btn_car"><i class="icon_car"></i>在线购买</li>
            </ul>
            <ul class="product_bottom_btn clearfix">
                <li class="product_btn compare">产品对比<input type="hidden" id="pdpSkuMetadataId" value="10102003"></li>
                <li class="product_btn">收藏</li>
                <li class="product_btn2" id="share"></li>
                <li class="collection" style="display: none;">
                	<ul class="sharenav" style="display: block;">
                    	<li class="title">分享到：</li>
                        <li class="sina"><a class="jiathis_button_tsina">新浪微博</a></li>
                        <li class="weixin"><a class="jiathis_button_weixin">微信</a></li>
                        <li class="email">Email分享</li>
                        <li class="douban"><a class="jiathis_button_douban">豆瓣</a></li>
                        <li class="qq"><a class="jiathis_button_qzone">QQ空间</a</li>
               		</ul>
                </li>
                <input type="hidden" id="imgUrlForPdp" value="${data.base_url}">
                <input type="hidden" id="thisPageLang" value="1">
            </ul>
        </div>
        
        <div class="product_video">产品视频</div>
        <div class="product_video_content">
        #if($data.product_video)
        #foreach($param in ${data.product_video})
            <div class="item">
            <div class="item_img"><div id='d$velocityCount' ></div></div>
			<script type='text/javascript'>
        $(function(){
            /**
             * 使用说明
             * 首先载入上方的 CSS文件以及JS文件
             * 本播放器强制了FLASH格式，也就是说只支持FLV视频格式，如果要兼容其他视频格式，需要调整JS代码
             * SWF为FLASH播放器的路径地址
             * 参数说明
             * arguments[0]:需要载入播放器的容器ID
             * width : 播放器宽度
             * height : 播放器的高度
             * autoplay : 是否自动播放
             * loop : 是否循环播放
             * poster ： 播放器播放之前展示的图片
             * flv : Flash 视频的地址
             */
            // 视频播放器代码
            var myVideo = new MYPUMA.PumaVideo('$!{data.base_url}js/video-js.swf');
            myVideo.create('d$velocityCount',{'width':312,'height':220,'autoplay':false,'loop':false,'poster':'$!{data.base_url}images/about1.jpg','flv':'$!{param.video_url}'});
        });
   	 </script>	
   	  </div>	
      #end	
      #end
            <p>产品视频介绍 <p>
        </div>
        <div class="product_template">文档下载</div>
        <div class="line320"></div>
        <ul class="product_tech_data">
        #if(${data.product_pdf})
             #foreach($param in ${data.product_pdf})
        	<li>$!{param.pdf_name}</li>
             #end
        #end
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<div class="product_warp">
	<!-- start-->
	#if(${data.recommended})
    <div class="product_title_fx">座便器安装三件套及盖板</div>
    <div class="product_associated clearfix pro1">
        <div class="slides-bar" id="pro_slides">
        <ul class="clearfix">
        
        #foreach($param in ${data.recommended})
        	<li>	
            <a href="$!{param.product_url}">
                <div class="item_img"><img src="${param.list_image_url_real}" alt="${param.list_image_alt}"></div>
				<span>
					<h3>$!{param.product_name}</h3>
					<p>$!{param.collection_name}</p>
					<p class="type">$!{param.sku_code}</p>
				</span>
            </a>
        	</li>
        	#end
        	
        </ul>
       <div href="#" class="slidesjs_previous"></div>
       <div href="#" class="slidesjs_next"></div>
        </div>
    </div>
    #end
    <!-- end-->
    
    <div class="product_title_fx">相同价位的同样设计风格的产品</div>
    <div class="product_associated clearfix boxmgn">
        <div class="slides-bar" id="slides2">
        <ul class="clearfix">
        #if(${data.same_price})
            #foreach($param in ${data.same_price})
        <li>
            <a href="$!{param.product_url}">
            <div class="item_img"><img src="${param.list_image_url_real}" alt="${param.list_image_alt}"></div>
					<span>
						<h3>$!{param.product_name}</h3>
						<p>$!{param.collection_name}</p>
						<p class="type">$!{param.sku_code}</p>
					</span>
            </a>
        </li>
           #end
        #end
        </ul>
        </div>
    </div>
    <div class="product_title_fx product_mgnbottom">同产品线不同冲水平台的产品</div>
    <div class="index_series">
        <div class="series_panel clearfix">
        #if(${data.same_line})
        #foreach($param in ${data.same_line})
        #if($velocityCount==1)
            <div class="series_panel_img  actived"><img src="${param.detail_image_url_real}" width='960' height='540'></div>
            #end
            #if($velocityCount!=1)
            <div class="series_panel_img"><img src="${param.detail_image_url_real}" width='960' height='540'></div>
            #end
            #end
            #end
            
             #if(${data.same_line})
        #foreach($param in ${data.same_line})
        #if($velocityCount==1)
           <div class="series_info showtext"><h4>${param.product_name}</h4><p>${param.collection_name}</p> </div>
            #end
            #if($velocityCount!=1)
         	 <div class="series_info"><h4>${param.product_name}</h4><p>${param.collection_name}</p> </div>

            #end
            #end
            #end
         </div>   
      
        <div id="series_scroll" class="series_scroll">
            <ul id="scroll_panel" class="scroll_panel clearfix">
            #foreach($param in ${data.same_line})
            	#if($velocityCount==1)
                <li><span class="selected"></span><img src="${param.list_image_url_real}"	width='160' height='90'/></li>
                #end
                #if($velocityCount!=1)
                <li><span></span><img src="${param.list_image_url_real}"	width='160' height='90'/></li>
                #end
                #end
            </ul>    
        </div>
    
        <div class="scroll">
            <div id="scrollbar" class="scrollbar">
                <div class="handle"></div>
            </div>
        </div>
    </div>
    <div class="product_data_text service"	>服务与支持</div>
    <div class="line960"></div>
    <div class="product_support_text">如您对此产品有任何疑问请致电我们的工作人员，他们会即使给您答复。</div>
    <ul class="product_contact">
        <li><b>联系方式：</b></li>
        <li><b>400-800-4537</b></li>
        <li class="product_contact_last">上午8:00至下午5:00，周一至周五</li>
    </ul>
    <div class="product_email_me"><p>给我们发邮件</p></div>
    <ul class="product_email_tips bottom">
        <li><span>保养和清洁小贴士</span></li>
        <li><span>担保信息</span></li>
    </ul>

</div>
<div class="pub_totop">
    <div class="totop_btn"><img src="${data.base_url}images/totop.png" alt=""></div>
    <span>返回顶部</span>
</div>
#parse("footer_pc_cn.vm")
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
</body>
 <script>
$(document).ready(function() {
	
if(jsonsku){
		var json=eval('('+jsonsku+')');
		$(json.sku).each(function(){
		    var real_attr = this.real_attr.replace(/&/g,'"');
		    this.real_attr = eval('('+real_attr+')');
		});
		for(var i =0;i<json.sku_attributes.length;i++)
    {
		//有几个属性则追加几个ul
		$(".proattr").append("<p><b>"+json.sku_attributes[i].attrname+"：</b><span></span></p><ul class='product_param_warp clearfix' attrname='"+json.sku_attributes[i].attrname+"'></ul>");
		//循环属性的下属个数，追加li，并且赋值
		for(var z=0;z<json.sku_attributes[i].sku_attributes_values.length;z++) {
            //如果attr_image_url为空则显示文本
            if (json.sku_attributes[i].sku_attributes_values[z].attr_image_url == "") {
                var oli = document.createElement('li');
                $(".proattr ul").eq(i).append(oli);
                oli.realAttr = {
                    'attrName': json.sku_attributes[i].attrname,
                    'attrValue': json.sku_attributes[i].sku_attributes_values[z].attr_value,
                    'attrId': json.sku_attributes[i].sku_id,
                    'attrThisId':json.sku_attributes[i].sku_attributes_values[z].category_sku_attr_values_metadata_id
                }
                $(oli).append(json.sku_attributes[i].sku_attributes_values[z].attr_value);
                // oli.realAttr
                //	.append("<li realAttr=sku_attr_id!@"+json.sku_attributes[i].sku_attr_id+":"+json.sku_attributes[i].sku_attributes_values[z].attr_value+">"+json.sku_attributes[i].sku_attributes_values[z].attr_value+"</li>")
            } else {
                //如果attr_image_url不为空则显示小图标，并且修改类名
                $(".proattr ul").eq(i).removeClass("product_param_warp").addClass("product_color_warp");
                var oli = document.createElement('li');
                oli.realAttr = {
                    'attrName': json.sku_attributes[i].attrname,
                    'attrValue': json.sku_attributes[i].sku_attributes_values[z].attr_value,
                    'attrId': json.sku_attributes[i].sku_id,
                    'attrThisId':json.sku_attributes[i].sku_attributes_values[z].category_sku_attr_values_metadata_id
                };
                $(".proattr ul").eq(i).append(oli);
                $(oli).append('<img src='+json.sku_attributes[i].sku_attributes_values[z].attr_image_url+'/>');

            }
        }
    }
    var checkData = function(i,data)
    {
        var uls = $('.proattr ul');
        var realArr = [];
        var sku = json.sku;
        var skuArr = [];
        var index = -1;
        var indata = false;
        $(sku).each(function(){
            $(this.real_attr).each(function(){
                if(this.sku_attr_name == data.attrName)
                {
                    indata = true;
                }
            });
        });
        if(indata == false)
        {
            return  -1;
        }
        realArr.push(data);
        uls.each(function(z){
            if(z != i)
            {
                var lis = $(this).find('li');
                lis.each(function(){
                    if($(this).hasClass('selected'))
                    {
                        realArr.push(this.realAttr);
                    }
                });
            }
        });
        $(sku).each(function(d){
            var real_attr = this.real_attr;
            var confirm = true;
            $(realArr).each(function(){

                var attrName = this.attrName;
                var attrValue = this.attrValue;
                $(real_attr).each(function(){
                  //  console.log(this);
                  //  console.log(this.sku_attr_name+'=='+attrName+'&&'+this.sku_attr_value_name+'=='+attrValue);
                    if(this.sku_attr_name == attrName)
                    {
                        if(this.sku_attr_value_name != attrValue)
                        {
                            confirm = false
                        }
                    }
                });

            });
            if(confirm == true )
            {
                index = d;
            }
        });
        return index;
    };
    var eventBind = function()
    {
        var uls = $('.proattr ul');

        uls.each(function(i){
            var lis = $(this).find('li');
            lis.click(function(){

                var thisid = checkData(i,this.realAttr);
                if( thisid>= 0)
                {
                    $(this).addClass('selected').siblings().removeClass('selected');
                    ddd(json,json.sku[thisid]);
                }

		//mark heat
		productHeatRecords();

            });
        });
    };
    eventBind();
	//设置默认产品
	for(var i=0;i<json.sku.length;i++){
        //默认高亮的小图标
		if(json.sku[i].is_default == true){
			ddd(json,json.sku[i]);
		}
		//点击属性时，获取属性值，对比组合是否存在

	};
    // pdp缩略图
    $('.img-thumbnail-list').hover(function() {
        $(this).addClass('show');
        $('#slides').show();
    })
    $('.img-thumbnail-list').mouseleave(function() {
        $(this).removeClass('show');
        $('#slides').hide();
    })
		 var scrollUlLeft = 0,    //.scroll_ul 初使化时的 left 值为 0
          prevAllow = true,    //为了防止连续点击上一页按钮
          nextAllow = true,    //为了防止连续点击下一页按钮
		  scrollUlWidth = $('#pdplist ul li').outerWidth(true);   //单个 li 的宽度
	 //点击上一页	
	$("#slides .previous").click(function(){
		if (prevAllow) {
			prevAllow = false;
			scrollUlLeft = scrollUlLeft - scrollUlWidth;
			$('#pdplist ul').css('left', scrollUlLeft);
			//复制最后一个 li 并插入到 ul 的最前面
            $('#pdplist ul li:last').clone(true).prependTo('#pdplist ul');
			//删除最后一个 li
            $('#pdplist ul li:last').remove();
			$('#pdplist ul').animate({
                left : scrollUlLeft + scrollUlWidth
            }, 300, function() {
                scrollUlLeft = parseInt($('#pdplist ul').css('left'), 10);
                prevAllow = true;
            })
			}
		});
		
	//点击下一页	
	$("#slides .next").click(function(){	
		if (nextAllow) {
			nextAllow = false;
			$('#pdplist ul').animate({
                left : scrollUlLeft - scrollUlWidth
            }, 300, function() {
                scrollUlLeft = parseInt($('#pdplist ul').css('left'), 10);
                scrollUlLeft = scrollUlLeft + scrollUlWidth;
                $('#pdplist ul').css('left', scrollUlLeft);
                //复制第一个 li 并插入到 ul 的最后面
                $('#pdplist ul li:first').clone(true).appendTo('#pdplist ul');
                //删除第一个 li
                $('#pdplist ul li:first').remove();
                nextAllow = true;
            });
		}
	});
}
});
</script>	
</html>