<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="max-age=300"/>
    <meta name='keywords' content='$!{data.seo_keywords}&nbsp;'/>
    <meta name='description' content='$!{data.seo_description}&nbsp;'/>
    <meta name="applicable-device" content="pc">
    #parse("style.vm")
    <script type="text/javascript" src="${data.base_url}js/registeraonntation.js"></script>
    <script type="text/javascript" src="${data.base_url}js/chinaweb.js"></script>
    #parse("sec_style.vm")
    <title>$!{data.seo_title}&nbsp;</title>
</head>
<body>
<!-- pub_header start -->
#parse("header_pc_cn.vm")
<!-- pub_header end -->
<!-- pub_banner start -->

<div class="content_wrapper">
<div class="register_banner">
    <img src="images/reg1.jpg" alt="">
</div>
<div class="register_title">
    <p class="title">感谢您的注册</p>
    <p class="info">欢迎注册科勒官方网站，浏览图片集，探索新趋势，获取您所需要的产品信息</p>
</div>
<div class="regline700"></div>
<div class="register_panel clearfix">
    <div class="register_left">
        <a href="registerconsumer1.html" class="account_type">消费者</a>
        <a href="registerhome1.html" class="account_type">家装设计师</a>
        <a href="registerbusiness1.html" class="account_type">工装设计师</a>
        <a href="registerdeveloper1.html" class="account_type choose">开发商<div class="register_arrow"></div></a>
        <a href="registermember1.html" class="account_type member">雅悦荟会员</a>
    </div>
    <div class="register_ver_line"></div>
    <form id="kfRegisterForm">
    <div class="register_right">
        <p class="title mb18"><b>请根据提示填写您的个人信息&nbsp;“<span class="mark"> * </span>”&nbsp;为必填项</b></p>
        <div class="register_content clearfix">
            <div class="register_label">
                <label class="label_txt">手机号码<span class="mark"> * </span></label>
                <span class="control-group" id="check_kf_accountName">
                <input type="text" name="accountName" id="accountName_kf" class="label_input_bar" placeholder="" />
                </span>
                <!-- <div class="btn_code">发送验证码</div> -->
            </div>
        </div>
<!--         <div class="register_content clearfix">
            <div class="register_label">
                <label class="label_txt">验证码<span class="mark"> * </span></label>
                <input type="text" class="label_input_bar" placeholder="请输入手机中收到的验证码" />
            </div>
        </div> -->
        <div class="register_content clearfix">
            <div class="register_label">
                <label class="label_txt">登录密码<span class="mark"> * </span></label>
                <span class="control-group" id="check_kf_password">
                <input type="password" name="password" id="password_kf" class="label_input_bar" placeholder="" />
                </span>
            </div>
        </div>
        <div class="register_content clearfix">
            <div class="register_label">
                <div class="regline345"></div>
                <div class="label_txt2">个人基本信息</div>
            </div>
        </div>
        <div class="register_content clearfix">
            <div class="register_label">
                <label class="label_txt">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名<span class="mark"> * </span></label>
                <span class="control-group" id="check_kf_realName">
                <input type="text" name="realName" id="realName_kf" class="label_input_bar" placeholder="代用名" />
                </span>
            </div>
        </div>
        <div class="register_content clearfix">
            <div class="register_label">
                <label class="label_txt">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱<span class="mark"> * </span></label>
                <span class="control-group" id="check_kf_email">
                <input type="text" name="email" id="email_kf" class="label_input_bar" placeholder="Member@hotmail.com" />
                </span>
            </div>
        </div>
        <div class="register_content pt3 clearfix">
            <div class="register_label">
                <label class="label_txt">&nbsp;</label>
                <div class="icon_select"></div>
                <label class="select_txt">新品发布</label>
                <div class="icon_select"></div>
                <label class="select_txt">促销信息</label>
                <div class="icon_select"></div>
                <label class="select_txt">活动资讯</label>
            </div>
        </div>
        <div class="register_content clearfix">
            <div class="register_label">
                <label class="label_txt">公司名称<span class="mark"> * </span></label>
                <span class="control-group" id="check_kf_companyName">
                <input type="text" name="companyName" id="companyName_kf" class="label_input_bar" placeholder="预填公司名称" />
                </span>
            </div>
        </div>
        <div class="register_content clearfix">
            <div class="register_label">
                <label class="label_txt">部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;门<span class="mark"> * </span></label>
                <span class="control-group" id="check_kf_companyDepartment">
                <input type="text" name="companyDepartment" id="companyDepartment_kf" class="label_input_bar" placeholder="预填部门名称" />
                </span>
            </div>
        </div>
        <div class="register_content clearfix">
            <div class="register_label">
                <label class="label_txt">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位</label>
                <input type="text" name="companyPosition" id="companyPosition_kf" class="label_input_bar" placeholder="预填职位名称" />
            </div>
        </div>
        <div class="register_content clearfix">
            <div class="register_label">
                <label class="label_txt">公司电话</label>
                <input type="text" name="companyTelephone" id="companyTelephone_kf" class="label_input_bar" placeholder="" />
            </div>
        </div>
        <div class="register_content clearfix z1">
            <div class="register_label z2">
                <label class="label_txt">公司地址</label>
                <div class="search province">
                    <p>预填省份</p>
                    <ul class="select-panel clearfix">
                        <li class="option" value=""><a href="javascript:;">省份1</a></li>
                        <li class="option" value=""><a href="javascript:;">省份2</a></li>
                        <li class="option" value=""><a href="javascript:;">省份3</a></li>
                        <li class="option" value=""><a href="javascript:;">省份4</a></li>
                        <li class="option" value=""><a href="javascript:;">省份5</a></li>
                        <li class="option" value=""><a href="javascript:;">省份6</a></li>
                        <li class="option" value=""><a href="javascript:;">省份7</a></li>
                    </ul>
                </div>
                <div class="search city"> 
                    <p>预填城市</p>
                    <ul class="select-panel clearfix">
                        <li class="option" value=""><a href="javascript:;">城市1</a></li>
                        <li class="option" value=""><a href="javascript:;">城市2</a></li>
                        <li class="option" value=""><a href="javascript:;">城市3</a></li>
                        <li class="option" value=""><a href="javascript:;">城市4</a></li>
                        <li class="option" value=""><a href="javascript:;">城市5</a></li>
                        <li class="option" value=""><a href="javascript:;">城市6</a></li>
                        <li class="option" value=""><a href="javascript:;">城市7</a></li>
                    </ul>
                </div>
                <div class="search area">
                    <p>预填区域</p>
                    <ul class="select-panel clearfix">
                        <li class="option" value=""><a href="javascript:;">城市1</a></li>
                        <li class="option" value=""><a href="javascript:;">城市2</a></li>
                        <li class="option" value=""><a href="javascript:;">城市3</a></li>
                        <li class="option" value=""><a href="javascript:;">城市4</a></li>
                        <li class="option" value=""><a href="javascript:;">城市5</a></li>
                        <li class="option" value=""><a href="javascript:;">城市6</a></li>
                        <li class="option" value=""><a href="javascript:;">城市7</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="register_content clearfix">
            <div class="register_label">
                <label class="label_txt">&nbsp;</label>
                <input type="text" name="address" id="address_kf" class="label_input_bar" placeholder="详细地址" />
            </div>
        </div>
        <div class="register_content pt3 clearfix">
            <div class="register_label sports_select">
                <label class="label_txt">您喜欢的<br />运动</label>
                <div class="register_select_bar clearfix">
                    <div class="icon_select"></div>
                    <label class="select_txt">高尔夫</label>
                    <div class="icon_select"></div>
                    <label class="select_txt">跑步</label>
                    <div class="icon_select"></div>
                    <label class="select_txt mr0">网球</label>
                </div>
                <div class="register_select_bar clearfix">
                    <div class="icon_select"></div>
                    <label class="select_txt">足球</label>
                    <div class="icon_select"></div>
                    <label class="select_txt">篮球</label>
                    <div class="icon_select"></div>
                    <label class="select_txt mr0">羽毛球</label>
                </div>
                <div class="register_select_bar clearfix">
                    <label class="label_txt">&nbsp;</label>
                    <div class="icon_select"></div>
                    <label class="select_txt mr0">其他</label>
                </div>
            </div>
        </div>
        <div class="register_content mb0 clearfix mb0">
            <div class="register_label">
                <label class="label_txt">&nbsp;</label>
                <div class="icon_select"></div>
                <label class="select_txt">我已阅读并同意 <a class="link_agree" href="">科勒中国官网服务协议</a></label>
            </div>
        </div>
    </div>
    </form>
</div>
<div class="regline700 mt30"></div>
<div class="register_btn_panel">
    <div class="register_btn register_yqkf" id="reg_btn">注册</div>    
</div>
<div class="pub_totop">
    <div class="totop_btn"><img src="images/totop.png" alt=""></div>
    <span>返回顶部</span>
</div>
<!-- pub_totop end -->
<!-- pub_footer start -->
#parse("footer_pc_cn.vm")
</div>
</body>
</html>