<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="max-age=300"/>
    <meta name='keywords' content='$!{data.seo_keywords}&nbsp;'/>
    <meta name='description' content='$!{data.seo_description}&nbsp;'/>
    <meta name="applicable-device" content="pc">
    #parse("style.vm")
    <script type="text/javascript" src="${data.base_url}js/registeraonntation.js"></script>
    <script type="text/javascript" src="${data.base_url}js/chinaweb.js"></script>
    #parse("sec_style.vm")
    <title>$!{data.seo_title}&nbsp;</title>
</head>
<body>
<!-- pub_header start -->
#parse("header_pc_cn.vm")
<!-- pub_header end -->
<!-- pub_banner start -->

<div class="content_wrapper">
<div class="register_banner">
    <img src="${data.base_url}images/reg1.jpg" alt="">
</div>
<div class="register_title">
    <p class="title">感谢您的注册</p>
    <p class="info">欢迎注册科勒官方网站，浏览图片集，探索新趋势，获取您所需要的产品信息</p>
</div>
<div class="regline700"></div>
<form id="kfRegisterForm">
	<div class="register_panel clearfix">
	    <div class="register_left">
	        <a href="registerconsumer1.html" class="account_type choose">消费者<div class="register_arrow"></div></a>
	        <a href="registerhome1.html" class="account_type">家装设计师</a>
	        <a href="registerbusiness1.html" class="account_type">工装设计师</a>
	        <a href="registerdeveloper1.html" class="account_type">开发商</a>
	        <a href="registermember1.html" class="account_type member">雅悦荟会员</a>
	    </div>
	    <div class="register_ver_line"></div>
	    <div class="register_right">
	        <p class="title mb18"><b>请根据提示填写您的个人信息&nbsp;“<span class="mark"> * </span>”&nbsp;为必填项</b></p>
	        <div class="register_content clearfix">
	            <div class="register_label">
	                <label class="label_txt">手机号码<span class="mark" id=""> * </span></label>
	                <span class="control-group" id="check_xf_accountName">
	                <input type="text" name="accountName" id="accountName_xf" class="label_input_bar" placeholder="" />
	                </span>
	                <!-- <div class="btn_code">发送验证码</div> -->
	            </div>
	        </div>
	<!--         <div class="register_content clearfix">
	            <div class="register_label">
	                <label class="label_txt">验证码<span class="mark"> * </span></label>
	                <input type="text" class="label_input_bar" placeholder="请输入手机中收到的验证码" />
	            </div>
	        </div> -->
	        <div class="register_content clearfix">
	            <div class="register_label">
	                <label class="label_txt">登录密码<span class="mark"> * </span></label>
	                <span class="control-group" id="check_xf_password">
	                <input type="password" id="password_xf" name="password" class="label_input_bar" placeholder="" />
	                </span>
	            </div>
	        </div>
	        
	        <div class="register_content clearfix z1">
	            <div class="register_label z2">
	                <label class="label_txt">所在区域</label>
	                <div class="search province">
	                    <p>预填省份</p>
	                    <ul class="select-panel clearfix">
	                        <li class="option" value=""><a href="javascript:;">省份1</a></li>
	                        <li class="option" value=""><a href="javascript:;">省份2</a></li>
	                        <li class="option" value=""><a href="javascript:;">省份3</a></li>
	                        <li class="option" value=""><a href="javascript:;">省份4</a></li>
	                        <li class="option" value=""><a href="javascript:;">省份5</a></li>
	                        <li class="option" value=""><a href="javascript:;">省份6</a></li>
	                        <li class="option" value=""><a href="javascript:;">省份7</a></li>
	                    </ul>
	                </div>
	                <div class="search city">
	                    <p>预填城市</p>
	                    <ul class="select-panel clearfix">
	                        <li class="option" value=""><a href="javascript:;">城市1</a></li>
	                        <li class="option" value=""><a href="javascript:;">城市2</a></li>
	                        <li class="option" value=""><a href="javascript:;">城市3</a></li>
	                        <li class="option" value=""><a href="javascript:;">城市4</a></li>
	                        <li class="option" value=""><a href="javascript:;">城市5</a></li>
	                        <li class="option" value=""><a href="javascript:;">城市6</a></li>
	                        <li class="option" value=""><a href="javascript:;">城市7</a></li>
	                    </ul>
	                </div>
	                <div class="search area">
	                    <p>预填区域</p>
	                    <ul class="select-panel clearfix">
	                        <li class="option" value=""><a href="javascript:;">城市1</a></li>
	                        <li class="option" value=""><a href="javascript:;">城市2</a></li>
	                        <li class="option" value=""><a href="javascript:;">城市3</a></li>
	                        <li class="option" value=""><a href="javascript:;">城市4</a></li>
	                        <li class="option" value=""><a href="javascript:;">城市5</a></li>
	                        <li class="option" value=""><a href="javascript:;">城市6</a></li>
	                        <li class="option" value=""><a href="javascript:;">城市7</a></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	        
	<!--         <div class="register_content clearfix">
	            <div class="register_label">
	                <label class="label_txt">&nbsp;</label>
	                <input type="text" class="label_input_bar" placeholder="详细地址" />
	            </div>
	        </div>   -->      
	        
	        <div class="register_content mb0 clearfix mb0">
	            <div class="register_label">
	                <label class="label_txt">&nbsp;</label>
	                <div class="icon_select"></div>
	                <label class="select_txt">我已阅读并同意 <a class="link_agree" href="">科勒中国官网服务协议</a></label>
	            </div>
	        </div>
	    </div>
	</div>
</form>
<div style="height: 643px; display: none;border: 1px solid red;" class="product_popup">
	<div class="popup_register_panel success consumer_success">
        <div class="pop_close" style=""><img src="images/icon_close.png" alt=""></div>
        <div class="register_login_panel">
            <div class="register_title success_title">
                <p class="title login_logo3">中国官网注册</p>
            </div>
        </div>
        <div class="success700"></div>
        <div class="success_content">
            <p class="title"><b>注册已成功</b></p>
            <p class="thanks"><b>感谢您关注科勒中国官网</b></p>
            <p class="info">注册已成功，感谢您对科勒的关注。送您一张天猫优惠券，您可以在<br />科勒天猫旗舰店购物时使用，同时您已参与了线下抽奖活动，如您获奖我们的<br />工作人员会及时与您取得联系。</p>
            <img src="images/ticket.jpg" alt="" class="img_ticket">
            <a href="javascript:;" class="link_tmall">访问科勒天猫旗舰店</a>
        </div>
        <div class="success700 mb42"></div>
        <div class="register_btn_panel mb40">
            <div class="register_btn confirm_btn">确定</div>    
        </div>
    </div>
</div>    
    
    <div class="popup_register_panel success member_success">
        <div class="pop_close"><img src="images/icon_close.png" alt=""></div>
        <div class="register_login_panel">
            <div class="register_title success_title">
                <p class="title login_logo3">中国官网注册</p>
            </div>
        </div>
        <div class="success700"></div>
        <div class="success_content">
            <p class="title"><b>注册已成功</b></p>
            <p class="thanks"><b>感谢您关注科勒中国官网</b></p>
            <p class="info">注册已成功，感谢您对科勒的关注。同时您已参与了线下抽奖活动，<br />如您获奖我们的工作人员会及时与您取得联系。</p>
        </div>
        <div class="success700 mb42"></div>
        <div class="register_btn_panel mb40">
            <div class="register_btn confirm_btn">确定</div>    
        </div>
    </div>
<div class="regline700 mt30"></div>
<div class="register_btn_panel">
    <div class="register_btn register_yqxf" id="reg_btn">注册</div>    
</div>
<div class="pub_totop">
    <div class="totop_btn"><img src="${data.base_url}images/totop.png" alt=""></div>
    <span>返回顶部</span>
</div>
<!-- pub_totop end -->
<!-- pub_footer start -->
#parse("footer_pc_cn.vm")
</div>
</body>
</html>