	<link type="text/css" href="${data.base_url}css/global.css" rel="stylesheet"/>
	<link type="text/css" href="${data.base_url}css/jquery.bxslider.css" rel="stylesheet"/>
 	<link type="text/css" href="${data.base_url}css/mobile.css" rel="stylesheet"/>
 	<link type="text/css" href="${data.base_url}css/mobilev2.css" rel="stylesheet"/>
 	<link type="text/css" href="${data.base_url}css/normalize.min.css" rel="stylesheet"/>
 	<link type="text/css" href="${data.base_url}css/style.css" rel="stylesheet"/>
 	<link type="text/css" href="${data.base_url}css/user.css" rel="stylesheet"/>
 	<link type="text/css" href="${data.base_url}css/widget.css" rel="stylesheet"/>
    <script type="text/javascript" src="${data.base_url}js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="${data.base_url}js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="${data.base_url}js/main.js"></script>
	<script type="text/javascript" src="${data.base_url}js/main2.js"></script>
    <script type="text/javascript" src="${data.base_url}js/nav.js"></script>
    <script type="text/javascript" src="${data.base_url}js/user.js"></script>