	<link type="text/css" href="${data.base_url}css/main_en.css" rel="stylesheet"/>
	<link type="text/css" href="${data.base_url}css/collection.css" rel="stylesheet"/>
	<link type="text/css" href="${data.base_url}css/video-js.css" rel="stylesheet"/>
 	<link type="text/css" href="${data.base_url}css/tooltip.css" rel="stylesheet"/>
    <script type="text/javascript" src="${data.base_url}js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="${data.base_url}js/chinaweb.js"></script>
	<script type="text/javascript" src="${data.base_url}js/resource.js"></script>
	<script type="text/javascript" src="${data.base_url}js/jquery.cookie.js"></script>
    <script type="text/javascript" src="${data.base_url}js/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="${data.base_url}js/page-util.js"></script>
    <script type="text/javascript" src="${data.base_url}js/sly.min.js"></script>
    <script type="text/javascript" src="${data.base_url}db_solr_mapping.js"></script>
    <script type="text/javascript" src="${data.base_url}js/product.js"></script>
    <script type="text/javascript" src="${data.base_url}js/search.js" async="async"></script>
    <script type="text/javascript" src="${data.base_url}js/details.js" async="async"></script>
    <script type="text/javascript" src="${data.base_url}js/resize.js"></script>
    <script type="text/javascript" src="${data.base_url}js/register.js"></script>
    <script type="text/javascript" src="${data.base_url}js/headerTools.js"></script>
    <script type="text/javascript" src="${data.base_url}js/findpassword.js"></script>
	<script type="text/javascript" src="${data.base_url}js/pwdvalidate.js"></script>
	<script type="text/javascript" src="${data.base_url}js/showtip.js"></script>
	 <script type='text/javascript' src='${data.base_url}js/global.js' ></script>
     <script type='text/javascript' src='${data.base_url}js/video.js'></script>