
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, .btn, button {margin: 0; padding: 0; border: 0; font-size: 12px;}
div {text-align:left;}
body{font-family: "Helvetica Neue","微软雅黑";}
h1, h2, h3, h4, h5, h6{font-size:100%;}
address, cite, em{font-style:normal;}
li{list-style-type:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{outline: none; }
fieldset, img {border:0;}
label,button{cursor: pointer;}
select,input,textarea{font-size:12px;line-height:1.2em;border:0px;}
input,button,select,textarea{outline:none}
iframe{border:0px;width:100%;height:100%;}
img {vertical-align:top;}

/*HEADER 公用顶部导航部分 开始*/
header{position:relative;word-spacing:0.166667em;letter-spacing:0.0833333em;font-size:0.75em;}
header .head_w{width:100%; background-color:#fff;}
header .head_w .hid{display:none;}
header .head_b{position:absolute;top:0em;width:100%;display:none;z-index:9999;}

header .head{border-top:0.5em solid #232323;border-bottom:0.0833333em solid #dddddd;height:3.666667em;}
header div div{height:100%;}
header ul div{height:100%;}
header div img{height:1.6667em;margin:1em auto;display:block;}
header .home{width:3.875em;height:3.666667em;position:absolute;top:0.5em;left:0em;}
header .home .home_wrap{width:100%;height:2.66667em;padding-top:1em;}
header .home.active{background:url(../images/home_shadow.png) repeat-y;background-size:100% 0.1em;}
header .home.active .home_wrap{background-image:linear-gradient(bottom,rgba(204,204,204,0.15),rgba(0,0,0,0.15));background-image:-webkit-linear-gradient(bottom,rgba(204,204,204,0.15),rgba(0,0,0,0.15));background-image:-moz-linear-gradient(bottom,rgba(204,204,204,0.15),rgba(0,0,0,0.15));background-image:-ms-linear-gradient(bottom,rgba(204,204,204,0.15),rgba(0,0,0,0.15));background-image:-o-linear-gradient(bottom,rgba(204,204,204,0.15),rgba(0,0,0,0.15));}
header .home img{width:2.0833em;margin-top:0em;}
header .logo_b{width:100%;height:2.66667em;padding-top:1em;}
header .logo_b img{width:12.5em;margin-top:0em;}
header .search{width:3.875em;height:3.666667em;position:absolute;top:0.5em;right:0em;}
header .search img{width:2.0833em;}

header .hid ul li{line-height:3.666667em;}
header .hid ul li div{line-height:3.666667em;border-bottom:0.0833333em solid #dddddd;}
header .hid ul li div.one.active{background-image:-webkit-linear-gradient(top,#e0e0e0,#f1f1f1);background-image:-moz-linear-gradient(top,#e0e0e0,#f1f1f1);background-image:-ms-linear-gradient(top,#e0e0e0,#f1f1f1);background-image:-o-linear-gradient(top,#e0e0e0,#f1f1f1);background-image:linear-gradient(top,#e0e0e0,#f1f1f1);}
header .hid ul li div.one.active span.img{background:none;}
header .hid .menu ul li div.sub.active span.img{background-image:url(../images/sub_active.png);}
header .hid .menu ul li span.img{background-image:url(../images/header_close.png);background-size:cover;width:0.958333em;height:0.958333em;margin-right:4.22%;margin-top:1.375em;float:right;}
header .hid .menu ul li span.words{font-size:1.4em;font-weight:bold;padding-left:4.6875%;}
header .hid .menu ul li img{vertical-align:middle;width:1em;}
header .hid .menu ul.sub_menu{display:none;}
header .hid .menu ul.sub_menu li span.words{font-weight:normal;}
header .hid .menu ul.sub_menu li span.img{background-image:url(../images/header_open.png);}
header .hid .menu ul.three_menu{display:none;}
header .hid .menu ul.three_menu li span.words{color:#808080;padding-left:6.25%;}

header .hid .nav ul li{background:#232323;color:#cccccc;border-bottom:0.0833333em solid #676767;height:3.666667em;}
header .hid .nav ul li span.words{font-size:1.2em;padding-left:2.34%;}
header .hid .nav ul li span.img{font-size:1em;padding-left:3.6%;}
header .hid .nav ul li span.img img{/*vertical-align:middle;*/width:1.333333em;height:1.333333em;display:inline;margin:1.22em auto;}

header .head_b .head{background:#232323;position:relative;border-bottom:0.0833333em solid #676767;border-top:none;height:3.625em;}
header .head_b .head .home{background:none;top:0em;}
header .head_b .head .home img{width:1.41667em;height:1.41667em;margin-left:1.375em;margin-top:1.125em;}
header .head_b .head .logo_b{padding-top:1.125em;}
header .head_b .head .logo_b img{height:1.416667em;}
header .head_b .head .search{top:0em;}
header .head_b .head .search img{margin-top:1.115em;}

header .head_b .hid ul li{background:#232323;color:#ffffff;}
header .head_b .hid ul li div{line-height:5em;border-bottom:0.0833333em solid #676767;}

header .head_b .hid .nav{height:6.75em;}
header .head_b .hid .nav ul li{width:50%;float:left;background:#1a1a1a;height:3.33333em;line-height:3.33333em;}
header .head_b .hid .nav ul li.line{background:#1a1a1a url(../images/header_line.png) no-repeat right;background-size:0.1em 3.33333em;}
header .head_b .hid .nav ul li span.img{float:right;margin-right:10%;}
header .head_b .hid .nav ul li span.words{padding-left:9.375%;}
header .head_b .hid .nav ul li span.img img{margin:1em auto;}

header .head_b .hid .menu ul li{background:#1a1a1a;}
header .head_b .hid .menu ul li span.img{background-image:url(../images/headb_close.png);background-size:cover;width:0.666667em;height:0.666667em;margin-right:4.22%;margin-top:2.166667em;}
header .head_b .hid .menu ul li span.words{font-weight:normal;}
header .head_b .hid .menu ul li div.one.active{background:#232323;}
header .head_b .hid .menu ul li div.one.active span.img{background-image:url(../images/headb_open.png);background-size:cover;}


header .head_b .hid .menu ul.sub_menu{margin-top:1.916667em;}
header .head_b .hid .menu ul.sub_menu li{width:50%;float:left;}
header .head_b .hid .menu ul.sub_menu li div{border-bottom:none;height:2.416667em;line-height:2.416667em;}
header .head_b .hid .menu ul.sub_menu li div span.words{padding-left:9.375%;float:left;}
header .head_b .hid .menu ul.sub_menu li div span.img{background-image:url(../images/headb_sub.png);float:left;background-size:cover;margin-top:0.875em;margin-left:0.416667em;}
header .head_b .hid .menu ul.three_menu{display:block;}
header .head_b .hid .menu ul.three_menu li{width:100%;float:none;margin-bottom:1.25em;}
header .head_b .hid .menu ul.three_menu li span.words{color:#ffffff;padding-left:9.375%;}
header .head_b .hid .menu ul.three_menu li div{width:100%;float:none;height:2.375em;line-height:2.375em;}
header .head_b .hid .menu ul.four_menu{display:none;}
header .head_b .hid .menu ul.four_menu li{margin-bottom:0em;}
header .head_b .hid .menu ul.four_menu li div{width:100%;float:none;height:2.25em;line-height:2.25em;}
header .head_b .hid .menu ul.four_menu li span.words{color:#cccccc;font-size:1em;}
header .head_b .hid .clear{clear:both;border:none;border-bottom:0.0833333em solid #676767;}
/*HEADER 公用顶部导航部分 结束*/


/* HOME 开始*/
.home{background-color:#e5e5e5;}
.home .banner{margin-bottom:1.2em;position:relative;overflow:hidden;}
.home .banner .container{width: 10000px;}
.home  .btns{position:absolute;width:100%;bottom:1em;overflow:hidden;height:16px;}
.home  .btns .btnsin{width:120%}
.home  .btns .btnitem{width:8px;margin-top:2px;height:8px;border:2px solid #ffffff;border-radius: 32px;float:left;margin-right:6px;}
.home  .btns .focus{width:16px;margin-top:0px;height:16px;border:0px;background-color:#ffffff;border-radius:50px;}
.home .banner img{width:100%;height:auto;float:left;}

.home .show{margin:0em 1.2em 2.2em 1.2em;box-shadow:1px 1px 2px #999;background-color:#ffffff; }
.home .show img{width:100%;height:auto;}
.home .show .text{padding:9.375%;}
.home .show .text h1{font-size:1.5em;color:#232323;text-align:center;margin-bottom:1em;font-weight: normal;}
.home .show .text p{font-size:1.2em;color:#84888b;text-align:center;line-height: 1.3em;}

.home .review h5{text-align:center;font-size:1.8em;line-height:3.6em;background-color:#ffffff;font-weight: normal;}
.home .review .con{position:relative;}
.home .review .con img{width:100%;height:auto;}
.home .review .con img.view{width:20%;height:auto;position:absolute;left:50%;margin-left:-10%;top:50%;margin-top:-10%;}


/* HOME 结束*/

/*卫浴产品 开始*/
.bathroom{background-color:#ffffff;}
.bathroom .banner{margin-bottom:1.2em;position:relative;overflow:hidden;padding-bottom:3em;}
.bathroom .banner .container{width: 10000px;}
.bathroom  .btns{position:absolute;width:100%;bottom:0em;overflow:hidden;height:16px;}
.bathroom  .btns .btnsin{width:120%}
.bathroom  .btns .btnitem{width:8px;margin-top:2px;height:8px;border:2px solid #cccccc;border-radius: 32px;float:left;margin-right:6px;}
.bathroom  .btns .focus{width:16px;margin-top:0px;height:16px;border:0px;background-color:#cccccc;border-radius:50px;}
.bathroom .banner img{width:100%;height:auto;float:left;}
.bathroom .show{width:87.5%; margin:0 auto 1em auto;overflow:hidden; }
.bathroom .show h3{font-size:2em;color:#000000;overflow:hidden;margin-bottom:2%;}
.bathroom hr{border-color:#efefef;margin-bottom:1em;}
.bathroom .show h3 span{float:left;font-size: 0.8em;}
.bathroom .show h3 img{width:3%;margin-top:4%;margin-left:2%;vertical-align: middle;float:left;}
.bathroom .show img{width:100%;height:auto;}
.bathroom .show .text{padding:1.5em;background-color:#fafafa;}
.bathroom .show .text h1{font-size:1.5em;color:#232323;text-align:center;margin-bottom:1em;}
.bathroom .show .text p{font-size:1.2em;color:#84888b;text-align:center;}
/*卫浴产品 结束*/
/*FOOTER 公用底部导航部分 开始*/
footer {width:100%; background-color:#232323; color:#e5e5e5; font-size:0.75em; clear:both;}
footer .footer_menu {width:100%;}
footer .footer_menu .menu_one {width:100%; height:auto; margin:0 auto;}
footer .footer_menu .menu_one .item {width:100%; border-bottom:0.083em solid #333333;}

footer .footer_menu .menu_one .link {width:100%; border-bottom:0.083em solid #333333;}
footer .footer_menu .menu_one .link a {width:88%; height:3em; line-height:3em;  display:block; color:#e5e5e5; margin:0 auto; font-size:1.5em;}
footer .footer_menu .menu_one .link a.toHome {background:url(../images/toHome.png) no-repeat right center; background-size:1.33em 1.33em; }
footer .footer_menu .menu_one .link a.top {background:url(../images/top.png) no-repeat right center; background-size:1.33em 1.33em; }

footer .footer_menu .menu_one .item h2 {width:88%; height:3em; line-height:3em; background:url(../images/arrow.png) no-repeat right center; background-size:0.4em 0.8em; margin:0 auto; font-size:1.2em; font-weight: normal;color: #e5e5e5;}
footer .footer_menu .menu_one .item h2.active {background:url(../images/arrow_down.png) no-repeat right center; background-size:0.8em 0.4em;}
footer .footer_menu .menu_one .item .menu_two {display:none;}
footer .footer_menu .menu_one .item .menu_two li {width:88%; height:3em; line-height:3em; border-bottom:0.083em solid #333333; margin:0 auto;padding:0.4em 0;}
footer .footer_menu .menu_one .item .menu_two li.first {border-top:0.083em solid #333333;}
footer .footer_menu .menu_one .item .menu_two li.last {border-bottom:0;}
footer .footer_menu .menu_one .item .menu_two li a {color:#9e9e9e; font-size:1.2em;padding-left: 1%;}
footer .footer_menu .menu_one .item .menu_two li img{width:1.5em;height: 1.5em;margin:0.8em 1em 0 0.5em;}
footer .footer_logo {width:100%; height:6.08em; background:url(../images/footer_logo.png) no-repeat center 16.4%; background-size:15.67em 1.67em;}
/*FOOTER 公用底部导航部分 结束*/

/*category.html页面开始*/
.kind {width:100%; color:#242424; font-size:0.75em;}
.kind .category {width:87.5%; margin:1em auto 0em auto;}
.kind .category li.item {width:100%; margin-bottom: 0.83em;}
.kind .category li.item .menu_detail {display: none; -webkit-box-shadow:0 0.167em 0.2em 0.167em #f4f4f4; }
.kind .category li.item .filter {float:left; width:48%;height:3.67em; overflow:hidden; }
.kind .category li.item .filter .menu_detail li a {height:3.67em; line-height:3.67em; background:url(../images/add.png) no-repeat right center; background-size:0.67em 0.67em; }
.kind .category li.item .sort {overflow:hidden; float:right; width:48%; height:3.67em; line-height:3.67em; background: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ddd)); background: -moz-linear-gradient(top, #f4f4f4, #ddd); background: -o-linear-gradient(top, #f4f4f4, #ddd); background: -ms-linear-gradient(#f4f4f4 0%,#ddd 100%); border-radius:0.3em; color:#242424;}
.kind .category li.item select.sort{ font-family:"微软雅黑"; font-size:1em;}
.kind .category li.item h2 { overflow:hidden; width:100%; height:3.67em; line-height:3.67em; background: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ddd)); background: -moz-linear-gradient(top, #f4f4f4, #ddd); background: -o-linear-gradient(top, #f4f4f4, #ddd); background: -ms-linear-gradient(#f4f4f4 0%,#ddd 100%); border-radius:0.3em;}
.kind .category li.item h2 .text {padding-left:5.4%; float: left;}
.kind .category li.item h2 span.arrow_down {float:right; width:0.68em; height:3.67em; margin-right:5.4%; background:url(../images/down.png) no-repeat center center; background-size:0.68em 0.417em; display: inline-block;}
.kind .category li.item h2 span.arrow_up {float:right; width:0.68em; height:3.67em; margin-right:5.4%; background:url(../images/up.png) no-repeat center center; background-size:0.68em 0.417em; display: inline-block;}
.kind .category li.item .filter .menu_detail li.type {height:auto;}
.kind .category li.item .filter .menu_detail li.type h2 {background:none;}
.kind .category li.item .filter .menu_detail li.type .menu_two li {width:100%; height:3.33em; line-height:3.33em; background: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ddd)); background: -moz-linear-gradient(top, #f4f4f4, #ddd); background: -o-linear-gradient(top, #f4f4f4, #ddd); background: -ms-linear-gradient(#f4f4f4 0%,#ddd 100%); border-radius:0.3em;}
.kind .category li.item .filter .menu_detail li.type .menu_two li a {padding-left:0; width:89%; margin:0 auto; display: block; background:url(../images/close.png) no-repeat right center; background-size:0.67em 0.67em;}
.kind .category li.item .filter .menu_detail li.type .menu_two li.tableType {margin-bottom: 0.75em; }
.kind .category li.item .filter .menu_detail li.type .menu_two li.tableType a span {width:1em; height:3.33em; display: inline-block; background:url(../images/tableType.png) no-repeat center center; background-size:1.33em 0.5em; float: left; margin-right:0.83em;}
.kind .category li.item .filter .menu_detail li.type .menu_two li.flush a span {width:1em; height:3.33em; display: inline-block; background:url(../images/flush.png) no-repeat center center; background-size:1.33em 0.5em; float: left; margin-right:0.83em;}
.kind .category li.item .menu_detail li {width:96.43%; height:3.67em; line-height:3.67em; margin:0 auto; border-bottom:0.083em solid #f2f2f2;}
.kind .category li.item .menu_detail li a {padding-left:3.57%; width:96.43%; color:#808080; display: block;}
.kind .show{width:87.5%; margin:1em auto 0em auto;}

.bathtub .show{width:87.5%; margin:1em auto 0em auto;overflow:hidden;margin-bottom:1em;}
.bathtub .show > div{width:49.5%;float:left;background-color:#f9f9f9;}
.bathtub .show > div.left{margin-right:1%;}
.bathtub .show img{width:100%;height:auto;}
.bathtub .show  h1{text-align:center;padding:1em;color:#232323;}
.bathtub .show  p{text-align:center;padding:1em;color:#84888b;}

.bathtub .banner{margin-bottom:1.2em;position:relative;overflow:hidden;padding-bottom:3em;}
.bathtub .banner .container{width: 10000px;}
.bathtub  .btns{position:absolute;width:100%;bottom:0em;overflow:hidden;height:16px;}
.bathtub  .btns .btnsin{width:120%}
.bathtub  .btns .btnitem{width:8px;margin-top:2px;height:8px;border:2px solid #cccccc;border-radius: 32px;float:left;margin-right:6px;}
.bathtub  .btns .focus{width:16px;margin-top:0px;height:16px;border:0px;background-color:#cccccc;border-radius:50px;}
.bathtub .banner img{width:100%;height:auto;float:left;}
/*category.html页面结束*/


.jsLoopShow{overflow:hidden;position:relative;padding-bottom:3em;}
.jsLoopShow .container{width:10000px;overflow:hidden;}
.jsLoopShow .container .item{float:left;position:relative;}

.homebg{background-color: #ffffff;}
.jsBanner .bx-wrapper{margin-bottom: 15px}
.jsBanner .bx-wrapper .bx-pager, .jsBanner .bx-wrapper .bx-controls-auto { bottom: 10px; }