/*
	Page Global Style
*/
.article-quick{
	padding: 12px 0;
	background-color: #f5f5f5;
	text-align: right;
}
body {
    font: 14px/1.8 normal;
    font-family: "微软雅黑";
    background-color: #ffffff;
}
* p{
    color: #626262;
    margin: 0;
}
b{
	font-weight: bold;
	color: #000000;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 500;
	color: #434343;
}
.hide {
    display: none;
}
*, *:after, *:before {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
a{
	color: #626262;
	text-decoration: none;
}
.red{
	color: #e60012 !important;
	padding-left: 5px;
}
.mb10{
	margin-bottom: 10px;
}
.mb15{
	margin-bottom: 15px;
}
.mb20{
	margin-bottom: 20px;
}
.content-bd {
    padding: 0 15px;
}
.page-main {}

/*Global Nav*/
.global-nav {
    background-color: #fff;
}
.global-nav-bd {
    height: 50px;
    line-height: 50px;
    border-top: 6px solid #000;
    position: relative;
    border-bottom: 1px solid #ddd;
}
.nav-logo {
    max-width: 258px;
    width: 40%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 7px;
    margin-left: -20%;
}
.nav-logo img{
	width: 100%;
	vertical-align: baseline;
}
.dropdown-nav-menu img, .dropdown-search img{
	vertical-align: middle;
}
.search-bd{
	position: relative;
}
.search-bd input{
	border: 1px solid #dbdbdb;
	background-color: #fff;
	width: calc(100% - 25px);
	border-radius: 6px;
	padding: 10px;
}
.search-bd .search-btn{
	border: none;
	background: none;
	position: absolute;
	right: 10px;
	top: 9px;
}
/*footer*/
.footer{
	background-color: #232323;
	color: #e5e5e5;
	font-size: 16px;
}
.footer-nav{}
.footer-nav-list{}
.footer-nav-list li{
	padding: 15px;
	border-bottom: 1px solid #333333;
}
.footer-nav-list li a{
	display: block;
	color: #e5e5e5;
}
.footer-nav-list li a img{
	vertical-align: middle;
}
.copyright{
	font-family: 'Myriad Pro Regular';
	color: #999999;
	text-align: center;
	padding: 15px 0 30px;
}
/*
	Return to top
	This code Function can be edited
	in script @ file main.js
*/
.goTop{
	display: none;
	width: 18px;
	height: 30px;
	background: url(../upload/images/ico_top.png) no-repeat;
	background-size: 100%;
	position: fixed;
	right: 15px;
	bottom: 265px;
	cursor: pointer;
}

/*title*/
.title-hd{
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
}
.title-hd h2{
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.search-ques .tel{
	font-size: 24px;
	color: #4f4f4f;
	font-weight: bold;
}

/*reset modal*/
.modal-title{
	text-align: center;
	margin-bottom: 10px;
	color: #000000;
}
.close{
	opacity: 1;
}
.modal-content{
	padding: 15px;
}
.modal-second-txt{
	text-align: center;
	margin-bottom: 5px;
	color: #808080;
}
.modal-body{
	padding: 15px 0;
}
/*Custom Bxslider*/
.bx-wrapper{
	margin-bottom: 0;
}
.bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    left: 0;
}
.bx-wrapper img {
    width: 100%;
}
.bx-wrapper .bx-pager .bx-pager-item {
    vertical-align: middle;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	width: 6px;
	height: 6px;
	margin: 0 3px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #cccccc;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    width: 10px;
    height: 10px;
    background-color: #cccccc;
}