.user-account{
	background: url(../images/user_bg.jpg) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.user-tab-section{
	border-bottom: 1px solid #dddddd;
	margin-bottom: 15px;
}
.user-account-hd{
	text-align: center;
	padding: 25px 0;
}
.user-account-hd h1{
	font-size: 24px;
}
.user-account-hd h2{
	font-size: 18px;
}
.user-tab-bd{
	padding: 0 15px;
	height: 40px;
}
.user-tab-inner{
	text-align: center;
}
.user-tab-inner li{
	display: inline-block;
	width: 32%;
	overflow: hidden;
	height: 40px;
	line-height: 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fafafa;
	background-image: -webkit-linear-gradient(bottom, #ddd, #f4f4f4);
	background-image: -moz-linear-gradient(bottom, #ddd, #f4f4f4);
	background-image: -o-linear-gradient(bottom, #ddd, #f4f4f4);
	background-image: linear-gradient(to top, #ddd, #f4f4f4);
}
.user-tab-inner li a{
	color: #626262;
}
* a.ui-btn{
	color: #000;
}
.user-tab-inner li:nth-child(1){
	float: left;
}
.user-tab-inner li:nth-child(3){
	float: right;
}
.user-tab-inner li.selected{
	background-color: #fafafa;
	background-image: -webkit-linear-gradient(bottom, #2058a1, #3d7bcc);
	background-image: -moz-linear-gradient(bottom, #2058a1, #3d7bcc);
	background-image: -o-linear-gradient(bottom, #2058a1, #3d7bcc);
	background-image: linear-gradient(to top, #2058a1, #3d7bcc);
}
.user-tab-inner li.selected a{
	color: #ffffff;
}
.user-bd{
	padding-bottom: 40px;
	background-color: #fff;
}
.user-basic-info{}
.basic-info-list{
	margin-bottom: 10px;
}
.modal .basic-info-list label{
	width: 120px;
}

.basic-info-list label{
	display: inline-block;
	width: 80px;
	text-align: justify;
	text-align-last:justify;
	box-pack:justify;
	-webkit-box-pack:justify;
	color: #242424;
	font-weight: bold;
	margin-bottom: 5px;
}
.basic-info-list span{
	color: #808080;
}
.basic-info-list span img{
	padding-left: 8px;
	vertical-align: middle;
}
.basic-info-list span.view_jf_dedatil a{
	color: #005ead;
}
.jf-hd{
	padding: 8px 12px;
	background-color: #2058a1;
}
.jf-hd p{
	color: #ffffff;
	float: left;
}
.jf-hd-left,.jf-record-left{
	width: 35%;
}
.jf-record{
	padding: 12px;
}
.jf-list{
	padding-bottom: 5px;
	border-bottom: 1px solid #dddddd;
}
.jf-list p{
	float: left;
}
.jf-rev{
	padding: 3px 12px;
	background-color: #f2f2f2;
}
p.jf-rev-right{
	float: right;
}
p.jf-rev-left span{
	color: #242424;
}
p.jf-detail{
	text-decoration: underline;
}
p.jf-detail a{
	color: #242424;
}
.arrow_down{
	vertical-align: middle;
	margin-left: 6px;
	display: inline-block;
	width: 18px;
	height: 12px;
	background: url(../images/ico_down_blue.png) no-repeat;
}
.basic-info-list span.view_jf_dedatil.on .arrow_down{
	background: url(../images/ico_down_gray.png) no-repeat;
}
.basic-info-list span.view_jf_dedatil.on a{
	color: #808080;
}
.user-submit{
	margin-bottom: 40px;
	padding-top: 20px;
	border-top: 1px solid #dddddd;
}
.vertity-code .ui-input{
	width: 52%;
}
.vertity-code .ui-btn{
	width: 38%;
	float: right;
	padding: 7px 0;
}
/*user-register-bd*/
.user-register-inner{
	padding: 30px 0 40px;
	text-align: center;
}
.user-register-inner h1{
	font-weight: bold;
	font-size: 28px;
}
.user-register-inner h1,.user-register-inner h2{
	color: #2058a1;
}
.user-register-inner h2{
	font-size: 14px;
}
.register-sure{
	width: 50%;
	margin: 10px auto;
}
.register-custom a:nth-child(2){
	border-bottom: 1px solid #2058a1;
	color: #2058a1;
}
/*article-bd*/
.article-bd{
	margin-bottom: 50px;
}
.article-quick{
	padding: 12px 0;
	background-color: #f5f5f5;
	text-align: right;
}
.article-quick a img{
	width: 20px;
	vertical-align: middle;
	padding: 0 10px;
}
.article-section .article-title{
	padding: 20px 0 15px;
	color: #000000;
	font-size: 18px;
	font-weight: bold;
}
.article-desc{
	margin-bottom: 15px;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
}
.article-p h4{
	font-weight: bold;
	color: #000000;
}
.article-p img{
	margin-top: 5px;
	width: 100%;
}
.article-p p{
	margin-bottom: 10px;
}
.pro-list{
	margin-bottom: 15px;
}
.pro-list dt,.pro-list dd{
	padding: 0;
	margin: 0;
}
.pro-list dd a{
	color: #626262;
}
.pro-list dt{
	font-size: 14px;
	font-weight: bold;
}
.pro-list .more{
	margin-top: 8px;
}
.pro-list .more a{
	color: #005ead;
}
.pro-list dd img{
	vertical-align: middle;
	padding-right: 10px;
}
/*search video*/
.product-suite-list-bd{
	margin-bottom: 50px;
}
.product-suite-select{
	background-color: #f5f5f5;
	padding-bottom: 15px;
}
.product-suite-select-bd{
	padding: 20px 15px;
}
.product-suite-select-title{
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}
.product-suite-select-tip{
	text-align: center;
	padding: 5px 0 5px;
}
.product-suite-select-option{
	position: relative;
	padding:10px 15px;
	margin: 0 auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #f00;
	background-image: -webkit-linear-gradient(bottom, #ddd, #f4f4f4);
	background-image: -moz-linear-gradient(bottom, #ddd, #f4f4f4);
	background-image: -o-linear-gradient(bottom, #ddd, #f4f4f4);
	background-image: linear-gradient(to top, #ddd, #f4f4f4);
	cursor: pointer;
	font-size: 16px;
}
.product-suite-select-txt-left{
	float: left;
}
.product-suite-select-txt-right{
	float: right;
	margin-top: 8px;
	display: inline-block;
	width: 18px;
	height: 12px;
	background: url(../images/ico_ad.png) center center no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.product-suite-select-ul{
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.1);
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
}
.product-suite-select-ul ul{
	margin: 5px;
}
.product-suite-select-ul ul li{
	color: #707070;
	padding: 10px;
	border-bottom: 1px solid #f2f2f2;
}
.product-suite-select-ul ul li:nth-last-child(1){
	border: none;
}
.option-filter{
	width: 60%;
}
.product-suite-innerbox{
	margin: 20px 0;
	margin-bottom: 5px;
}
.product-suite-item{
	padding: 20px 15px;
	border-bottom: 1px solid #efefef;
}
.product-suite-item-section{
	background-color: #fff;
	background-image: -webkit-linear-gradient(-63deg, rgba(0,0,0,.05), rgba(255,255,255,.05));
	background-image: -moz-linear-gradient(-63deg, rgba(0,0,0,.05), rgba(255,255,255,.05));
	background-image: -o-linear-gradient(-63deg, rgba(0,0,0,.05), rgba(255,255,255,.05));
	background-image: linear-gradient(153deg, rgba(0,0,0,.05), rgba(255,255,255,.05));
}
.product-suite-itemimg{
	position: relative;
}
.product-suite-itemimg .preview{
	display: inline-block;
	width: 20%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -10%;
	margin-left: -10%;
}
.product-suite-article{
	padding: 10px 15px;
}
.product-suite-item-title{
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 5px;
	text-align: center;
}
.product-suite-item-desc{
	color: #84888b;
	margin-bottom: 15px;
}
.view-v{}
.view-v a{
	color: #000000;
}
.view-v a img{
	vertical-align: middle;
	padding-left: 5px;
}
/*search noresult*/
.search-noresult{
	padding: 20px 15px 50px;
}
.search-form{
	text-align: center;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #d9d9d9;
}
.search-label{
	margin-bottom: 5px;
	color: #242424;
}
.search-form-bd{
	position: relative;
}
.search-form-bd input{
	width: 92%;
	padding: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	border: solid 1px #bfbfbf;
}
.search-btn{
	display: inline-block;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	position: absolute;
	right: 2%;
	top: 50%;
	margin-top: -10px;
	background: url(../images/ico_search.png) no-repeat;
}
.search-recomend{

}
.search-recomend .title-hd{
	border: none;
	margin-bottom: 5px;
}
.search-tips-list p{
	padding-left: 12px;
	background: url(../images/ico_dot.png) left center no-repeat;
}
.search-popular dl{
	margin: 0;
	margin-bottom: 10px;
}
/*technique filter*/
#tech{
	margin-bottom: 10px;
}
.search-result-title,.search-result-type{
	text-align: center;
}
.search-result-title{
	font-weight: bold;
	font-size: 16px;
}
.search-result-file{
	background-color: #f5f5f5;
	border-radius: 3px;
}
.search-result-hd{
	border-bottom: 1px solid #e0e0e0;
	margin: 0;
}
.search-result-file .search-result-hd:nth-child(2n){
	border-top: 1px solid #ffffff;
	border-bottom: none;
}
.search-result-file .search-result-hd:nth-child(2n) .toggle-box{
	border-bottom: none;
}
.search-result-hd .toggle-btn{
	padding: 15px;
}
.search-result-hd .toggle-btn span{
	float: right;
	vertical-align: middle;
	font-size: 24px;
	margin-top: -11px;
	display: block;
	width: 12px;
	text-align: center;
}
.search-result-hd .toggle-box{
	padding: 0 15px 10px;
}
.toggle-box dd{
	margin: 0;
	line-height: 2.2;
}
.toggle-box dd img{
	width: 18px;
	vertical-align: middle;
	margin-right: 5px;
}
dl.product-downlist dd{
	padding: 0;
	margin: 0;
}
dl.product-downlist dd a{
	color: #005982;
	padding-left: 15px;
}
dl.product-downlist dd img{
	padding-right: 5px;
	vertical-align: middle;
}
.file-download dd a{
	padding-left: 10px;
	color: #005982;
}
/*collection*/
.collect-top{
	border-bottom: 1px solid #d9d9d9;
}
.create-collection{
	width: 60%;
	margin: 0 auto;
}
.collect-example{
	position: relative;
	background-color: #f5f5f5;
}
.howto-collect h1{
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.collect-example p{
	padding: 15px;
	color: #000000;
}
.hit-example{
	display: inline-block;
	width: 30%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -22%;
	margin-left: -15%;
	cursor: pointer;
}
.collect-can-list h4{
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	padding-left: 12px;
	background: url(../images/ico_dot.png) left center no-repeat;
}
.collect-can-list p{
	padding-left: 12px;
}
.collect-start p a{
	color: #2058a1;
}
.collect-create-more{
	padding-bottom: 15px;
	border-bottom: 1px solid #e9e9e9;
}
.collect-create-more h4{
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.collect-create-more p{
	padding-left: 12px;
	background: url(../images/ico_dot.png) left 8px no-repeat;
}
.collect-register{
	padding: 25px 0 40px;
}
* a.ui-btn-blue{
	color: #fff;
}
.collect-register p{
	width: 60%;
	margin: 10px auto;
}
.collect-register .register a{
	color: #2058a1;
	border-bottom: 1px solid #2058a1;
}

/*.collect-edit-bd*/
.collect-edit-bd{}
.collect-edit-list{
	background-color: #fff;
	-webkit-box-shadow: 2px 3px 4px rgba(0,0,0,.1);
	-moz-box-shadow: 2px 3px 4px rgba(0,0,0,.1);
	box-shadow: 2px 3px 4px rgba(0,0,0,.1);
}
.collect-pic{
	position: relative;
}
.ico-collect-edit{
	position: absolute;
	top: 5px;
	right: 5px;
}
.ico-collect-edit a{
	display: inline-block;
	width: 28px;
	height: 28px;
	background-color: #ffffff;
	border-radius: 4px;
	text-indent: -9999px;
}
.ico_c_edit{
	background: url(../images/ico_edit.png) center center no-repeat;
	-webkit-background-size: 65%;
	background-size: 65%;
}
.ico_c_share{
	background: url(../images/ico_share2.png) center center no-repeat;
	-webkit-background-size: 65%;
	background-size: 65%;
}
.collect-desc{
	padding: 5px 0 10px;
	text-align: center;
}
.desc-ps{
	width: 98%;
	left: 49%;
	margin-left: -49%;
	position: absolute;
	bottom: 0;
}
.desc-inline{
	padding: 10px 15px;
	text-align: left;
}
.collect-desc h3{
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}
.collect-video-play{
	display: inline-block;
	width: 20%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -10%;
	margin-left: -10%;
	cursor: pointer;
}
/*add collection*/
.product-suite-select-tip a{
	color: #2058a1;
}
.add-collect-nav{
	padding: 10px 15px;
	background-color: #fefefe;
	background-image: -webkit-linear-gradient(bottom, #f5f5f5, #fefefe);
	background-image: -moz-linear-gradient(bottom, #f5f5f5, #fefefe);
	background-image: -o-linear-gradient(bottom, #f5f5f5, #fefefe);
	background-image: linear-gradient(to top, #f5f5f5, #fefefe);
	border-bottom: 1px solid #dbdbdb;
}
.nav-btn img{
	height: 22px;
	margin-left: 25px;
}
.add-collect-nav p.fl{
	color: #000000;
}
.add-collect-nav p.fl img{
	margin-right: 6px;
	vertical-align: middle;
}
.add-collect-form{
	padding: 15px 15px 0;
}
.collect-txt{
	padding: 10px 15px;
	background-color: #f2f3f3;
	color: #000000;
}
.collect-pager{
	width: 100%;
	overflow: hidden;
}
.collect-pager a{
	display: inline-block;
	width: 25%;
	float: left;
}
.collect-pager a img{
	width: 100%;
	display: block;
}
.delete-btn{
	padding: 20px 0;
	margin: 25px 0;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}
.delete-btn p{
	text-align: center;
}
/*one-collect-bd*/
.one-collect-bd{}
.one-collect-bd .collect-edit-list{
	margin-bottom: 15px;
}
.collect-top .modal-second-txt{
	margin-bottom: 0;
}
.collect-top .product-suite-select-title{
	margin-top: 10px;
}
.modal-body p.link a{
	color: #2058a1;
}
.share-bd{
	text-align: center;
}
.share-list{
	margin-bottom: 20px;
	width: 26%;
	margin-left: 10px;
	display: inline-block;
}
.share-list img{
	width: 100%;
}
/*invite-register*/
.invite-register-hd{}
.invite-tips{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 35px;
}
.invite-tips h2,.select-type-who{
	font-weight: bold;
	color: #000000;
	font-size: 16px;
}
.register-type-select{
	text-align: center;
	margin: 0 auto;
	padding-bottom: 35px;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 25px;
}
.register-type-select .product-suite-select-option{
	width: 50%;
	margin: 0 auto;
}
.select-type-tips{
	font-weight: bold;
	font-size: 15px;
	color: #2058a1;
	text-align: center;
}
.info-list-hd{
	position: relative;
	margin-top: 30px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	margin-bottom: 20px;
}
.info-list-hd p{
	color: #dddddd;
}
.info-list-hd h4{
	font-size: 16px;
	position: absolute;
	top: -3px;
	left: 50%;
	margin-left: -55px;
	color: #808080;
	padding: 3px 6px;
	background-color: #fff;
}
.sport label{
	width: 150px;
}
.agreement .ui-checkbox{
	width: auto;
}
.agreement .ui-checkbox a{
	text-decoration: underline;
	color: #2058a1;
}
.register-btn{
	text-align: center;
}
.register-btn a,.register-btn a:hover{
	width: 50%;
}
/*register-vip*/
.register-vip{
	padding-bottom: 50px;
}
.vip-invite{
	position: relative;
}
.vip-invite span{
	display: inline-block;
	width: 80%;
	text-align: center;
	position: absolute;
	top: 50px;
	left: 40%;
	margin-left: -30%;
}
.vip-register-type-select{
	position: relative;
}
.register-vip-inner{
	text-align: center;
}
.register-vip-ico{
	width: 33%;
	margin: 30px auto 10px;
}
.register-vip-success-tips{
	padding: 10px 30px;
}
/*user-login-bd*/
.user-login-bd{
	padding-bottom: 40px;
}
.user-login-bd [type='text'],.user-login-bd [type='password']{
	width: 86%;
	padding-left: 38px;
	-webkit-background-size: 32px 32px;
	background-size: 32px 32px;
}

.block-username .ui-input{
	background: url(../images/ico_unmae.jpg) no-repeat;
	background-position: 2px center;
}
.block-psw .ui-input{
	background: url(../images/ico_psw.png) no-repeat;
	background-position: 2px center;
}
.forget-psw p{
	text-align: right;
}
.forget-psw p a{
	color: #005ead;
	text-decoration: underline;
}
.user-login-btn{
	width: 60%;
	margin: 30px auto;
}
/*vertify-step*/
.vertify-step span{
	width: 100%;
	left: 0;
	margin-left: 0;
}
.vertify-done{
	text-align: center;
}
.vertify-phone{
	font-size: 24px;
	font-weight: bold;
}
.tel-list h3,.agent-info-list h3{
	color: #000000;
	font-size: 16px;
	margin-bottom: 6px;
}
.agent-info-list h3{
	padding-left: 12px;
	background: url(../images/ico_dot.png) left 8px no-repeat;
}
.agent-info-list-bd{
	padding-bottom: 50px;
}
.agent-info-list{
	padding: 15px 0;
	border-bottom: 1px solid #d9d9d9;
}
.agent-info-list p{
	padding-left: 15px;
}
/*send-email-success*/
.send-email-success-bd{
	padding-bottom: 50px;
}
.send-email-success{
	margin-bottom: 100px;
}
.send-email-success-bd .title-hd{
	border: none;
	margin-bottom: 0;
}
.send-email-success-bd .contact-list{
	padding-bottom: 10px;
	border-bottom: 1px solid #d9d9d9;
}
.link-ul-list p a{
	color: #2058a1;
}
.link-ul-list p img{
	vertical-align: middle;
	padding-right: 6px;
}
.send-email-success-bd .contact-list-nbd{
	border: none;
}
/*find-store-bd*/
.find-store-form{
	padding: 35px 25px;
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(bottom, #fefefe, #f5f5f5);
	background-image: -moz-linear-gradient(bottom, #fefefe, #f5f5f5);
	background-image: -o-linear-gradient(bottom, #fefefe, #f5f5f5);
	background-image: linear-gradient(to top, #fefefe, #f5f5f5);
}
.find-store-tips{
	text-align: center;
	margin-bottom: 25px;
	padding-bottom: 30px;
	border-bottom: 1px solid #dbdbdb;
}
.find-store-tips h1{
	font-size: 24px;
	color: #000000;
}
.checkbox-inline .ui-checkbox img{
	width: 20px;
	padding-right: 6px;
}
/*find-store-result*/
.find-store-result .title-hd h2{
	font-size: 14px;
	font-weight: normal;
}
.find-store-result-list{
	padding: 10px 0 20px;
	border-bottom: 1px solid #dddddd;
}
.find-store-result-hd,.store-detail p{
	padding-left: 25px;
}
.find-store-result-hd{
	padding: 2px 0 2px 25px;
	font-size: 16px;
	color: #000000;
	margin-bottom: 10px;
	background: url(../images/ico_store_name.png) left 2px no-repeat;
}
.store-detail p span.result-bold{
	color: #000000;
}
.store-detail p.result-address{
	background: url(../images/ico_store_addr.png) left center no-repeat;
}
.store-detail p.result-protype img{
	width: 24px;
	padding-right: 8px;
}
.result-agreement{
	font-size: 11px;
	padding: 20px 0 50px;
	color: #242424;
}
.result-map-pop-bd{
	padding-top: 0;
}
#view-map .close{
	position: absolute;
	z-index: 999;
	top: 4px;
	right: 10px;
}
#view-map .modal-content{
	padding: 5px;
}
.result-map-pop-bd p{
	margin-top: 5px;
	padding: 0 10px;	
}
p.result-pop-name,p.pop-share-ico{
	color: #313131;
}
p.pop-share-ico span img{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	padding-right: 4px;
}