/*
	page widgets css
*/
/*btn*/
.ui-btn,.ui-btn:hover{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 8px 0;
	color: #000000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fafafa;
	background-image: -webkit-linear-gradient(bottom, #ddd, #f4f4f4);
	background-image: -moz-linear-gradient(bottom, #ddd, #f4f4f4);
	background-image: -o-linear-gradient(bottom, #ddd, #f4f4f4);
	background-image: linear-gradient(to top, #ddd, #f4f4f4);
}
.ui-btn-blue,.ui-btn-blue:hover{
	color: #ffffff;
	background-color: #f00;
	background-image: -webkit-linear-gradient(bottom, #2058a1, #3d7bcc);
	background-image: -moz-linear-gradient(bottom, #2058a1, #3d7bcc);
	background-image: -o-linear-gradient(bottom, #2058a1, #3d7bcc);
	background-image: linear-gradient(to top, #2058a1, #3d7bcc);
}
.ui-btn-group .ui-btn{
	width: 48%;
	float: left;
}
.ui-btn-group .ui-btn:nth-child(2n){
	float: right;
}
.ui-btn img{
	vertical-align: middle;
	padding-right: 5px;
}

/*form*/
.ui-form{
	display: block;
	width: 100%;
}

/*select*/
.ui-select-group .ui-select{
	margin-bottom: 10px;
}
.ui-select{
	padding: 8px;
	width: 94%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fafafa;
	border: solid 1px #bfbfbf;
	position: relative;
}
.ui-select p.ui-select-txt{
	color: #bfbfbf;
	background: url(../images/ico_up_gray.png) right center no-repeat;
}
.ui-select-dropdown{
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 100;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.1);
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
}
.ui-select-dropdown{
	max-height: 260px;
	overflow-y: scroll;
}
.ui-select-dropdown ul{
	margin: 5px;
}
.ui-select-dropdown ul li{
	color: #707070;
	padding: 10px;
	border-bottom: 1px solid #f2f2f2;
}
.ui-select-dropdown ul li:nth-last-child(1) {
	border: none;
}
.ui-time-select{
	text-align: center;
}
.ui-time-select .ui-select{
	display: inline-block;
	width: 26%;
}
.ui-time-select p.ui-select-txt{
	background: url(../images/ico_time_s.png) right center no-repeat !important;
}
.ui-time-select .ui-select.on{
	background-image: -webkit-linear-gradient(bottom, #ddd, #f4f4f4);
	background-image: -moz-linear-gradient(bottom, #ddd, #f4f4f4);
	background-image: -o-linear-gradient(bottom, #ddd, #f4f4f4);
	background-image: linear-gradient(to top, #ddd, #f4f4f4);
}
.ui-time-select .ui-select.on p.ui-select-txt{
	color: #000000;
	background: url(../images/ico_arrow_up.png) right center no-repeat !important;
}

/*input*/
.ui-input{
	padding: 10px 8px;
	width: 94%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fafafa;
	border: solid 1px #bfbfbf;
	color: #bfbfbf;
}

/*textarea*/
.ui-textarea{
	padding: 10px 8px;
	width: 94%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fafafa;
	border: solid 1px #bfbfbf;
	color: #bfbfbf;
}

/*checkbox*/
.ui-checkbox-list{
	margin-bottom: 10px;
}
.ui-checkbox{
	cursor: pointer;
	width: 31%;
	display: inline-block;
	background: url(../images/ico_checkbox.png) left center no-repeat;
	margin-bottom: 10px;
}
.ui-checkbox input{
	display: none;
}
.ui-checkbox.on{
	background: url(../images/ico_checkbox_on.png) left center no-repeat;
}
.ui-checkbox span{
	padding-left: 25px;
	color: #000000 !important;
}
.checkbox-inline {
	padding-left: 0;
}
.checkbox-inline .ui-checkbox{
	width: 98%;
	padding-left: 0;
}
