<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://www.springframework.org/schema/context   
            http://www.springframework.org/schema/context/spring-context.xsd  
            http://www.springframework.org/schema/aop   
            http://www.springframework.org/schema/aop/spring-aop.xsd  
            http://www.springframework.org/schema/tx   
            http://www.springframework.org/schema/tx/spring-tx.xsd  
            http://www.springframework.org/schema/mvc   
            http://www.springframework.org/schema/mvc/spring-mvc.xsd  
            http://www.springframework.org/schema/context   
            http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 日期转换  必须放在<mvc:annotation-driven />前面 -->  
    <bean  
        class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
        <!-- 日期格式转换 -->  
        <property name="webBindingInitializer">  
            <bean class="com.kohler.util.DateConverter" />  
        </property>  
       <property name="messageConverters">
		   <list>
		   <ref bean="jsonHttpMessageConverter"/>
		   </list>
	   </property>
    </bean>  
	<bean id="jsonHttpMessageConverter" 
       class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
	
	<bean id="handlerExceptionResolver" class="com.kohler.exception.KohlerHandlerMethodExceptionResolver">
	   <property name="defaultErrorView" value="common/error"/><!-- 错误页面 -->
  	   <property name="messageConverters" ref="jsonHttpMessageConverter"/> <!--见上一篇，有定义过，标有@ResponseBody被此messageConverters输出-->
	</bean>
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
	    <property name="basename" value="message" />
	</bean>
    <mvc:annotation-driven />
	
	<context:component-scan base-package="com.kohler.controller" >
		<context:exclude-filter type="annotation"  expression="org.springframework.stereotype.Service" />
	</context:component-scan>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.InternalResourceView</value>
		</property>
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
		<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes -->
		<!-- 5M -->
		<property name="defaultEncoding" value="utf-8" />
		<property name="maxUploadSize" value="25474565" />
	</bean>
</beans>