<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>编辑用户</title>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
<body>
	<form id="editUserForm">
		<input type="hidden" name="id" value="$user.id"/>
		<table border="1">
			<tr>
				<td>用户名</td>
				<td><input type="text" name="username" value="$!user.username"/></td>
			</tr>
			<tr>
				<td>密码</td>
				<td><input type="text" name="password" value="$!user.password"/></td>
			</tr>
			<tr>
				<td>姓名</td>
				<td><input type="text" name="truename" value="$!user.truename"/></td>
			</tr>
			<tr>
				<td>年龄</td>
				<td><input type="text" name="age" value="$!user.age"/></td>
			</tr>
			<tr>
				<td>性别</td>
				<td>
					<input type="radio" name="sex" value="男"/>
					<input type="radio" name="sex" value="女"/>
				</td>
			</tr>
			<tr>
				<td>邮箱</td>
				<td><input type="text" name="email" value="$!user.email"/></td>
			</tr>
			<tr>
				<td colspan=2><input type="button"  value="更新"  onclick="editUser()"/></td>
			</tr>
		</table>
	</form>
	
<script type="text/javascript">
	function editUser(){
		$.post("update.do",$("#editUserForm").serialize(), function(data){
			var result = eval(data);
			alert(result.msg);
		  },"json");
		
	}

</script>
</body>
</html>

