<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>用户首页</title>
</head>
<body>
	<a href="new.do">新增</a>
	<table border="1">
		<thead>
			<tr>
				<td>编号</td>
				<th>用户名</th>
				<th>密码</th>
				<th>姓名</th>
				<th>年龄</th>
				<th>性别</th>
				<th>邮箱</th>
				<th>操作</th>
			</tr>
		</thead>
		#foreach($user in $users)
		<tr>
			<td>$!user.id</td>
			<td>$!user.username</td>
			<td>$!user.password</td>
			<td>$!user.truename</td>
			<td>$!user.age</td>
			<td>$!user.sex</td>
			<td>$!user.email</td>
			<td><a href="edit.do?id=$!user.id">编辑</a></td>
		</tr>
		#end
	</table>
</body>
</html>