<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name='keywords' content='$!{data.seo.get(0).seo_keywords}&nbsp;'/>
    <meta name='description' content='$!{data.seo.get(0).seo_description}&nbsp;'/>
    #parse("style.vm")
    <script type="text/javascript" src="${data.base_url}js/product.js"></script>
    <title>$!{data.seo.get(0).seo_title}&nbsp;</title>
	  
</head>
<body>
<div class="head_wrapper">
#parse("product_header_pc_cn.vm")
    <div class="pub_submenu page_menu clearfix">
        <div class="submenu_panel bread">
            <div class="bread_panel clearfix">
                <a class="bread_link" href="index.html">首页</a>
                <div class="bread_link" ><img src="images/arrow2.png" alt=""></div>
                <a class="bread_link" href="bathroom.html">卫浴产品</a>
                <div class="bread_link" ><img src="images/arrow2.png" alt=""></div>
                <a class="bread_link" href="">浴缸</a>
            </div>
        </div>
    </div>
</div>
<div class="content_wrapper">
<div class="pub_banner product">
    <div class="subwrapper baths">
        <div class="bgimg actived"><img src="images/banner1.jpg" alt=""></div>
        <div class="bgimg"><img src="images/banner2.jpg" alt=""></div>
        <div class="bgimg"><img src="images/banner3.jpg" alt=""></div>
        <div class="bgimg"><img src="images/banner4.jpg" alt=""></div>
        <div class="bgimg"><img src="images/banner5.jpg" alt=""></div>
        <div class="logo">
            <h2>浴缸产品</h2>
            <p>立体几何设计，外部简洁直角，内部线条柔美</p>
            <a href="">了解更多<i></i></a>
        </div>
        <div class="banner_page list_icon clearfix">
            <span index="1" class="selected"></span>
            <span index="2"></span>
            <span index="3"></span>
            <span index="4"></span>
            <span index="5"></span>
        </div>
    </div>
</div>
<div class="product_list clearfix">
    <div class="left">
        <div class="category">
            <h1>浴缸分类</h1>
            <div class="line220"></div>
            <ul class="cate_list">
                <li class="all"><h2>全部浴缸</h2></li>
                <li class="cate1"><h2>按摩浴缸</h2></li>
                <li class="cate2"><h2>泡泡浴缸</h2></li>
                <li class="cate3"><h2>铸铁浴缸</h2></li>
                <li class="cate4"><h2>亚克力浴缸</h2></li>
                <li class="cate5"><h2>绮美石浴缸及浴缸配件</h2></li>
            </ul>
        </div>
        <div class="filter">
            <div class="filter_title">
                <h1>属性筛选</h1>
                <div class="btn_clear">清空</div>
                <div class="line220"></div>
            </div>
            
            <div class="filter_list">
                <div class="filter_list_first">
                    <p class="filter_list_first_title">skuCode</p>
		    <input id="test_color" value="K-101-12-02" />
                    <div id="solr_search">查询</div>
                </div>
                <div class="line220"></div>
            </div>
        </div>
    </div>
    <div class="right clearfix">
        <div class="search">
            <p>排列方式</p>
            <ul class="select-panel clearfix">
                <li class="option" value="">排列方式1</li>
                <li class="option" value="">排列方式2</li>
                <li class="option" value="">排列方式3</li>
                <li class="option" value="">排列方式4</li>
                <li class="option" value="">排列方式5</li>
                <li class="option" value="">排列方式6</li>
                <li class="option" value="">排列方式7</li>
            </ul>
        </div>
        <ul class="item-panel">
            <li class="cate1">
                <div>
                    <div class="item_img"><img src="images/baths1.jpg" alt=""></div>
                    <span>
                       <h3>PURIST®飘瑞诗</h3>
                       <p>舒缓型按摩浴缸</p>
                       <p class="type">K-2660T-1</p>
                    </span>
                </div>
                <div class="detail_popup">
                    <div class="item_img"><img src="images/baths1.jpg" alt=""></div>
                    <span>
                        <h3>PURIST®飘瑞诗</h3>
                        <p>舒缓型按摩浴缸</p>
                        <p class="type">K-2660T-1</p>
                    </span>
                    <div class="preview">快速预览</div>
                </div>
            </li>


            <li class="large">
                <div class="item_img_large"><img src="images/baths-l1.jpg" alt=""></div>
                <span class="frame"></span>
                <span class="large_txt">
                    <h2>VOLUTE<span class="mark">TM</span> 拂乐</h2>
                    <h2>铸铁浴缸</h2>
                    <p>简约时尚，随心搭配</p>
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="pub_totop">
    <div class="totop_btn"><img src="images/totop.png" alt=""></div>
    <span>返回顶部</span>
</div>
<div class="pub_footer">
    <div class="subnav">
        <div class="layout about">
            <h4>关于科勒</h4>
            <ul>
                <li><a href="" rel="nofollow">关于我们</a></li>
                <li><a href="" rel="nofollow">联系我们</a></li>
                <li><a href="" rel="nofollow">新闻中心</a></li>
                <li><a href="" rel="nofollow">售后支持</a></li>
                <li><a href="" rel="nofollow">招贤纳士</a></li>
            </ul>
        </div>
        <div class="layout">
            <h4><br/></h4>
            <ul>
                <li><a href="" rel="nofollow">网站地图</a></li>
                <li><a href="" rel="nofollow">科勒全球</a></li>
                <li><a href="" rel="nofollow">法律声明</a></li>
                <li><a href="" rel="nofollow">隐私条款</a></li>
                <li><a href="" rel="nofollow">App下载</a></li>
            </ul>
        </div>
        <div class="layout brand">
            <h4>旗下品牌</h4>
            <ul>
                <li><a href="" rel="nofollow">Sterling</a></li>
                <li><a href="" rel="nofollow">Kallista</a></li>
                <li><a href="" rel="nofollow">Ann Sacks</a></li>
                <li><a href="" rel="nofollow">Robern</a></li>
            </ul>
        </div>
        <div class="layout media">
            <h4>社交媒体</h4>
            <ul>
                <li class="blog"><a href="" rel="nofollow"><i></i><span>新浪微博</span></a></li>
                <li class="qqblog"><a href="" rel="nofollow"><i></i><span>腾讯微博</span></a></li>
                <li class="douban"><a href="" rel="nofollow"><i></i><span>豆瓣网</span></a></li>
                <li class="renren"><a href="" rel="nofollow"><i></i><span>人人网</span></a></li>
                <li class="qzone"><a href="" rel="nofollow"><i></i><span>QQ空间</span></a></li>
                <li class="wechat"><a href="" rel="nofollow"><i></i><span>微信</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="compare_panel_small">
    <div class="compare_bar_small">
        <a class="compare_btn_show" href="javascript:;">产品对比</a><a class="compare_btn_hide" href="javascript:;">取消对比</a>
    </div>
</div>
<div class="compare_panel_large">
    <div class="compare_bar_large">
        <div class="compare_bar_title">
            <p class="p_title">产品对比</p>
            <a href="javascript:;" class="compare_btn">产品对比</a>
            <a href="javascript:;" class="compare_empty">清空</a>
            <p class="p_hide">隐藏对比栏</p>
        </div>
        <div class="compare_bar_list">
            <div class="compare_list">
                <div class="compare_img">
                    <img src="images/baths7.jpg" alt="">
                    <div class="compare_close"></div>
                </div>
                <div class="compare_txt">
                    <p class="txt">RiverBath 瑞瀑</p>
                    <p class="txt">圆形水力/水疗型<br />按摩浴缸</p>
                    <p class="type">K-1189-C1</p>
                </div>
            </div>
            <div class="compare_list">
                <div class="compare_img">
                    <img src="images/baths8.jpg" alt="">
                    <div class="compare_close"></div>
                </div>
                <div class="compare_txt">
                    <p class="txt">PURIST® 飘瑞诗</p>
                    <p class="txt">压克力按摩浴缸</p>
                    <p class="type">K-1189-C1</p>
                </div>
            </div>
            <div class="compare_list">
                <div class="compare_img">
                    <img src="images/baths5.jpg" alt="">
                    <div class="compare_close"></div>
                </div>
                <div class="compare_txt">
                    <p class="txt">SOK® 素克</p>
                    <p class="txt">溢流型水疗按摩浴缸<br />（灯光）</p>
                    <p class="type">K-1189-C1</p>
                </div>
            </div>
            <div class="compare_list add">
                <div class="compare_img add">
                    <img src="images/compare_add.jpg" alt="">
                </div>
                <div class="compare_txt">
                    <p class="txt">添加其他产品</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pub_copyright">
    <div class="copyright"><p>© Kohler Co. All Rights Reserved</p></div>
</div>
<div class="product_popup">
    <div class="popup_panel" id="pop1">
        <div class="pop_img"><img src="images/baths1.jpg" alt=""></div>
        <div class="pop_info">
            <div class="pop_close"><img src="images/icon_close.png" alt=""></div>
            <div class="product_feature">
                <div class="product_pop_details">
                    <h1>PURIST® 飘瑞诗</h1>
                    <h1>舒缓型 按摩型浴缸</h1>
                    <p>飘瑞诗压克力按摩浴缸在带给您豪华沐浴体验的同时，更为您展现了一道特殊的风景：幻彩灯光。在七彩波光的循环荡漾中，放松身心，伴着光与水合奏的摇篮曲，悠游自在。只需轻轻一点按钮，循环便即停止，让您选择最适合心情的色彩。</p>
                </div>
                <div class="product_titles">
                    <h3>K-2660T-1</h3>
                    <p class="color"><b>颜色：</b><span>白色</span></p>
                    <ul class="product_color_warp clearfix">
                        <li color="白色" class="selected"></li>
                        <!-- <li color="黑色" class="black"></li> -->
                    </ul>
                </div>
                <a class="product_car_btn clearfix" href="bathspd.html">
                    <li class="product_btn_car">点击查看详情</li>
                </a>
                <ul class="product_bottom_btn clearfix">
                    <li class="product_btn compare">产品对比</li>
                    <li class="product_btn">收藏</li>
                    <li class="product_btn2"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popup_panel" id="pop2">
        <div class="pop_img"><img src="images/baths2.jpg" alt=""></div>
        <div class="pop_info">
            <div class="pop_close"><img src="images/icon_close.png" alt=""></div>
            <div class="product_feature">
                <div class="product_pop_details">
                    <h1>SOK® 素克</h1>
                    <h1>溢流型水疗按摩浴缸（灯光）</h1>
                    <p><!-- 飘瑞诗压克力按摩浴缸在带给您豪华沐浴体验的同时，更为您展现了一道特殊的风景：幻彩灯光。在七彩波光的循环荡漾中，放松身心，伴着光与水合奏的摇篮曲，悠游自在。只需轻轻一点按钮，循环便即停止，让您选择最适合心情的色彩。 --></p>
                </div>
                <div class="product_titles">
                    <h3>K-2749T</h3>
                    <p class="color"><b>颜色：</b><span>白色</span></p>
                    <ul class="product_color_warp clearfix">
                        <li color="白色" class="selected"></li>
                        <!-- <li color="黑色" class="black"></li> -->
                    </ul>
                </div>
                <a class="product_car_btn clearfix" href="bathspd.html">
                    <li class="product_btn_car">点击查看详情</li>
                </a>
                <ul class="product_bottom_btn clearfix">
                    <li class="product_btn compare">产品对比</li>
                    <li class="product_btn">收藏</li>
                    <li class="product_btn2"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popup_panel" id="pop3">
        <div class="pop_img"><img src="images/baths3.jpg" alt=""></div>
        <div class="pop_info">
            <div class="pop_close"><img src="images/icon_close.png" alt=""></div>
            <div class="product_feature">
                <div class="product_pop_details">
                    <h1>SOK® 素克</h1>
                    <h1>溢流型水疗按摩浴缸（灯光）</h1>
                    <p><!-- 飘瑞诗压克力按摩浴缸在带给您豪华沐浴体验的同时，更为您展现了一道特殊的风景：幻彩灯光。在七彩波光的循环荡漾中，放松身心，伴着光与水合奏的摇篮曲，悠游自在。只需轻轻一点按钮，循环便即停止，让您选择最适合心情的色彩。 --></p>
                </div>
                <div class="product_titles">
                    <h3>K-11479T-VC1</h3>
                    <p class="color"><b>颜色：</b><span>白色</span></p>
                    <ul class="product_color_warp clearfix">
                        <li color="白色" class="selected"></li>
                        <!-- <li color="黑色" class="black"></li> -->
                    </ul>
                </div>
                <a class="product_car_btn clearfix" href="bathspd.html">
                    <li class="product_btn_car">点击查看详情</li>
                </a>
                <ul class="product_bottom_btn clearfix">
                    <li class="product_btn compare">产品对比</li>
                    <li class="product_btn">收藏</li>
                    <li class="product_btn2"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popup_panel" id="pop4">
        <div class="pop_img"><img src="images/baths4.jpg" alt=""></div>
        <div class="pop_info">
            <div class="pop_close"><img src="images/icon_close.png" alt=""></div>
            <div class="product_feature">
                <div class="product_pop_details">
                    <h1>SOK® 素克</h1>
                    <h1>溢流型水疗按摩浴缸（灯光）</h1>
                    <p><!-- 飘瑞诗压克力按摩浴缸在带给您豪华沐浴体验的同时，更为您展现了一道特殊的风景：幻彩灯光。在七彩波光的循环荡漾中，放松身心，伴着光与水合奏的摇篮曲，悠游自在。只需轻轻一点按钮，循环便即停止，让您选择最适合心情的色彩。 --></p>
                </div>
                <div class="product_titles">
                    <h3>K-1189-C1</h3>
                    <p class="color"><b>颜色：</b><span>白色</span></p>
                    <ul class="product_color_warp clearfix">
                        <li color="白色" class="selected"></li>
                        <!-- <li color="黑色" class="black"></li> -->
                    </ul>
                </div>
                <a class="product_car_btn clearfix" href="bathspd.html">
                    <li class="product_btn_car">点击查看详情</li>
                </a>
                <ul class="product_bottom_btn clearfix">
                    <li class="product_btn compare">产品对比</li>
                    <li class="product_btn">收藏</li>
                    <li class="product_btn2"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popup_panel" id="pop5">
        <div class="pop_img"><img src="images/baths5.jpg" alt=""></div>
        <div class="pop_info">
            <div class="pop_close"><img src="images/icon_close.png" alt=""></div>
            <div class="product_feature">
                <div class="product_pop_details">
                    <h1>SOK® 素克</h1>
                    <h1>溢流型水疗按摩浴缸（灯光）</h1>
                    <p><!-- 飘瑞诗压克力按摩浴缸在带给您豪华沐浴体验的同时，更为您展现了一道特殊的风景：幻彩灯光。在七彩波光的循环荡漾中，放松身心，伴着光与水合奏的摇篮曲，悠游自在。只需轻轻一点按钮，循环便即停止，让您选择最适合心情的色彩。 --></p>
                </div>
                <div class="product_titles">
                    <h3>K-1189-C1</h3>
                    <p class="color"><b>颜色：</b><span>白色</span></p>
                    <ul class="product_color_warp clearfix">
                        <li color="白色" class="selected"></li>
                        <!-- <li color="黑色" class="black"></li> -->
                    </ul>
                </div>
                <a class="product_car_btn clearfix" href="bathspd.html">
                    <li class="product_btn_car">点击查看详情</li>
                </a>
                <ul class="product_bottom_btn clearfix">
                    <li class="product_btn compare">产品对比</li>
                    <li class="product_btn">收藏</li>
                    <li class="product_btn2"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popup_panel" id="pop6">
        <div class="pop_img"><img src="images/baths6.jpg" alt=""></div>
        <div class="pop_info">
            <div class="pop_close"><img src="images/icon_close.png" alt=""></div>
            <div class="product_feature">
                <div class="product_pop_details">
                    <h1>Consonance® 康尚</h1>
                    <h1>方形水力/水疗型按摩浴缸</h1>
                    <p><!-- 飘瑞诗压克力按摩浴缸在带给您豪华沐浴体验的同时，更为您展现了一道特殊的风景：幻彩灯光。在七彩波光的循环荡漾中，放松身心，伴着光与水合奏的摇篮曲，悠游自在。只需轻轻一点按钮，循环便即停止，让您选择最适合心情的色彩。 --></p>
                </div>
                <div class="product_titles">
                    <h3>K-11479T-VC1</h3>
                    <p class="color"><b>颜色：</b><span>白色</span></p>
                    <ul class="product_color_warp clearfix">
                        <li color="白色" class="selected"></li>
                        <!-- <li color="黑色" class="black"></li> -->
                    </ul>
                </div>
                <a class="product_car_btn clearfix" href="bathspd.html">
                    <li class="product_btn_car">点击查看详情</li>
                </a>
                <ul class="product_bottom_btn clearfix">
                    <li class="product_btn compare">产品对比</li>
                    <li class="product_btn">收藏</li>
                    <li class="product_btn2"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popup_panel" id="pop7">
        <div class="pop_img"><img src="images/baths7.jpg" alt=""></div>
        <div class="pop_info">
            <div class="pop_close"><img src="images/icon_close.png" alt=""></div>
            <div class="product_feature">
                <div class="product_pop_details">
                    <h1>RiverBath 瑞瀑</h1>
                    <h1>圆形水力/水疗型按摩浴缸</h1>
                    <p><!-- 飘瑞诗压克力按摩浴缸在带给您豪华沐浴体验的同时，更为您展现了一道特殊的风景：幻彩灯光。在七彩波光的循环荡漾中，放松身心，伴着光与水合奏的摇篮曲，悠游自在。只需轻轻一点按钮，循环便即停止，让您选择最适合心情的色彩。 --></p>
                </div>
                <div class="product_titles">
                    <h3>K-1189-C1</h3>
                    <p class="color"><b>颜色：</b><span>白色</span></p>
                    <ul class="product_color_warp clearfix">
                        <li color="白色" class="selected"></li>
                        <!-- <li color="黑色" class="black"></li> -->
                    </ul>
                </div>
                <a class="product_car_btn clearfix" href="bathspd.html">
                    <li class="product_btn_car">点击查看详情</li>
                </a>
                <ul class="product_bottom_btn clearfix">
                    <li class="product_btn compare">产品对比</li>
                    <li class="product_btn">收藏</li>
                    <li class="product_btn2"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popup_panel" id="pop8">
        <div class="pop_img"><img src="images/baths8.jpg" alt=""></div>
        <div class="pop_info">
            <div class="pop_close"><img src="images/icon_close.png" alt=""></div>
            <div class="product_feature">
                <div class="product_pop_details">
                    <h1>PURIST® 飘瑞诗</h1>
                    <h1>压克力按摩浴缸</h1>
                    <p><!-- 飘瑞诗压克力按摩浴缸在带给您豪华沐浴体验的同时，更为您展现了一道特殊的风景：幻彩灯光。在七彩波光的循环荡漾中，放松身心，伴着光与水合奏的摇篮曲，悠游自在。只需轻轻一点按钮，循环便即停止，让您选择最适合心情的色彩。 --></p>
                </div>
                <div class="product_titles">
                    <h3>K-1189-C1</h3>
                    <p class="color"><b>颜色：</b><span>白色</span></p>
                    <ul class="product_color_warp clearfix">
                        <li color="白色" class="selected"></li>
                        <!-- <li color="黑色" class="black"></li> -->
                    </ul>
                </div>
                <a class="product_car_btn clearfix" href="bathspd.html">
                    <li class="product_btn_car">点击查看详情</li>
                </a>
                <ul class="product_bottom_btn clearfix">
                    <li class="product_btn compare">产品对比</li>
                    <li class="product_btn">收藏</li>
                    <li class="product_btn2"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popup_panel" id="pop9">
        <div class="pop_img"><img src="images/baths9.jpg" alt=""></div>
        <div class="pop_info">
            <div class="pop_close"><img src="images/icon_close.png" alt=""></div>
            <div class="product_feature">
                <div class="product_pop_details">
                    <h1>Evora™伊芙拉</h1>
                    <h1>压克力按摩浴缸</h1>
                    <p><!-- 飘瑞诗压克力按摩浴缸在带给您豪华沐浴体验的同时，更为您展现了一道特殊的风景：幻彩灯光。在七彩波光的循环荡漾中，放松身心，伴着光与水合奏的摇篮曲，悠游自在。只需轻轻一点按钮，循环便即停止，让您选择最适合心情的色彩。 --></p>
                </div>
                <div class="product_titles">
                    <h3>K-11479T-VC1</h3>
                    <p class="color"><b>颜色：</b><span>白色</span></p>
                    <ul class="product_color_warp clearfix">
                        <li color="白色" class="selected"></li>
                        <!-- <li color="黑色" class="black"></li> -->
                    </ul>
                </div>
                <a class="product_car_btn clearfix" href="bathspd.html">
                    <li class="product_btn_car">点击查看详情</li>
                </a>
                <ul class="product_bottom_btn clearfix">
                    <li class="product_btn compare">产品对比</li>
                    <li class="product_btn">收藏</li>
                    <li class="product_btn2"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popup_panel" id="pop11">
        <div class="pop_img"><img src="images/baths10.jpg" alt=""></div>
        <div class="pop_info">
            <div class="pop_close"><img src="images/icon_close.png" alt=""></div>
            <div class="product_feature">
                <div class="product_pop_details">
                    <h1>Evora™伊芙拉</h1>
                    <h1>压克力按摩浴缸</h1>
                    <p><!-- 飘瑞诗压克力按摩浴缸在带给您豪华沐浴体验的同时，更为您展现了一道特殊的风景：幻彩灯光。在七彩波光的循环荡漾中，放松身心，伴着光与水合奏的摇篮曲，悠游自在。只需轻轻一点按钮，循环便即停止，让您选择最适合心情的色彩。 --></p>
                </div>
                <div class="product_titles">
                    <h3>K-11479T-VC1</h3>
                    <p class="color"><b>颜色：</b><span>白色</span></p>
                    <ul class="product_color_warp clearfix">
                        <li color="白色" class="selected"></li>
                        <!-- <li color="黑色" class="black"></li> -->
                    </ul>
                </div>
                <a class="product_car_btn clearfix" href="bathspd.html">
                    <li class="product_btn_car">点击查看详情</li>
                </a>
                <ul class="product_bottom_btn clearfix">
                    <li class="product_btn compare">产品对比</li>
                    <li class="product_btn">收藏</li>
                    <li class="product_btn2"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>