<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="max-age=300"/>
    <meta name='keywords' content='$!{seo_keywords}&nbsp;'/>
    <meta name='description' content='$!{seo_description}&nbsp;'/>
    <meta name="applicable-device" content="pc">
	<script type="text/javascript" src="js/product.js" async="async"></script>
    <script type="text/javascript" src="js/search.js" async="async"></script>
    #parse("style.vm")
    <title>$!{seo_title}&nbsp;</title>
</head>
<body>
<div class="head_wrapper">
 #parse('headFile.vm')
    <div class="pub_subnav">
        <div class="pub_subnav_warp">
            <ul class="clearfix">	
			#if(${data.brandlist})
			#foreach($param in ${data.brandlist.keySet()})
				<li>${data.brandlist.get($param).get('brandname')}</li>
			#end
            #end			
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>	
	 <div class="pub_subnav_arrow">
        <div class="arrow_bottom"></div>
    </div>
    <div class="pub_search">
        <div class="pub_searchpanel">
            <div class="pub_searchbar">
                <input type="text" placeholder="请输入关键字或产品代码" />
                <div class="pub_searchicon"></div>
            </div>
            <div class="pub_searchhistory">
                <ul>
                    <li>艾贝</li>
                    <li>艾葆绰</li>
                    <li>艾黛儿</li>
                    <li>艾斯格尔独立套间</li>
                </ul>
                <div class="pub_searchall">查看所有搜索结果</div>
            </div>
        </div>
    </div>
</div>
<div class="content_wrapper">
#if(${data.content})
#foreach($param in ${data.content.keySet()})
#if(($velocityCount % 2) == 0)
<div class="brand_content" id="collection_list20">
    <div class="box_item4">
        <img src="${data.content.get($param).get('image_url_2')}">
    </div>
    <div class="box_item1">
        <div class="box_item2"><h2>$!{data.content.get($param).get('title')}&nbsp;</h2>
            <p>$!{data.content.get($param).get('description')}&nbsp;</p><a href="${data.content.get($param).get('more_url')}">点击查看详情 &gt;</a></div>
        <div class="box_item3"><img src="${data.content.get($param).get('image_url_1')}"/></div>
    </div>
    <div class="clearfix"></div>
    <div class="box_item4">
        <img src="${data.content.get($param).get('image_url_1')}" class="imgpad">
    </div>
    <div class="box_item3">
        <ul class="product_title_wrap">
            <li class="product_title_li">               
                <ul class="product_title_list">
                    <span>A.</span>
					#if(${data.content.get($param).get('content_listA')})
                    #foreach($param in ${data.content.get($param).get('content_listA')})
                    <li>$param</li>
                    #end
					#end
                </ul>
            </li>
            <li class="product_title_li">
                <ul class="product_title_list">
                <span>B.</span>
				    #if(${data.content.get($param).get('content_listB')})
                    #foreach($param in ${data.content.get($param).get('content_listB')})
                    <li>$param</li>
                    #end
					#end
                </ul>
            </li>
            <li class="product_title_li">
                <ul class="product_title_list">
                <span>C.</span>
				    #if(${data.content.get($param).get('content_listC')})
                    #foreach($param in ${data.content.get($param).get('content_listC')})
                    <li>$param</li>
                    #end
					#end
                </ul>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<div class="line_full"></div>
#else
<div class="brand_content" id="collection_list9">
    <div class="box_item1">
        <div class="box_item2"><h2>$!{data.content.get($param).get('title')}&nbsp;</h2>
            <p>$!{data.content.get($param).get('description')}&nbsp;</p><a href="${data.content.get($param).get('more_url')}">点击查看详情 &gt;</a></div>
        <div class="box_item3"><img src="${data.content.get($param).get('image_url_1')}"/></div>
    </div>
    <div class="box_item4">
        <img src="${data.content.get($param).get('image_url_2')}">
    </div>
    <div class="clearfix"></div>
    <div class="box_item3">
        <ul class="product_title_wrap">
            <li class="product_title_li">
                <ul class="product_title_list">
                    <span>A.</span>
					#if(${data.content.get($param).get('content_listA')})
					#foreach($param in ${data.content.get($param).get('content_listA')})
                    <li>$param</li>
                    #end
					#end
                </ul>
            </li>
            <li class="product_title_li">
                <ul class="product_title_list">
                    <span>B.</span>
					#if(${data.content.get($param).get('content_listB')})
                    #foreach($param in ${data.content.get($param).get('content_listB')})
                    <li>$param</li>
                    #end
					#end
                </ul>
            </li>
            <li class="product_title_li">          
                <ul class="product_title_list">
                    <span>C.</span>
					#if(${data.content.get($param).get('content_listC')})
                    #foreach($param in ${data.content.get($param).get('content_listC')})
                    <li>$param</li>
                    #end
					#end
                </ul>
            </li>
        </ul>
    </div>
    <div class="box_item4">
        <img src="${data.content.get($param).get('image_url_3')}">
    </div>
    <div class="clearfix"></div>
</div>
<div class="line_full"></div>
#end
#end
#end
<div class="pub_totop">
    <div class="totop_btn"><img src="images/totop.png" alt=""></div>
    <span>返回顶部</span>
</div>
#parse('footFile.vm')
</div>
</body>
</html>