<div class="pub_footer">
    <div class="subnav">
        <div class="layout about">
            <h4>About Kohler</h4>
            <ul>
                <li><a href="" rel="nofollow">About Us</a></li>
                <li><a href="" rel="nofollow">Contact Us</a></li>
                <li><a href="" rel="nofollow">Press Room</a></li>
                <li><a href="" rel="nofollow">Customer Support</a></li>
                <li><a href="" rel="nofollow">Career</a></li>
            </ul>
        </div>
        <div class="layout">
            <h4><br/></h4>
            <ul>
                <li><a href="" rel="nofollow">Sitemap</a></li>
                <li><a href="" rel="nofollow">Kohler Worldwide</a></li>
                <li><a href="" rel="nofollow">Legal Statement</a></li>
                <li><a href="" rel="nofollow">Privacy</a></li>
                <li><a href="" rel="nofollow">App Download</a></li>
            </ul>
        </div>
        <div class="layout brand">
            <h4>KOHLER Co.</h4>
            <ul>
                <li><a href="" rel="nofollow">Sterling</a></li>
                <li><a href="" rel="nofollow">Kallista</a></li>
                <li><a href="" rel="nofollow">Ann Sacks</a></li>
                <li><a href="" rel="nofollow">Robern</a></li>
            </ul>
        </div>
        <div class="layout media">
            <h4>Social Media</h4>
            <ul>
                <li class="blog"><a href="" rel="nofollow"><i></i><span>Sina Weibo</span></a></li>
                <li class="qqblog"><a href="" rel="nofollow"><i></i><span>Tencent Weibo</span></a></li>
                <li class="douban"><a href="" rel="nofollow"><i></i><span>Douban</span></a></li>
                <li class="renren"><a href="" rel="nofollow"><i></i><span>Renren</span></a></li>
                <li class="qzone"><a href="" rel="nofollow"><i></i><span>QQ zone</span></a></li>
                <li class="wechat"><a href="" rel="nofollow"><i></i><span>WeChat</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="pub_copyright">
    <div class="copyright"><p>© Kohler Co. All Rights Reserved</p></div>
</div>