<div class="pub_header">
    <div class="login_panel">
        <ul>
            <li class="language"><a href=""><i></i><span>中文</span></a></li>
            <li class="login"><a href=""><i></i><span>Login/Registration</span></a></li>
            <li class="favorite"><a href=""><i></i><span>My Favorite</span></a></li>
            <li class="shop"><a href=""><i></i><span>Find A Showroom</span></a></li>
        </ul>
    </div>
</div>
<div class="pub_nav">
    <div class="nav_panel">
        <a href="index.html" class="logo"></a>
        <ul class="menu">
            <li><a href="bathroom.html"><h1>BATHROOM</h1></a></li>
            <li><a href="kitchen.html"><h1>KITCHEN</h1></a></li>
            <li><a href=""><h1>HOME IDEAS</h1></a></li>
            <li><a href=""><h1>PROFESSIONALS</h1></a></li>
            <li><a href=""><h1>WHAT'S NEW</h1></a></li>
        </ul>
        <div class="search_panel"></div>
    </div>
</div>
<div class="pub_search">
    <div class="pub_searchpanel">
        <div class="pub_searchbar">
            <input type="text" placeholder="请输入关键字或产品代码" />
            <div class="pub_searchicon"></div>
        </div>
        <div class="pub_searchhistory">
            <ul>
                <li>艾贝</li>
                <li>艾葆绰</li>
                <li>艾黛儿</li>
                <li>艾斯格尔独立套间</li>
            </ul>
            <div class="pub_searchall">查看所有搜索结果</div>
        </div>
    </div>
</div>
<div class="pub_submenu home_page">
    <div class="submenu_panel bathroom clearfix">
        <ul class="clearfix">
            <li>
                <div class="list">
                    <h5><a class="title" href="">Intelligent toilets</a></h5>
                </div>
                <div class="list">
                    <h5><a class="title" href="toilets.html">Toilets</a></h5>
                    <a href="">One-piece Toilets</a>
                    <a href="">Two-piece Toilets</a>
                </div>
                <div class="list">
                    <h5><a class="title" href="">Toilets Seats</a></h5>
                    <a href="">Intelligent toilets Seats</a>
                    <a href="">普通盖板</a>
                </div>
                <div class="list">
                    <h5><a class="title" href="">C³ Toilets Seats</a></h5>
                </div>
                <div class="list">
                    <h5><a class="title" href="">Bathroom Faucets</a></h5>
                    <a href="">Sinks Faucets</a>
                    <a href="">Bathtubs Faucets</a>
                    <a href="">净身盆龙头</a>
                    <a href="">挂墙式花洒龙头</a>
                    <a href="">Faucets Accessories</a>
                </div>
            </li>
            <li>
                <div class="list">
                    <h5><a class="title" href="faucets.html">Showerheads</a></h5>
                    <a href="">淋浴柱及淋浴屏</a>
                    <a href="">头顶花洒</a>
                    <a href="">手持花洒</a>
                    <a href="">智能淋浴系统</a>
                    <a href="">入墙式阀芯及面板</a>
                    <a href="">淋浴配件</a>
                </div>
                <div class="list">
                    <h5><a class="title" href="">Grooming</a></h5>
                    <a href="">Sinks</a>
                    <a href="">Bathroom Furniture</a>
                    <a href="">Mirrored Cabinets</a>
                </div>
                <div class="list">
                    <h5><a class="title" href="baths.html">SPA Massage</a></h5>
                    <a href="">水 · 乐浴缸</a>
                    <a href="">组合型水力/水疗按摩浴缸</a>
                    <a href="">舒缓型按摩浴缸</a>
                    <a href="">Bubble Massage</a>
                    <a href="">舒适型水力按摩浴缸</a>
                </div>
            </li>
            <li>
                <div class="list">
                    <h5><a class="title" href="baths.html">Bathtubs</a></h5>
                    <a href="">Cast Iron Bathtubs</a>
                    <a href="">Acrylic Bathtubs</a>
                    <a href="">Lithocast Bath</a>
                    <a href="">Bathtubs Accessories</a>
                </div>
                <div class="list">
                    <h5><a class="title" href="showrooms.html">Shower Doors</a></h5>
                    <a href="">Shower Doors</a>
                    <a href="">Shower Doors & Accessories</a>
                </div>
                <div class="list">
                    <h5><a class="title" href="">蒸汽设备</a></h5>
                </div>
                <div class="list">
                    <h5><a class="title" href="">Commercial Product</a></h5>
                    <a href="">Commercial Faucets</a>
                    <a href="">Commercial Toilets</a>
                    <a href="">Commercial Urinal</a>
                    <a href="">商用电子</a>
                    <a href="">Bidets</a>
                    <a href="">Commercial Accessories</a>
                </div>
            </li>
            <li>
                <div class="list list20">
                    <h5><a class="images" href="arts.html">Artist Editions</a></h5>
                    <a href="arts.html"><img src="images/submenu1.jpg" alt=""></a>
                </div>
                <div class="list list20">
                    <h5><a class="images" href="collection.html">Collections</a></h5>
                    <a href="collection.html"><img src="images/submenu2.jpg" alt=""></a>
                </div>
                <div class="list">
                    <h5><a class="images" href="newbaths.html">New Bathroom Products</a></h5>
                    <a href="newbaths.html"><img src="images/submenu3.jpg" alt=""></a>
                </div>
                <div class="list">
                    <h5><a class="title" href="">Bathroom Accessories</a></h5>
                    <a href="">Bathroom Accessories</a>
                    <a href="">Lighting</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="submenu_panel kitchen clearfix">
        <ul class="clearfix">
            <li>
                <div class="list">
                    <h5><a class="title" href="">整体橱柜</a></h5>
                </div>
                <div class="list">
                    <h5><a class="title" href="toilets.html">Kitchen Sinks</a></h5>
                    <a href="">Kitchen Sinks</a>
                    <a href="">Kitchen Sinks & Accessories</a>
                </div>
            </li>
            <li>
                <div class="list">
                    <h5><a class="title" href="">Kitchen Faucets</a></h5>
                </div>
                <div class="list">
                    <h5><a class="title" href="">Kitchen Water Filtration System</a></h5>
                </div>
            </li>
            <li>
                <div class="list"></div>
            </li>
            <li>
                <div class="list list20">
                    <h5><a class="images" href="">New Kitchen Products</a></h5>
                    <a href=""><img src="images/submenu4.jpg" alt=""></a>
                </div>
            </li>
        </ul>
    </div>
</div>