<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="max-age=300"/>
    <meta name='keywords' content='$!{data.seo_keywords}&nbsp;'/>
    <meta name='description' content='$!{data.seo_description}&nbsp;'/>
    <meta name="applicable-device" content="pc">
    #parse("style.vm")
    #parse("sec_style.vm")
    <title>$!{data.seo_title}&nbsp;</title>
</head>
<body>
<!-- pub_header start -->
#parse("header_pc_cn.vm")
<!-- pub_header end -->
<!-- pub_banner start -->
<div class="pub_banner index">
    <div class="subwrapper index">
	
		#if(${data.hero_areas})
		#foreach($hero_areas in ${data.hero_areas})
			#if($velocityCount==1)
			#if(${hero_areas.target_url})
		    <a href="${hero_areas.target_url}" target="$!{hero_areas.operation}&nbsp;"   class="bgimg actived"><img src="${hero_areas.image_url}" alt="$!{hero_areas.image_alt}&nbsp;"></a>
			#else
			 <a class="bgimg actived"><img src="${hero_areas.image_url}" alt="$!{hero_areas.image_alt}&nbsp;"></a>
			#end
			#end
			
			#if($velocityCount!=1)
			#if(${hero_areas.target_url})
		    <a href="${hero_areas.target_url}" target="${hero_areas.operation}"   class="bgimg"><img src="${hero_areas.image_url}" alt="$!{hero_areas.image_alt}&nbsp;"></a>
			#else
			<a class="bgimg"><img src="${hero_areas.image_url}" alt="$!{hero_areas.image_alt}&nbsp;"></a>
			#end
			#end
        #end   
        #end   
		
		
        <div class="banner_page clearfix">
           
		#if(${data.hero_areas})
		#foreach($tempindex in [1..${data.hero_areas.size()}])
			#if($tempindex == 1)
			
			<span index="$tempindex" class="selected"></span>
			#else	  
			<span index="$tempindex"></span>
		#end
		#end
		#end
        </div>
    </div>
</div>
<!-- pub_banner end -->
<!-- index_content start -->
<div class="index_content">

  	#if(${data.banner_units})
    <div class="column">
		
		#foreach($banner_units in ${data.banner_units})
		#if($velocityCount>=1 && $velocityCount<=3)
		#if(${banner_units.target_url})
        <a href="${banner_units.target_url}" class="item" target="$!{banner_units.operation}&nbsp;">
            <div class="item_img"><img src="${banner_units.file_id}" alt="$!{banner_units.image_alt}&nbsp;"/></div>
		#else
		 <a  class="item" >
            <div class="item_img"><img src="${banner_units.file_id}" alt="$!{banner_units.image_alt}&nbsp;"/></div>
		#end
				
					$!{banner_units.image_overlay_text}&nbsp;
				
		</a>
		
      #end 
      #end 
	</div>
	 #end 
	 
	 #if(${data.banner_units})
    <div class="column">
		
		#foreach($banner_units in ${data.banner_units})
		#if($velocityCount>=4 && $velocityCount<=6)
	
        #if(${banner_units.target_url})
        <a href="${banner_units.target_url}" class="item" target="$!{banner_units.operation}&nbsp;">
            <div class="item_img"><img src="${banner_units.file_id}" alt="$!{banner_units.image_alt}&nbsp;"/></div>
		#else
		 <a  class="item" >
            <div class="item_img"><img src="${banner_units.file_id}" alt="$!{banner_units.image_alt}&nbsp;"/></div>
		#end
				
					$!{banner_units.image_overlay_text}
				
		</a>
		
      #end 
      #end 
	</div>
	 #end 


	 
	
</div>
	<div class="index_series">
    <h2>探索科勒无限可能</h2>

    <div class="series_panel">
        <div class="series_panel_img actived"><img src="${data.base_url}images/series1.jpg" alt=""></div>
       
		
			#if(${data.hot_spots})
			#foreach($hot_spots in ${data.hot_spots})
				
			<div class="series_panel_img">$!{hot_spots.content}&nbsp;</div>
				
			#end
			#end
		
        <div class="series_info">
            <h4>ROSEGOLED 玫瑰金系列</h4>

            <p>岁月流转，时尚易逝，我们一直在思考，怎样一种色彩，才能适应时代流行，又不随年华褪色。这个思考引发我们不断试验各种颜色，千锤百炼下，科勒玫瑰金诞生了。</p>
            <a href="javascript:;" class="info_btn">查看产品系列</a>
        </div>
        <div class="details_info_box" data-top="70" data-left="850">
            <a href="javascript:;" class="details_icon"></a>
            <div class="tri"></div>
            <div class="details_info">
                <div class="details_img"><img src="images/detail1.jpg" alt=""></div>
                <h5>KELSTON<span class="mark">®</span> 凯尔登双花洒淋浴柱</h5>
                <h5 class="series_name">玫瑰金</h5>
    
                <p class="number">K-99032T-4-RGD</p>
                <a href="javascript:;" class="details_btn">点击查看详情</a>
            </div>
        </div>

        <div class="details_info_box" data-top="350" data-left="440">
            <a href="javascript:;" class="details_icon"></a>
            <div class="tri"></div>
            <div class="details_info">
                <div class="details_img"><img src="images/detail1.jpg" alt=""></div>
                <h5>KELSTON<span class="mark">®</span> 凯尔登双花洒淋浴柱</h5>
                <h5 class="series_name">玫瑰金</h5>
    
                <p class="number">K-99032T-4-RGD</p>
                <a href="javascript:;" class="details_btn">点击查看详情</a>
            </div>
        </div>

        <div class="details_info_box" data-top="275" data-left="80">
            <a href="javascript:;" class="details_icon"></a>
            <div class="tri"></div>
            <div class="details_info">
                <div class="details_img"><img src="images/detail1.jpg" alt=""></div>
                <h5>KELSTON<span class="mark">®</span> 凯尔登双花洒淋浴柱</h5>
                <h5 class="series_name">玫瑰金</h5>
    
                <p class="number">K-99032T-4-RGD</p>
                <a href="javascript:;" class="details_btn">点击查看详情</a>
            </div>
        </div>
        
    </div>
    <div id="series_scroll" class="series_scroll">
       <ul id="scroll_panel" class="scroll_panel clearfix">
       
				
				 <li icon-nums="3" data-top="70,350,275" data-left="850,440,80"><span 
					class="selected"></span><img src="images/series1.jpg" alt=""/></li>
			
				  #if(${data.hot_spots})
			#foreach($hot_spots in ${data.hot_spots})
				#if($velocityCount==1)
				 <li icon-nums="2" data-top="100,200" data-left="200,500"><span></span><img src="${hot_spots.image_id}" alt=""/></li>
				#end
				
				#if($velocityCount==2  && $velocityCount!=${data.hot_spots.size()})
				  <li icon-nums="4" data-top="150,250,350,400" data-left="250,350,450,550"><span></span><img src="${hot_spots.image_id}" alt=""/></li>
				#end
				
				#if($velocityCount==2  && $velocityCount==${data.hot_spots.size()})
				 <li class="last"><span></span><img src="${hot_spots.image_id}"  alt=""></li>
				#end
				
				#if($velocityCount>2     && $velocityCount!=${data.hot_spots.size()})
					 <li icon-nums="0"><span></span><img 

						src="${hot_spots.image_id}" alt=""/></li>
				#end
				#if($velocityCount>2    && $velocityCount==${data.hot_spots.size()})
					 <li class="last"><span></span><img 

						src="${hot_spots.image_id}" alt=""/></li>
				#end
			#end
			#end
        </ul>
    </div>
    <div class="scroll">
        <div id="scrollbar" class="scrollbar">
            <div class="handle"></div>
        </div>
    </div>
</div>
<!-- index_content end -->
<!-- pub_totop start -->
<div class="pub_totop">
    <div class="totop_btn"><img src="${data.base_url}images/totop.png" alt=""></div>
    <span>返回顶部</span>
</div>
<!-- pub_totop end -->
<!-- pub_footer start -->
#parse("footer_pc_cn.vm")
</div>
</body>
</html>