<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name='keywords' content='$!{data.seo.get(0).seo_keywords}&nbsp;'/>
    <meta name='description' content='$!{data.seo.get(0).seo_description}&nbsp;'/>
    #parse("style.vm")
    <title>$!{data.seo.get(0).seo_title}&nbsp;</title>
</head>
<body>
<div class="head_wrapper">
#parse("product_header_pc_cn.vm")
   #if(${data.breadcrumb_name})
   <div class="pub_submenu page_menu clearfix">
        <div class="submenu_panel bread actived">
            <div class="bread_panel clearfix">
                <a class="bread_link" href="index.html">首页</a>
               
				 #foreach($breadcrumb_name in ${data.breadcrumb_name})
				  <div class="bread_link" ><img src="${data.base_url}images/arrow2.png" alt=""></div>
                <a class="bread_link" href="${breadcrumb_name.url}">${breadcrumb_name.name}</a>
				#end
            </div>
        </div>
    </div>
	#end

	
	
	
    <div class="pub_search">
        <div class="pub_searchpanel">
            <div class="pub_searchbar">
                <input type="text" placeholder="请输入关键字或产品代码" />
                <div class="pub_searchicon"></div>
            </div>
            <div class="pub_searchhistory">
                <ul>
                    <li>艾贝</li>
                    <li>艾葆绰</li>
                    <li>艾黛儿</li>
                    <li>艾斯格尔独立套间</li>
                </ul>
                <div class="pub_searchall">查看所有搜索结果</div>
            </div>
        </div>
    </div>
</div>
<div class="content_wrapper">
<div class="pub_banner product">
    <div class="subwrapper kitchen">
		#if(${data.hero_areas})
        #foreach($hero_areas in ${data.hero_areas})
	 <div class="bgimg actived"><a href="$!{hero_areas.target_url}#" target="${hero_areas.operation}"><img src="${hero_areas.image_url}" alt="$!{hero_areas.image_alt}&nbsp;" style="width:100%"></a></div>
		#end
        <div class="banner_page product_icon clearfix">
		#foreach($hero_areas in ${data.hero_areas})
		#if(${velocityCount}==1)
			 <span index="${velocityCount}" class="selected"></span>
			#else
			 <span index="${velocityCount}"></span>
			#end
		#end
		#end
        </div>
    </div>
</div>
<div class="product_content newbaths">
    <div class="list">
        <div class="column clearfix">
            <div class="title clearfix">
                <h2 class="left">$!{data.breadcrumb_name.get(0).name}&nbsp;</h2>
                <div class="search">
                <p>排列方式</p>
                <ul class="select-panel clearfix">
                    <li class="option" value="">排列方式1</li>
                    <li class="option" value="">排列方式2</li>
                    <li class="option" value="">排列方式3</li>
                    <li class="option" value="">排列方式4</li>
                    <li class="option" value="">排列方式5</li>
                    <li class="option" value="">排列方式6</li>
                    <li class="option" value="">排列方式7</li>
                </ul>
                <!-- <span></span> -->
            </div>
            </div>
			#if(${data.banner_units})
			#foreach($banner_units in ${data.banner_units})
			#if(${banner_units.type}==1)<!--type是1的为图片-->
            <div class="item">
				<a href="#">
                <div class="item_img">
                    <img src="${banner_units.file_id}" alt="${banner_units.image_alt}" />
                </div>
                ${banner_units.image_overlay_text}
				 </a>
            </div>
			#end
			#if(${banner_units.type}==2)<!--type是2的为视频-->
            <div class="item">
				<a href="#">
                <div class="item_img">
                    <img src="${banner_units.file_id}" alt="${banner_units.image_alt}" />
                </div>
                ${banner_units.image_overlay_text}
				</a>
            </div>
			#end
			#end
			#end
        </div>
    </div> 
</div>
<div class="pub_totop">
    <div class="totop_btn"><img src="${data.base_url}images/totop.png" alt=""></div>
    <span>返回顶部</span>
</div>
#parse("footer_pc_cn.vm")
</body>
</html>