<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="max-age=300"/>
    <meta name='keywords' content='$!{date.seo.get(0).seo_keywords}'/>
    <meta name='description' content='$!{date.seo.get(0).seo_description}'/>
    <meta name="applicable-device" content="pc">
     #parse('test_style.vm')
    <title>$!{data.seo.get(0).seo_title}&nbsp;</title>
</head>
<body>
<div class="head_wrapper">
       <!--pub_header start-->
	   	#parse('header_pc_cn.vm')
	   <!--pub_header end-->
    <div class="pub_submenu pdp_menu clearfix">
        <div class="submenu_panel bread">
            <div class="bread_panel clearfix">
            #if(${data.breadcrumb_name})
					#set($Index=1)  
			    #foreach($param in ${data.breadcrumb_name})
						#if($Index > 1)
						  <div class="bread_link" ><img src="${data.base_url}images/arrow2.png" alt=""></div>
						#end	
						<a class="bread_link" href="${param.url}">
						${param.name}</a>
						#set($Index=$Index+1)  
			    #end
			#end  
            </div>
        </div>
    </div>
    <div class="pub_search">
        <div class="pub_searchpanel">
            <div class="pub_searchbar">
                <input type="text" placeholder="请输入关键字或产品代码" />
                <div class="pub_searchicon"></div>
            </div>
            <div class="pub_searchhistory">
                <ul>
                    <li>艾贝</li>
                    <li>艾葆绰</li>
                    <li>艾黛儿</li>
                    <li>艾斯格尔独立套间</li>
                </ul>
                <div class="pub_searchall">查看所有搜索结果</div>
            </div>
        </div>
    </div>
</div>
<div class="content_wrapper pdp">
<div class="product_warp clearfix">
    <div class="product_pic">
        <div class="product_main_pic">
            <div id="img-divs1" data-id="product1"></div>
            <div class="img-thumbnail-list clearfix">
                <div class="slides-bar" id="slides" style="display:none">
                    <ul class="clearfix">
                        <li data-id="toilet-pd1"><img src="http://s7d4.scene7.com/is/image/kohlerchina/toilet-pd1?wid=120&hei=120" alt=""></li>
                        <li data-id="toilet-pd1"><img src="http://s7d4.scene7.com/is/image/kohlerchina/toilet-pd1?wid=120&hei=120" alt=""></li>
                        <li data-id="toilet-pd1"><img src="http://s7d4.scene7.com/is/image/kohlerchina/toilet-pd1?wid=120&hei=120" alt=""></li>
                        <li data-id="toilet-pd1"><img src="http://s7d4.scene7.com/is/image/kohlerchina/toilet-pd1?wid=120&hei=120" alt=""></li>
                    </ul>
                    <div href="#" class="slidesjs-previous slidesjs-navigation"></div>
                    <div href="#" class="slidesjs-next slidesjs-navigation"></div>
                </div>
            </div>
        </div>

        <div class="product_title"><h2>${data.product.get(0).product_name} </h2></div>
        <div class="line560"></div>
        <ul class="product_intro">
            <li>${data.feature.get(0)}</li>
        </ul>
        <h3>产品属性</h3>
        <div class="line560"></div>
        <ul class="product_property">
        	#foreach($param in ${data.common_attr})
            <li><b>${param.category_com_attr_name} </b>${param.value}</li>
            #end
        </ul>
        <div class="product_widget_data">部件和资料</div>
        <div class="product_data_text">技术资料下载</div>
        <div class="line560"></div>
        <ul class="product_tech_data">
        #foreach($param in ${data.product_pdf})
            <li>${param.pdf_name}</li>
        </ul>
        #end
        <div class="product_data_text service">服务与支持</div>
        <div class="line560"></div>
        <div class="product_support_text">如您对此产品有任何疑问请致电我们的工作人员，他们会即使给您答复。</div>
        <ul class="product_contact">
            <li><b>联系方式：</b></li>
            <li><b>400-800-4537</b></li>
            <li class="product_contact_last">上午8:00至下午5:00，周一至周五</li>
        </ul>
        <div class="product_email_me"><p>给我们发邮件</p></div>
        <ul class="product_email_tips">
            <li><span>保养和清洁小贴士</span></li>
            <li><span>担保信息</span></li>
        </ul>
    </div>
    <div class="product_rightcontent">
        <div class="product_feature cabs">
            <!-- <h1>浴缸Forte®芙蒂四孔浴缸花洒龙头<br />K-72664T-4</h1> -->

            <p><b>颜色搭配：</b><span>橄榄绿</span></p>
            <ul class="product_color_warp clearfix">
                <li data-id="product1" class="cabs c1 selected"></li>
                <li data-id="product1" class="cabs c2"></li>
                <li data-id="product1" class="cabs c3"></li>
                <li data-id="product1" class="cabs c4"></li>
                <li data-id="product1" class="cabs c5"></li>
                <li data-id="product1" class="cabs c6"></li>
                <li data-id="product1" class="cabs c7"></li>
            </ul>
            <ul class="product_car_btn clearfix">
                <li class="product_btn_car"><i class="icon_car"></i>在线购买</li>
            </ul>
            <ul class="product_bottom_btn clearfix">
                <li class="product_btn">产品对比</li>
                <li class="product_btn">收藏</li>
                <li class="product_btn2"></li>
            </ul>
        </div>
        <div class="product_video">产品视频</div>
        <div class="product_video_content">
            <div class="icon_play"><img src="images/icon_play.png" alt=""></div>
            <div><img src="images/cab9.jpg"/></div>
            <p>产品视频介绍

            <p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="product_warp">
    <div class="product_title_fx product_mgnbottom">细节亮点</div>
    <div class="index_series">
        <div class="series_panel">
            <div class="series_panel_img actived"><img src="images/cab10.jpg" alt=""></div>
            <div class="series_panel_img"><img src="images/cab10.jpg" alt=""></div>
            <div class="series_panel_img"><img src="images/series2.jpg" alt=""></div>
            <div class="series_panel_img"><img src="images/series1.jpg" alt=""></div>
            <div class="series_panel_img"><img src="images/series2.jpg" alt=""></div>
            <div class="series_panel_img"><img src="images/series1.jpg" alt=""></div>
            <div class="series_panel_img"><img src="images/series2.jpg" alt=""></div>
            <div class="series_panel_img"><img src="images/series1.jpg" alt=""></div>
            <div class="series_panel_img"><img src="images/series2.jpg" alt=""></div>
            <div class="series_panel_img"><img src="images/series1.jpg" alt=""></div>

            <div class="series_info">
                <h4>Persuade® 珀斯唯一体化盆</h4>

                <p>蕴聚传统风格与魅力，三层雕刻外形，精雕细琢。珀特勒浴缸为装修添彩，使现代家居更趋完美。</p>
            </div>
        </div>
        <div id="series_scroll" class="series_scroll">
            <ul id="scroll_panel" class="scroll_panel clearfix">
                <li><span class="selected"></span><img src="images/cab11.jpg" alt=""/></li>
                <li><span></span><img src="images/cab12.jpg" alt=""/></li>
                <li><span></span><img src="images/cab13.jpg" alt=""/></li>
                <li><span></span><img src="images/cab14.jpg" alt=""/></li>
                <li><span></span><img src="images/series2x.jpg" alt=""/></li>
                <li><span></span><img src="images/series2x.jpg" alt=""/></li>
                <li><span></span><img src="images/series2x.jpg" alt=""/></li>
                <li><span></span><img src="images/series2x.jpg" alt=""/></li>
                <li><span></span><img src="images/series2x.jpg" alt=""/></li>
                <li><span></span><img src="images/series2x.jpg" alt=""/></li>
                <li class="last"><span></span><img src="images/series2x.jpg" alt=""></li>
            </ul>
        </div>
        <div class="scroll">
            <div id="scrollbar" class="scrollbar">
                <div class="handle"></div>
            </div>
        </div>
    </div>
</div>
<div class="product_recommend_warp">
    <div class="product_recommend">
        <div class="product_recommend_pic"><img src="images/cab15.jpg"/></div>
        <div class="product_recommend_info">
            <h2>Corila 凯瑞拉™ </h2>
            <h2 class="info">四孔缸边式浴缸花洒龙头</h2>
            <p>错落有致、相映相衬。吊柜的高雅，正如优雅纯净的女主人；底柜的刚正，更如自信简约的男主人。你中有我，我中有你，让爱相映成趣。</p>
            <h5>错落有致、相映相衬。吊柜的高雅，正如优雅纯净的女主人；底柜的刚正，更如自信简约的男主人。你中有我，我中有你，让爱相映成趣。</h5>
        </div>
    </div>
</div>
<div class="product_warp">
    <div class="product_title_fx">推荐产品</div>
    <div class="product_associated clearfix boxmgn">
        <div class="slides-bar" id="same_slides">
        <ul class="clearfix">
        <li>
            <a href="bathspd.html">
            <div class="item_img"><img src="images/cab16.jpg" alt=""></div>
					<span>
						<h3>Corila™-G 凯瑞拉</h3>
						<p class="cabs">简洁的造型，机具线条感和纹理感，简单与易用，坚固与耐久，都处处得以体现。</p>
						<!-- <p class="type">K-72625T-9-CP</p> -->
					</span>
                </a>
        </li>
        <li>
            <a href="bathspd.html">
            <div class="item_img"><img src="images/cab17.jpg" alt=""></div>
					<span>
						<h3>Prelude™ 佩鲁德</h3>
						<p class="cabs">两点之间直线最短。科勒橱柜的佩鲁德系列充分体现了这一理念…</p>
						<!-- <p class="type">K-72625T-9-CP</p> -->
					</span>
                </a>
        </li>
        <li>
            <a href="bathspd.html">
            <div class="item_img"><img src="images/cab18.jpg" alt=""></div>
					<span>
						<h3>Purist™ 飘瑞诗</h3>
						<p class="cabs">第一次见到科勒瑞塔系列，仿佛是回到从前的某一刻，您遇到了…</p>
						<!-- <p class="type">K-72625T-9-CP</p> -->
					</span>
                </a>
        </li>
        <li>
            <a href="bathspd.html">
            <div class="item_img"><img src="images/cab19.jpg" alt=""></div>
					<span>
						<h3>Pastorife™ 帕斯特罗</h3>
						<p class="cabs">没有任何瑕疵的橱柜，科勒布里斯托系列以其厚实的实木构造和…</p>
						<!-- <p class="type">K-72625T-9-CP</p> -->
					</span>
                </a>
        </li>
        </ul>
        <ul class="clearfix">
        <li>
            <a href="bathspd.html">
            <div class="item_img"><img src="images/products1.jpg" alt="">
                    <span>
                        <h3>MARGAUX®玛尔戈</h3>
                        <p>恒温浴缸花洒龙头</p>
                        <p class="type">K-72625T-9-CP</p>
                    </span>
                </a>
        </li>
        <li>
            <a href="bathspd.html">
            <div class="item_img"><img src="images/products1.jpg" alt=""></div>
                    <span>
                        <h3>MARGAUX®玛尔戈</h3>
                        <p>恒温浴缸花洒龙头</p>
                        <p class="type">K-72625T-9-CP</p>
                    </span>
                </a>
        </li>
        <li>
            <a href="bathspd.html">
            <div class="item_img"><img src="images/products1.jpg" alt=""></div>
                    <span>
                        <h3>MARGAUX®玛尔戈</h3>
                        <p>恒温浴缸花洒龙头</p>
                        <p class="type">K-72625T-9-CP</p>
                    </span>
                </a>
        </li>
        <li>
            <a href="bathspd.html">
            <div class="item_img"><img src="images/products1.jpg" alt=""></div>
                    <span>
                        <h3>MARGAUX®玛尔戈</h3>
                        <p>恒温浴缸花洒龙头</p>
                        <p class="type">K-72625T-9-CP</p>
                    </span>
                </a>
        </li>
        </ul>
        <div href="#" class="slidesjs-previous slidesjs-navigation icon_left1"></div>
        <div href="#" class="slidesjs-next slidesjs-navigation icon_right1"></div>
    </div>
    </div>
</div>
<div class="pub_totop">
    <div class="totop_btn"><img src="images/totop.png" alt=""></div>
    <span>返回顶部</span>
</div>
<div class="pub_footer">
    <div class="subnav">
        <div class="layout about">
            <h4>关于科勒</h4>
            <ul>
                <li><a href="" rel="nofollow">关于我们</a></li>
                <li><a href="contact.html" rel="nofollow">联系我们</a></li>
                <li><a href="" rel="nofollow">新闻中心</a></li>
                <li><a href="support.html" rel="nofollow">售后支持</a></li>
                <li><a href="" rel="nofollow">招贤纳士</a></li>
            </ul>
        </div>
        <div class="layout">
            <h4><br/></h4>
            <ul>
                <li><a href="" rel="nofollow">网站地图</a></li>
                <li><a href="" rel="nofollow">科勒全球</a></li>
                <li><a href="" rel="nofollow">法律声明</a></li>
                <li><a href="" rel="nofollow">隐私条款</a></li>
                <li><a href="" rel="nofollow">App下载</a></li>
            </ul>
        </div>
        <div class="layout brand">
            <h4>旗下品牌</h4>
            <ul>
                <li><a href="" rel="nofollow">Sterling</a></li>
                <li><a href="" rel="nofollow">Kallista</a></li>
                <li><a href="" rel="nofollow">Ann Sacks</a></li>
                <li><a href="" rel="nofollow">Robern</a></li>
            </ul>
        </div>
        <div class="layout media">
            <h4>社交媒体</h4>
            <ul>
                <li class="blog"><a href="" rel="nofollow"><i></i><span>新浪微博</span></a></li>
                <li class="qqblog"><a href="" rel="nofollow"><i></i><span>腾讯微博</span></a></li>
                <li class="douban"><a href="" rel="nofollow"><i></i><span>豆瓣网</span></a></li>
                <li class="renren"><a href="" rel="nofollow"><i></i><span>人人网</span></a></li>
                <li class="qzone"><a href="" rel="nofollow"><i></i><span>QQ空间</span></a></li>
                <li class="wechat"><a href="" rel="nofollow"><i></i><span>微信</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="pub_copyright">
    <div class="copyright"><p>© Kohler Co. All Rights Reserved</p></div>
</div>
</div>
</body>
</html>