<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="max-age=300"/>
    <meta name='keywords' content='$!{date.seo.get(0).seo_keywords}'/>
    <meta name='description' content='$!{date.seo.get(0).seo_description}'/>
    <meta name="applicable-device" content="pc">
     #parse('test_style.vm')
    <title>$!{data.seo.get(0).seo_title}&nbsp;</title>
</head>
<body>
<div class="head_wrapper">
       <!--pub_header start-->
	   	#parse('header_pc_cn.vm')
	   <!--pub_header end-->
    <div class="pub_submenu pdp_menu clearfix">
        <div class="submenu_panel bread">
            <div class="bread_panel clearfix">
            #if(${data.breadcrumb_name})
					#set($Index=1)  
			    #foreach($param in ${data.breadcrumb_name})
						#if($Index > 1)
						  <div class="bread_link" ><img src="${data.base_url}images/arrow2.png" alt=""></div>
						#end	
						<a class="bread_link" href="${param.url}">
						${param.name}</a>
						#set($Index=$Index+1)  
			    #end
			#end  
            </div>
        </div>
    </div>
    <div class="pub_search">
        <div class="pub_searchpanel">
            <div class="pub_searchbar">
                <input type="text" placeholder="请输入关键字或产品代码" />
                <div class="pub_searchicon"></div>
            </div>
            <div class="pub_searchhistory">
                <ul>
                    <li>艾贝</li>
                    <li>艾葆绰</li>
                    <li>艾黛儿</li>
                    <li>艾斯格尔独立套间</li>
                </ul>
                <div class="pub_searchall">查看所有搜索结果</div>
            </div>
        </div>
    </div>
</div>
<div class="content_wrapper pdp">
<div class="product_warp clearfix">
    <div class="product_pic">
        <div class="product_main_pic">
            <div id="img-divs1" data-id="toilet-pd1"></div>
            <div class="img-thumbnail-list clearfix">
                <div class="slides-bar" id="slides" style="display:none">
                    <ul class="clearfix">
                    #if(${data.sku})
                        #foreach($param in ${data.sku})
						#if($velocityCount>=1 && $velocityCount<=4)
                    	<li data-id="toilet-pd"><img width='120' height='120' src="${param.detail_image2_url}"></li>
                    	#end
                    	#end
					#end
                    </ul>
                    <ul class="clearfix">
					#if(${data.sku})
                        #foreach($param in ${data.sku})
						#if($velocityCount>=5 && $velocityCount<=8)
                    	<li data-id="toilet-pd1-black"><img src="${param.detail_image2_url}"></li>
                    	#end
                    	#end
					#end
                    </ul>
                    <div href="#" class="slidesjs-previous slidesjs-navigation"></div>
                    <div href="#" class="slidesjs-next slidesjs-navigation"></div>
                </div>
            </div>
        </div>
        <div class="product_title"><h2>${data.product.get(0).product_name}</h2></div>
        <div class="line560"></div>
        <ul class="product_intro">
            $!{data.feature.get(0)}
        </ul>
        <h3>产品属性</h3>

        <div class="line560"></div>
        <ul class="product_property">
            #foreach($param in ${data.common_attr})
	   		<li><b>${param.category_com_attr_name}: </b>${param.value}</li>
	    	#end
        </ul>
        <h3>获奖情况</h3>

        <div class="line560"></div>
        <ul class="product_brand_logo clearfix">
            <li><img src="base_url/images/brand_logo1.jpg"/></li>
            <li><img src="base_url/images/brand_logo2.jpg"/></li>
            <li><img src="base_url/images/brand_logo3.jpg"/></li>
        </ul>
    </div>
    <div class="product_rightcontent">
        <div class="product_feature">
            <h1>Memoirs®梅玛非标开门淋浴房<br /><span>K-3722T-0</span></h1>
            <p class="color"><b>颜色：</b><span>白色</span></p>
            <ul class="product_color_warp clearfix">
                <li data-id="toilet-pd1" color="白色" class="selected"></li>
                <li data-id="toilet-pd1-black" color="黑色" class="black"></li>
            </ul>
            <p class="param1"><b>坑距：</b></p>
            <ul class="product_param_warp clearfix">
                <li data-sku="1234567" class="selected">305mm</li>
                <li>400mm</li>
            </ul>
            <p class="param2"><b>盖板类型：</b></p>
            <ul class="product_param_warp clearfix">
                <li class="selected">缓降</li>
                <li>非缓降</li>
            </ul>
            <ul class="product_car_btn clearfix">
                <li class="product_btn_car"><i class="icon_car"></i>在线购买</li>
            </ul>
            <ul class="product_bottom_btn clearfix">
                <li class="product_btn">产品对比</li>
                <li class="product_btn">收藏</li>
                <li class="product_btn2"></li>
            </ul>
        </div>
        <div class="product_video">产品视频</div>
        
        <div class="product_video_content">
         #foreach($param in ${data.product_video})
             <div class="item">
            <div class="item_img"><!-- <img src="${data.base_url}images/bathroom_item1.jpg" alt=""/> --><div id='d$velocityCount' aa="${product_video.video_url}"></div></div>
			   <script type='text/javascript'>
        $(function(){
            /**
             * 使用说明
             * 首先载入上方的 CSS文件以及JS文件
             * 本播放器强制了FLASH格式，也就是说只支持FLV视频格式，如果要兼容其他视频格式，需要调整JS代码
             * SWF为FLASH播放器的路径地址
             * 参数说明
             * arguments[0]:需要载入播放器的容器ID
             * width : 播放器宽度
             * height : 播放器的高度
             * autoplay : 是否自动播放
             * loop : 是否循环播放
             * poster ： 播放器播放之前展示的图片
             * flv : Flash 视频的地址
             */
            // 视频播放器代码
            var myVideo = new MYPUMA.PumaVideo('../../../../js/video-js.swf');
            myVideo.create('d$velocityCount',{'width':312,'height':220,'autoplay':false,'loop':false,'poster':'../../../../images/bathroom_item1.jpg','flv':'${param.video_url}'});
        });
        
   	 </script>	
   	  </div>	
      #end	
        
      
      
            <p>产品视频介绍

            <p>
        </div>
        <div class="product_template">文档下载</div>
        <div class="line320"></div>
        <ul class="product_tech_data">
             #foreach($param in ${data.product_pdf})
        	<li>${param.pdf_name}</li>
             #end
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<div class="product_warp">
    <div class="product_title_fx">座便器安装三件套及盖板</div>
    <div class="product_associated clearfix pro1">
        <div class="slides-bar" id="slides1">
        <ul class="clearfix">
        #foreach($param in ${data.recommended})
        	<li>	
            <a href="toiletspd.html">
                <div class="item_img"><img src="${param.product_url}"></div>
				<span>
					<h3>$!{param.product_name}</h3>
					<p><br /></p>
					<p class="type">$!{param.sku_code}</p>
				</span>
            </a>
        	</li>
        	#end
        </ul>
        <div href="#" class="slidesjs-previous slidesjs-navigation icon_left1"></div>
        <div href="#" class="slidesjs-next slidesjs-navigation icon_right1"></div>
        </div>
    </div>
    <div class="product_title_fx">相同价位的同样设计风格的产品</div>
    <div class="product_associated clearfix boxmgn">
        <div class="slides-bar" id="slides2">
            #foreach($param in ${data.same_price})
        <li>
            <a href="toiletspd.html">
            <div class="item_img"><img src="${data.product_url}" alt=""></div>
					<span>
						<h3>$!{param.product_name}</h3>
						<p>${param.collection_name}</p>
						<p class="type">${param.sku_code}</p>
					</span>
            </a>
        </li>
           #end
        </ul>
        </div>
    </div>
    <div class="product_title_fx product_mgnbottom">同产品线不同冲水平台的产品</div>
    <div class="index_series">
        <div class="series_panel clearfix">
        #foreach($param in ${data.same_line})
            <div class="series_panel  actived"><img src="${param.product_url}"></div>
            <div class="series_info">
          #end
                <h4>$!{param.product_name}</h4>
                <p>$!{param.collection_name}</p>
            </div>
        </div>
        <div id="series_scroll" class="series_scroll">
            <ul id="scroll_panel" class="scroll_panel clearfix">
            #foreach($param in ${data.same_line})
                <li><span class="selected"></span><img src="${param.product_url}"/></li>
            </ul>
            #end
        </div>
        <div class="scroll">
            <div id="scrollbar" class="scrollbar">
                <div class="handle"></div>
            </div>
        </div>
    </div>
    <div class="product_data_text service">服务与支持</div>
    <div class="line960"></div>
    <div class="product_support_text">如您对此产品有任何疑问请致电我们的工作人员，他们会即使给您答复。</div>
    <ul class="product_contact">
        <li><b>联系方式：</b></li>
        <li><b>400-800-4537</b></li>
        <li class="product_contact_last">上午8:00至下午5:00，周一至周五</li>
    </ul>
    <div class="product_email_me"><p>给我们发邮件</p></div>
    <ul class="product_email_tips bottom">
        <li><span>保养和清洁小贴士</span></li>
        <li><span>担保信息</span></li>
    </ul>

</div>
<div class="pub_totop">
    <div class="totop_btn"><img src="images/totop.png" alt=""></div>
    <span>返回顶部</span>
</div>
<div class="pub_footer">
    <div class="subnav">
        <div class="layout about">
            <h4>关于科勒</h4>
            <ul>
                <li><a href="" rel="nofollow">关于我们</a></li>
                <li><a href="contact.html" rel="nofollow">联系我们</a></li>
                <li><a href="" rel="nofollow">新闻中心</a></li>
                <li><a href="support.html" rel="nofollow">售后支持</a></li>
                <li><a href="" rel="nofollow">招贤纳士</a></li>
            </ul>
        </div>
        <div class="layout">
            <h4><br/></h4>
            <ul>
                <li><a href="" rel="nofollow">网站地图</a></li>
                <li><a href="" rel="nofollow">科勒全球</a></li>
                <li><a href="" rel="nofollow">法律声明</a></li>
                <li><a href="" rel="nofollow">隐私条款</a></li>
                <li><a href="" rel="nofollow">App下载</a></li>
            </ul>
        </div>
        <div class="layout brand">
            <h4>旗下品牌</h4>
            <ul>
                <li><a href="" rel="nofollow">Sterling</a></li>
                <li><a href="" rel="nofollow">Kallista</a></li>
                <li><a href="" rel="nofollow">Ann Sacks</a></li>
                <li><a href="" rel="nofollow">Robern</a></li>
            </ul>
        </div>
        <div class="layout media">
            <h4>社交媒体</h4>
            <ul>
                <li class="blog"><a href="" rel="nofollow"><i></i><span>新浪微博</span></a></li>
                <li class="qqblog"><a href="" rel="nofollow"><i></i><span>腾讯微博</span></a></li>
                <li class="douban"><a href="" rel="nofollow"><i></i><span>豆瓣网</span></a></li>
                <li class="renren"><a href="" rel="nofollow"><i></i><span>人人网</span></a></li>
                <li class="qzone"><a href="" rel="nofollow"><i></i><span>QQ空间</span></a></li>
                <li class="wechat"><a href="" rel="nofollow"><i></i><span>微信</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="pub_copyright">
    <div class="copyright"><p>© Kohler Co. All Rights Reserved</p></div>
</div>
</div>
</body>
</html>