 <div class="pub_header">
        <div class="login_panel">
            <ul>
                <li class="language"><a href=""><i></i><span>English</span></a></li>
                <li class="login"><a href=""><i></i><span>登录/注册</span></a></li>
                <li class="favorite"><a href=""><i></i><span>我的收藏</span></a></li>
                <li class="shop"><a href="address.html"><i></i><span>查找店铺</span></a></li>
            </ul>
        </div>
    </div>
    <div class="pub_nav">
        <div class="nav_panel">
            <a href="index.html" class="logo"></a>
            <ul class="menu">
                <li><a href="bathroom.html"><h1>卫浴产品</h1></a></li>
                <li class="hovered"><a href="kitchen.html"><h1>厨房产品</h1></a></li>
                <li><a href=""><h1>家居畅想</h1></a></li>
                <li><a href=""><h1>设计师之家</h1></a></li>
                <li><a href=""><h1>最新资讯</h1></a></li>
            </ul>
            <div class="search_panel"></div>
        </div>
    </div>
    <div class="pub_submenu page_menu clearfix">
        <div class="submenu_panel">
            <ul>
                <li class="first">
                    <p index="bathroom_list1" href="">座便器</p>
                </li>
                <li>
                    <p index="bathroom_list2" href="">一体超感座便器</p>
                </li>
                <li>
                    <p index="bathroom_list3" href="">智能座便盖</p>
                </li>
                <li>
                    <p index="bathroom_list4" href="">座便器盖板及净身器</p>
                </li>
                <li>
                    <p index="bathroom_list5" href="">浴缸</p>
                </li>
                <li>
                    <p index="bathroom_list6" href="">浴室龙头</p>
                </li>
                <li>
                    <p index="bathroom_list7" href="">淋浴房</p>
                </li>
                <li>
                    <p index="bathroom_list8" href="">梳妆</p>
                </li>
                <li>
                    <p index="bathroom_list9" href="">浴室配件</p>
                </li>
                <li>
                    <p index="bathroom_list10" href="">商用产品</p>
                </li>
                <li class="first">
                    <p index="bathroom_list11" href="">套间</p>
                </li>
                <li>
                    <p index="bathroom_list12" href="">艺术系列</p>
                </li>
                <li>
                    <p index="bathroom_list13" href="">卫浴新品</p>
                </li>
            </ul>
        </div>
		#if(${data.Categories})
	
        <div class="submenu_panel actived">
            <ul>
			#foreach($Categories in ${data.Categories})
				#if($velocityCount==1)
				<li class="first">
                    <p index="kitchen_list$velocityCount">$!{Categories.category_name}&nbsp;</p>
				</li>
				#elseif($velocityCount!=1  && $velocityCount!=${Categories.size()})
				<li>
                    <p index="kitchen_list$velocityCount">$!{Categories.category_name}&nbsp;</p>
				</li>
				#else
				 
				
				<li class="last">
                    <p index="kitchen_list$velocityCount">$!{Categories.category_name}&nbsp;</p>
                </li>
				#end
			#end
            </ul>
        </div>
		#end
    </div>
    <div class="pub_search">
        <div class="pub_searchpanel">
            <div class="pub_searchbar">
                <input type="text" placeholder="请输入关键字或产品代码" />
                <div class="pub_searchicon"></div>
            </div>
            <div class="pub_searchhistory">
                <ul>
                    <li>艾贝</li>
                    <li>艾葆绰</li>
                    <li>艾黛儿</li>
                    <li>艾斯格尔独立套间</li>
                </ul>
                <div class="pub_searchall">查看所有搜索结果</div>
            </div>
        </div>
    </div>
</div>